<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiExport, mdiMagnify, mdiMapMarker, mdiPlus } from '@mdi/js'
import { useToast } from 'primevue/usetoast'
import { ref, onMounted, reactive } from 'vue'
import { useBranchExportStore } from '@/stores/store.branchexport.js'
import moment from 'moment'
import { useRouter } from 'vue-router'
import { roles } from '@/constants/role.js'

const router = useRouter()
const expandedRows = ref([])
const toast = useToast()
const useBranchExport = useBranchExportStore()
const exports = ref()
const userRole = inject('userRole')
const paging = ref({})
const paginator = ref({
    SearchWord: null,
    CurrentPage: 1,
    PageSize: 5,
    PageRange: 5,
    DateFilter: 0
})
//option date
const selectedDate = ref()
const dateOption = ref([
    { name: 'Tất cả', id: 0 },
    { name: 'Tuần nay', id: 1 },
    { name: 'Tháng nay', id: 2 },
    { name: 'Năm nay', id: 3 }
])

//pagination
onMounted(async () => {
    const response = await useBranchExport.getBranchExportList(paginator.value)
    exports.value = response.items
    paging.value = response.pagination
})

watch(paginator.value, async (current, previous) => {
    const response = await useBranchExport.getBranchExportList(current)
    exports.value = response.items
    paging.value = response.pagination
})
watch(selectedDate, async (current, previous) => {
    paginator.value.DateFilter = current.id
    const response = await useBranchExport.getBranchExportList(paginator.value)
    exports.value = response.items
    paging.value = response.pagination
})
const setCurrent = (pageInfo) => {
    paginator.value.CurrentPage = computed(() => pageInfo.page + 1).value
    paginator.value.PageSize = pageInfo.rows
    paginator.value.PageRange = 5
}

//format date
const format_date = (value) => {
    if (value != '0001-01-01T00:00:00') {
        return moment(String(value)).format('YYYY-MM-DD')
    } else {
        return 'Chưa xuất'
    }
}

const onRowExpand = (event) => {
    toast.add({ severity: 'info', summary: 'Mở rộng đơn xuất hàng', life: 3000 })
}
const onRowCollapse = (event) => {
    toast.add({ severity: 'success', summary: 'Thu gọn đơn xuất hàng', life: 3000 })
}
const expandAll = () => {
    expandedRows.value = exports.value.filter((p) => p.exportId)
}
const collapseAll = () => {
    expandedRows.value = null
}
//format number
const formatNumber = (value) => {
    return new Intl.NumberFormat().format(value)
}
//format currency
const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}

const getValueApprovalStatus = (approvalStatus) => {
    switch (approvalStatus) {
        case 3:
            return 'Đã xuất kho'

        default:
            return null
    }
}
</script>
<template>
    <div>
        <div class="card mt-4">
            <DataTable
                v-model:expandedRows="expandedRows"
                dataKey="exportId"
                :value="exports"
                @rowExpand="onRowExpand"
                @rowCollapse="onRowCollapse"
                tableStyle="min-width: 60rem"
            >
                <template #empty>
                    <div class="flex align-items-center justify-content-center my-4">
                        <h6 class="text-center">Không có dữ liệu</h6>
                    </div>
                </template>
                <template #header>
                    <span class="text-xl text-900 font-bold">Danh sách đơn xuất hàng</span>
                    <div class="d-flex flex-wrap justify-content-between mt-2">
                        <div>
                            <span class="p-input-icon-left">
                                <svg-icon type="mdi" :path="mdiMagnify"></svg-icon>
                                <InputText v-model="paginator.SearchWord" placeholder="Tìm kiếm..." />
                            </span>
                            <Dropdown
                                v-model="selectedDate"
                                :options="dateOption"
                                optionLabel="name"
                                placeholder="Ngày xuất"
                                class="w-full md:w-14rem ms-2"
                            />
                        </div>
                        <div v-if="userRole === roles.Branch_WD.roleId">
                            <router-link to="/create-branch-export">
                                <Button severity="success" class="me-2 rounded fw-bold"
                                    ><svg-icon type="mdi" :path="mdiPlus"></svg-icon> Tạo đơn xuất hàng</Button
                                >
                            </router-link>
                        </div>
                    </div>
                    <Button text icon="pi pi-plus" label="Mở rộng tất cả" @click="expandAll" />
                    <Button text icon="pi pi-minus" label="Thu gọn tất cả" @click="collapseAll" />
                </template>
                <Column expander style="width: 5rem" />
                <Column field="exportCode" header="Mã đơn xuất">
                    <template #body="{ data }">
                        <router-link
                            :to="{ name: 'branch-export-detail', params: { exportId: data.exportId } }"
                            class="text-decoration-none"
                        >
                            {{ data.exportCode }}
                        </router-link>
                    </template>
                </Column>
                <Column header="Ngày xuất" dataType="exportDate">
                    <template #body="{ data }">
                        {{ format_date(data.exportDate) }}
                    </template>
                </Column>
                <Column header="Trạng thái">
                    <template #body="slotProps">
                        <Tag :value="getValueApprovalStatus(slotProps.data.approvalStatus)" severity="success" />
                    </template>
                </Column>
                <Column field="nameExportBy" header="Nhân viên xuất"></Column>
                <Column field="totalPrice" header="Giá trị đơn">
                    <template #body="slotProps">
                        {{ formatCurrency(slotProps.data.totalPrice) }}
                    </template>
                </Column>

                <template #expansion="slotProps">
                    <div class="p-3">
                        <h5>Đơn hàng {{ slotProps.data.exportCode }}</h5>
                        <DataTable :value="slotProps.data.wmsBranchExportProducts">
                            <Column header="Ảnh sản phẩm" style="min-width: 14rem">
                                <template #body="{ data }">
                                    <div class="flex align-items-center gap-2">
                                        <img
                                            :alt="data.productImage"
                                            :src="data.productImage"
                                            style="width: 32px"
                                            class="rounded-circle me-2"
                                        />
                                    </div>
                                </template>
                            </Column>
                            <Column field="productName" header="Tên sản phẩm" sortable></Column>
                            <Column field="unitPrice" header="Giá" sortable>
                                <template #body="slotProps">
                                    {{ formatCurrency(slotProps.data.unitPrice) }}
                                </template>
                            </Column>
                            <Column field="quantity" header="Số lượng xuất" sortable>
                                <template #body="slotProps">
                                    {{ formatNumber(slotProps.data.quantity) }}
                                </template>
                            </Column>
                            <Column field="totalPrice" header="Thành tiền" sortable>
                                <template #body="slotProps">
                                    {{ formatCurrency(slotProps.data.totalPrice) }}
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </template>
            </DataTable>
            <Paginator :totalRecords="paging.totalItem" :rows="paging.pageSize" :rowsPerPageOptions="[5, 10, 20]" @page="setCurrent" />
            <Toast />
        </div>
    </div>
</template>
