<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import {
    mdiPlus,
    mdiCheckCircle,
    mdiCheckCircleOutline,
    mdiPlusCircle,
    mdiCircleSmall,
    mdiMenuDown,
    mdiCash,
    mdiCircleHalfFull,
    mdiCalendarMonth
} from '@mdi/js'
import { useToast } from 'primevue/usetoast'
import { ref, onMounted, reactive } from 'vue'
import { useBranchExportStore } from '@/stores/store.branchexport.js'
import moment from 'moment'
import { useRouter } from 'vue-router'

const router = useRouter()
const toast = useToast()
const useBranchExport = useBranchExportStore()
const branchExport = ref()
const exportId = ref(router.currentRoute.value.params.exportId || '')

onMounted(async () => {
    branchExport.value = await useBranchExport.getBranchExportDetails(exportId.value)
})

//current date
const currentDate = new Date()
//format date
const format_date = (value) => {
    if (value) {
        return moment(String(value)).format('DD/MM/YYYY HH:mm')
    } else {
        return ''
    }
}
//format number
const formatNumber = (value) => {
    return new Intl.NumberFormat().format(value)
}
//format currency
const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}
const getValueApprovalStatus = (approvalStatus) => {
    switch (approvalStatus) {
        case 3:
            return 'Đã xuất kho'

        default:
            return null
    }
}
</script>
<template>
    <div v-if="branchExport">
        <div class="row">
            <div class="col-12 d-flex justify-content-end bg-white rounded">
                <router-link to="/branch-export-list">
                    <Button severity="secondary" class="m-2 rounded" label="Thoát" outlined raised />
                </router-link>
                <div v-if="branchExport.approvalStatus === 0">
                    <Button severity="info" class="m-2 rounded" label="Duyệt" raised />
                </div>
            </div>
        </div>

        <div class="mt-4">
            <span class="text-uppercase fw-bolder">{{ branchExport.exportCode }}</span>
            <span class="text-secondary m-2" style="font-size: 12px">{{ format_date(branchExport.exportDate) }}</span>
            <Tag :value="getValueApprovalStatus(branchExport.approvalStatus)" severity="success" rounded />
        </div>
        <div class="row mt-4">
            <div v-if="branchExport.approvalStatus === 1" class="col-7 p-3 bg-white rounded">
                <p class="fw-bolder">
                    <svg-icon class="text-success" type="mdi" :path="mdiCheckCircle"></svg-icon>
                    Đơn hàng đã xuất kho
                </p>
                <hr />
                <p>
                    <svg-icon class="text-primary" type="mdi" :path="mdiCircleSmall"></svg-icon>
                    {{ branchExport.exportCode }}
                    <svg-icon class="text-primary" type="mdi" :path="mdiMenuDown"></svg-icon>
                    <span class="text-secondary">{{ format_date(branchExport.exportDate) }}</span>
                </p>
                <div class="d-flex justify-content-between p-2" style="background-color: rgb(233, 244, 255)">
                    <p class="fw-bolder my-auto">
                        <svg-icon class="text-success" type="mdi" :path="mdiCheckCircle"></svg-icon>
                        Đơn xuất hàng đã thanh toán
                    </p>
                    <p class="my-auto">
                        Đã trả:
                        <span class="fw-bolder">{{ formatCurrency(branchExport.totalPrice) }}</span>
                    </p>
                </div>
            </div>
            <div v-if="branchExport.approvalStatus === 1" class="col-1"></div>
            <div
                :class="{ 'col-12': branchExport.approvalStatus === 0, 'col-4': branchExport.approvalStatus === 1 }"
                class="p-3 bg-white rounded"
            >
                <p class="fw-bolder">Thông tin đơn hàng</p>
                <div>
                    <span class="m-0">Kho xuất: Cần trả thêm tên kho nhánh</span>
                </div>
                <div>
                    <span class="m-0"> Xuất bởi: {{ branchExport.nameExportBy }}</span>
                </div>
                <div>
                    <span class="m-0">Ngày xuất: {{ format_date(branchExport.exportDate) }}</span>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 p-3 bg-white rounded">
                <p class="fw-bolder">Thông tin sản phẩm</p>
                <DataTable :value="branchExport.wmsBranchExportProducts" tableStyle="min-width: 50rem">
                    <Column header="Ảnh" style="min-width: 14rem">
                        <template #body="{ data }">
                            <div class="flex align-items-center gap-2">
                                <img :alt="data.productImage" :src="data.productImage" style="width: 32px" class="rounded me-2" />
                            </div>
                        </template>
                    </Column>
                    <Column field="productName" header="Tên sản phẩm"></Column>
                    <Column field="unitPrice" header="Đơn giá">
                        <template #body="slotProps">
                            {{ formatCurrency(slotProps.data.unitPrice) }}
                        </template>
                    </Column>
                    <Column field="quantity" header="SL Đặt">
                        <template #body="slotProps">
                            {{ formatNumber(slotProps.data.quantity) }}
                        </template>
                    </Column>
                    <Column field="totalPrice" header="Thành tiền">
                        <template #body="slotProps">
                            {{ formatCurrency(slotProps.data.totalPrice) }}
                        </template>
                    </Column>
                </DataTable>
                <hr />
                <div class="row">
                    <div class="col-8 p-3"></div>
                    <div class="col-4 p-3 d-flex justify-content-between">
                        <div>
                            <p>Số lượng</p>
                            <p>Tổng tiền</p>
                            <p class="fw-bolder">Tiền cần trả</p>
                        </div>
                        <div>
                            <p>
                                {{
                                    formatNumber(
                                        branchExport.wmsBranchExportProducts.reduce((total, product) => total + product.quantity, 0)
                                    )
                                }}
                            </p>
                            <p>{{ formatCurrency(branchExport.totalPrice) }}</p>
                            <p class="fw-bolder">{{ formatCurrency(branchExport.totalPrice) }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
