<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiLock } from '@mdi/js'
import { useUserStore } from '@/stores/store.user.js'
import yup from '@/utils/yup.methods'
import debounce from 'lodash.debounce'
import { useForm } from 'vee-validate'
import { useToast } from 'primevue/usetoast'

const userStore = useUserStore()
const isDisabled = ref(false)
const toast = useToast()
const isSuccess = ref(true)

const props = defineProps({
    userItem: String
})

const schema = yup.object({
    oldPassword: yup.string().required('Hãy nhập mật khẩu hiện tại!'),
    //.isValidPassword('Mật khẩu phải tối thiểu 8 ký tự, ít nhất một chữ hoa, một chữ thường, một số và một ký tự đặc biệt!')
    newPassword: yup
        .string()
        .required('Hãy nhập mật khẩu hiện tại!')
        .isValidPassword('Mật khẩu phải tối thiểu 8 ký tự, ít nhất một chữ hoa, một chữ thường, một số và một ký tự đặc biệt!')
        .notOneOf([yup.ref('oldPassword'), null], 'Mật khẩu mới phải khác mật khẩu cũ!'),
    reEnterNewPassword: yup
        .string()
        .required('Hãy nhập mật khẩu hiện tại!')
        .isValidPassword('Mật khẩu phải tối thiểu 8 ký tự, ít nhất một chữ hoa, một chữ thường, một số và một ký tự đặc biệt!')
        .oneOf([yup.ref('newPassword'), null], 'Mật khẩu nhập lại không khớp với mật khẩu mới!')
})

const { values, errors, defineInputBinds, handleSubmit } = useForm({
    validationSchema: schema
})

const oldPassword = defineInputBinds('oldPassword')
const newPassword = defineInputBinds('newPassword')
const reEnterNewPassword = defineInputBinds('reEnterNewPassword')

const performChangePassword = handleSubmit(
    debounce(async (value) => {
        isDisabled.value = true
        value.username = props.userItem
        const isChangePassSuccess = await userStore.changePassword(value)
        if (isChangePassSuccess === false) {
            isSuccess.value = false
            isDisabled.value = false
            return
        }
        window.location.reload()
        toast.add({
            severity: 'success',
            summary: 'Thành công',
            detail: 'Thay đổi mật khẩu thành công',
            life: 3000
        })
    }, 1000)
)
</script>
<template>
    <div class="mt-2 mb-2">
        <a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal"> Thay đổi mật khẩu </a>

        <form @submit.prevent="performChangePassword">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Thay đổi mật khẩu</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label for="alert" class="col-form-label text-danger"> </label>

                            <div class="input-group mt-1 mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <svg-icon type="mdi" :path="mdiLock"></svg-icon>
                                    </span>
                                    <input
                                        type="password"
                                        class="input form-control form-control-small"
                                        id="oldPassword"
                                        placeholder="Mật khẩu hiện tại"
                                        v-bind="oldPassword"
                                    />
                                </div>
                            </div>

                            <label for="alert" class="col-form-label text-danger">
                                {{ errors?.oldPassword }}
                            </label>

                            <div class="input-group mt-1 mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <svg-icon type="mdi" :path="mdiLock"></svg-icon>
                                    </span>
                                    <input
                                        type="password"
                                        class="input form-control form-control-small"
                                        id="newPassword"
                                        placeholder="Mật khẩu mới"
                                        v-bind="newPassword"
                                    />
                                </div>
                            </div>

                            <label for="alert" class="col-form-label text-danger">
                                {{ errors?.newPassword }}
                            </label>

                            <div class="input-group mt-1 mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <svg-icon type="mdi" :path="mdiLock"></svg-icon>
                                    </span>
                                    <input
                                        type="password"
                                        class="input form-control form-control-small"
                                        id="rePassword"
                                        placeholder="Nhập lại mật khẩu mới"
                                        v-bind="reEnterNewPassword"
                                    />
                                </div>
                            </div>

                            <label for="alert" class="col-form-label text-danger">
                                {{ errors?.reEnterNewPassword }}
                            </label>

                            <label v-if="isSuccess === false" for="alert" class="col-form-label text-danger">Lỗi khi thay đổi!</label>
                            <p class="mt-2 mb-2">
                                *Lưu ý:<br />
                                - Mật khẩu phải tối thiểu 8 ký tự!<br />
                                - Ít nhất một chữ hoa!<br />
                                - Ít nhất một chữ thường!<br />
                                - Ít nhất một số và một ký tự đặc biệt!
                            </p>
                        </div>

                        <div class="modal-footer">
                            <Button type="button" class="me-2 rounded" label="Hủy" severity="secondary" data-bs-dismiss="modal" raised />
                            <Button type="submit" class="me-2 rounded" label="Lưu" severity="info" raised />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
<style scoped="scss"></style>
