<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiMapMarker, mdiAccount, mdiEmailOutline, mdiPhone, mdiGenderMaleFemale, mdiCalendarRange, mdiArrowLeft } from '@mdi/js'
import { useUserStore } from '@/stores/store.user'
import moment from 'moment'
import yup from '@/utils/yup.methods'
import { useForm } from 'vee-validate'
import { useToast } from 'primevue/usetoast'
import { ref } from 'vue'
import ChangePasswordView from '@/views/ProfilePage/ChangePasswordView.vue'

const userStore = useUserStore()
const userProfile = ref({})
const gender = ref([
    { name: 'Nam', value: true },
    { name: 'Nữ', value: false }
])
const saveUsername = ref('')

//follow field change value
const isChange = ref(false)
//const isFormChanged = ref(false);

const onInputChange = () => {
    isChange.value = true
}

const resetFormValues = () => {
    isChange.value = false
    resetForm({ values: userProfile.value })
}

//toast
const toast = useToast()
onMounted(async () => {
    userProfile.value = await userStore.profile()
    saveUsername.value = userProfile.value.username
    //set value init for vee validate
    resetForm({ values: userProfile.value })
})

const format_date = (value) => {
    if (value) {
        return moment(String(value)).format('YYYY-MM-DD')
    }
}

const updateDate = (event) => {
    isChange.value = true
    datas.currentSupplier.cooperatedTime = event.target.value
}

//image
let fileImage = ref(null)
const previewUrl = ref(null)
const EventfileInput = ref(null)
//validate
const schema = yup.object({
    fullname: yup.string().required('Tên không được để trống! '),
    email: yup.string().required('Email không được để trống !').email('Email không hợp lệ !'),
    phoneNumber: yup.string().required('Số điện thoại không được để trống !').isPhoneNumber('Số điện thoại không hợp lệ'),
    address: yup.string().required('Địa chỉ không được để trống !')
})

const { errors, resetForm, handleSubmit, defineInputBinds } = useForm({
    validationSchema: schema
})
const onSubmit = handleSubmit(async (values) => {
    let userProfileFromData = new FormData()
    userProfileFromData.append('fullname', values.fullname)
    userProfileFromData.append('email', values.email)
    userProfileFromData.append('gender', userProfile.value.gender)
    userProfileFromData.append('phonenumber', values.phoneNumber)
    userProfileFromData.append('birthdate', format_date(userProfile.value.birthdate))
    userProfileFromData.append('address', values.address)
    userProfileFromData.append('avatarImage', fileImage.value)
    const isEditSuccess = await userStore.editProfile(userProfileFromData)
    if (isEditSuccess.code == 200) {
        toast.add({
            severity: 'success',
            summary: 'Thành công',
            detail: 'Cập nhật tài khoản thành công',
            life: 3000
        })
        userProfile.value = await userStore.profile()
        isChange.value = false
    }
    if (isEditSuccess.code != 200) {
        toast.add({
            severity: 'Error',
            summary: 'Không Thành công',
            detail: 'Cập nhật tài khoản không thành công',
            life: 3000
        })
    }
})
const fullname = defineInputBinds('fullname')
const email = defineInputBinds('email')
const phoneNumber = defineInputBinds('phoneNumber')
const address = defineInputBinds('address')

//click upload image
const onEventFilePicked = () => {
    const file = EventfileInput.value.files[0]
    if (file) {
        // Read the file as a data URL
        const reader = new FileReader()
        reader.onload = (e) => {
            previewUrl.value = e.target.result
        }
        reader.readAsDataURL(file)
        fileImage.value = file
    }
}
</script>

<template>
    <Toast />
    <form @submit.prevent="onSubmit">
        <Suspense>
            <div class="card p-4">
                <div class="mt-2 mb-2">
                    <h6 class="fw-normal">Ảnh</h6>
                    <div class="d-flex flex-nowrap">
                        <Image v-bind:src="previewUrl ? previewUrl : userProfile.avatar" alt="Image" width="150" />
                        <div class="my-auto ms-2">
                            <FileUpload
                                v-if="isChange"
                                mode="basic"
                                accept="image/*"
                                chooseLabel="Chọn ảnh"
                                ref="EventfileInput"
                                :maxFileSize="1000000"
                                @change="onEventFilePicked"
                                @input="onInputChange"
                            />
                        </div>
                        <!-- <input v-if="isChange" class="p-2" type="file" @change="onEventFilePicked" ref="EventfileInput" @input="onInputChange" /> -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mt-2 mb-2">
                            <span class="input-group-text" id="basic-addon1">
                                <svg-icon type="mdi" :path="mdiAccount"></svg-icon>
                            </span>
                            <input
                                type="text"
                                class="input form-control form-control-sm"
                                placeholder="Họ và tên"
                                aria-describedby="basic-addon1"
                                v-bind="fullname"
                                @input="onInputChange"
                            />
                        </div>
                        <label for="alert" class="col-form-label text-danger">
                            {{ errors?.fullname }}
                        </label>

                        <div class="input-group mt-2 mb-2">
                            <span class="input-group-text" id="basic-addon1">
                                <svg-icon type="mdi" :path="mdiEmailOutline"></svg-icon>
                            </span>
                            <input
                                type="email"
                                class="input form-control form-control-sm"
                                placeholder="Email"
                                aria-describedby="basic-addon1"
                                v-bind="email"
                                @input="onInputChange"
                            />
                        </div>
                        <label for="alert" class="col-form-label text-danger">
                            {{ errors?.email }}
                        </label>

                        <div class="input-group mt-2 mb-2">
                            <span class="input-group-text" id="basic-addon1">
                                <svg-icon type="mdi" :path="mdiPhone"></svg-icon>
                            </span>
                            <input
                                type="text"
                                class="input form-control form-control-sm"
                                placeholder="Số điện thoại"
                                aria-describedby="basic-addon1"
                                v-bind="phoneNumber"
                                @input="onInputChange"
                            />
                        </div>
                        <label for="alert" class="col-form-label text-danger">
                            {{ errors?.phoneNumber }}
                        </label>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mt-2 mb-2">
                            <span class="input-group-text" id="basic-addon1">
                                <svg-icon type="mdi" :path="mdiGenderMaleFemale"></svg-icon>
                            </span>
                            <select
                                class="form-select form-select-sm"
                                aria-label=".form-select-sm example"
                                v-model="userProfile.gender"
                                @input="onInputChange"
                            >
                                <option v-for="item in gender" :value="item.value">{{ item.name }}</option>
                            </select>
                        </div>
                        <label for="alert" class="col-form-label text-danger"> </label>

                        <div class="input-group mt-2 mb-2">
                            <span class="input-group-text" id="basic-addon1">
                                <svg-icon type="mdi" :path="mdiCalendarRange"></svg-icon>
                            </span>
                            <input
                                type="date"
                                class="input form-control form-control-sm"
                                placeholder="Ngày sinh"
                                aria-describedby="basic-addon1"
                                @input="updateDate"
                                v-model="userProfile.birthdate"
                            />
                        </div>
                        <label for="alert" class="col-form-label text-danger"> </label>

                        <div class="input-group mt-2 mb-2">
                            <span class="input-group-text" id="basic-addon1">
                                <svg-icon type="mdi" :path="mdiMapMarker"></svg-icon>
                            </span>
                            <textarea
                                class="form-control"
                                aria-label="With textarea"
                                rows="1"
                                placeholder="Địa chỉ"
                                v-bind="address"
                                @input="onInputChange"
                            ></textarea>
                        </div>
                        <label for="alert" class="col-form-label text-danger">
                            {{ errors?.address }}
                        </label>
                    </div>
                </div>
                <div class="mt-2 mb-2">
                    <ChangePasswordView :userItem="saveUsername"></ChangePasswordView>
                </div>

                <div v-if="isChange" class="d-flex justify-content-end">
                    <Button type="button" class="me-2 rounded" label="Hủy" severity="secondary" @click="resetFormValues" raised />
                    <Button type="submit" class="me-2 rounded" label="Lưu" severity="info" raised />
                </div>
            </div>
        </Suspense>
    </form>
</template>
