<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiChevronLeft, mdiMenuUp, mdiMenuDown } from '@mdi/js'
import { useToast } from 'primevue/usetoast'
import { ref, onMounted, reactive } from 'vue'
import { useBaseImportStore } from '@/stores/store.baseimport.js'
import debounce from 'lodash.debounce'
import moment from 'moment'
import { useRouter } from 'vue-router'

const router = useRouter()
const toast = useToast()
const useBaseImport = useBaseImportStore()
const baseImport = ref()
const supplier = ref()
const importId = ref(router.currentRoute.value.params.importId || '')
const checked = ref(false)
const confirmCreateDialog = ref(false)
const returnProducts = ref([])
const description = ref(null)
onMounted(async () => {
    baseImport.value = await useBaseImport.getBaseImportDetails(importId.value)
    supplier.value = await useBaseImport.getSupplierById(baseImport.value.supplierId)
    for (let i = 0; i < baseImport.value.wmsBaseImportProducts.length; i++) {
        const returnProduct = {
            product: baseImport.value.wmsBaseImportProducts[i],
            quantity: 0
        }
        returnProducts.value.push(returnProduct)
    }
})
//format number
const formatNumber = (value) => {
    return new Intl.NumberFormat().format(value)
}
//format currency
const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}
//handle checkbox click
const handleCheckboxChange = () => {
    if (checked.value) {
        returnProducts.value.forEach((element) => {
            element.quantity = element.product.stockQuantity
        })
    } else {
        returnProducts.value.forEach((element) => {
            element.quantity = 0
        })
    }
}
//handle base product return
const handleCreateProductReturn = debounce(async () => {
    const productReturnDetails = reactive({
        description: description.value,
        importId: importId.value,
        productRequest: []
    })
    for (let i = 0; i < returnProducts.value.length; i++) {
        if (returnProducts.value[i].quantity !== 0) {
            productReturnDetails.productRequest.push({
                productId: returnProducts.value[i].product.productId,
                requestQuantity: returnProducts.value[i].quantity
            })
        }
    }
    if (productReturnDetails.productRequest.length === 0) {
        toast.add({
            severity: 'error',
            summary: 'Lỗi hoàn trả',
            detail: 'Chưa nhập số lượng hoàn trả',
            life: 3000
        })
    } else {
        confirmCreateDialog.value = true
    }
}, 500)

const handleConfirmCreateProductReturn = debounce(async () => {
    const productReturnDetails = reactive({
        description: description.value,
        importId: importId.value,
        productRequest: []
    })
    for (let i = 0; i < returnProducts.value.length; i++) {
        if (returnProducts.value[i].quantity !== 0) {
            productReturnDetails.productRequest.push({
                productId: returnProducts.value[i].product.productId,
                requestQuantity: returnProducts.value[i].quantity
            })
        }
    }
    const response = await useBaseImport.createProductReturnToSupplier(productReturnDetails)
    if (response.code == 200) {
        toast.add({
            severity: 'success',
            summary: 'Thành công',
            detail: 'Đã tạo đơn trả hàng',
            life: 3000
        })
        confirmCreateDialog.value = false
        router.push({ name: 'base-import-detail', params: { importId: importId.value } })
    }
}, 500)
</script>
<template>
    <div v-if="baseImport">
        <div class="d-flex justify-content-between">
            <div>
                <router-link :to="{ name: 'base-import-detail', params: { importId: importId.value } }" class="text-decoration-none">
                    <a href="" class="d-flex justify-content-start text-secondary text-decoration-none">
                        <svg-icon type="mdi" :path="mdiChevronLeft"></svg-icon>
                        Đơn nhập hàng {{ baseImport.importCode }}
                    </a>
                </router-link>
                <h4 class="m-2">Tạo hoàn trả cho đơn nhập {{ baseImport.importCode }}</h4>
            </div>
            <Button severity="success" class="m-2 rounded" label="Tạo hoàn trả" raised @click="handleCreateProductReturn" />
            <Dialog
                v-model:visible="confirmCreateDialog"
                header="Xác nhận tạo đơn trả hàng"
                :style="{ width: '40rem' }"
                position="top"
                :modal="true"
            >
                <p class="m-0">
                    Tạo đơn trả hàng đến nhà cung cấp
                    <strong>{{ supplier.supplierName }}</strong>
                    ?
                </p>
                <template #footer>
                    <Button label="Hủy" severity="secondary" class="rounded" @click="confirmCreateDialog = false" text />
                    <Button label="Xác nhận" severity="info" class="rounded" @click="handleConfirmCreateProductReturn" autofocus />
                </template>
            </Dialog>
        </div>
        <div class="row p-2 mt-4">
            <div class="col-8">
                <div class="bg-light p-2 rounded">
                    <div class="d-flex justify-content-between">
                        <p class="fw-bolder">Thông tin sản phẩm trả</p>
                        <div class="flex align-items-center">
                            <Checkbox id="chbx" v-model="checked" :binary="true" @change="handleCheckboxChange" />
                            <label for="chbx">Trả toàn bộ sản phẩm</label>
                        </div>
                    </div>
                    <hr />
                    <DataTable :value="returnProducts">
                        <Column field="product.productName" header="Tên sản phẩm"></Column>
                        <Column field="quantity" header="Số lượng" class="me-0">
                            <template #body="slotProps">
                                <div class="d-flex justify-content-between align-items-center">
                                    <InputNumber
                                        v-model="slotProps.data.quantity"
                                        inputId="horizontal-buttons"
                                        inputClass="p-2 rounded"
                                        :inputStyle="{ width: '4rem', 'text-align': 'end' }"
                                        :min="0"
                                        :max="slotProps.data.product.stockQuantity"
                                        decrementButtonClass="p-button-text"
                                        incrementButtonClass="p-button-text"
                                        showButtons
                                        buttonLayout="stacked"
                                        class="flex-row-reverse"
                                    >
                                        <template #decrementbuttonicon>
                                            <svg-icon class="text-secondary" type="mdi" :path="mdiMenuDown"></svg-icon>
                                        </template>
                                        <template #incrementbuttonicon>
                                            <svg-icon class="text-secondary" type="mdi" :path="mdiMenuUp"></svg-icon>
                                        </template>
                                    </InputNumber>
                                    <span>/</span>
                                    <span>{{ formatNumber(slotProps.data.product.stockQuantity) }}</span>
                                </div>
                            </template>
                        </Column>
                        <Column field="product.unitPrice" header="Giá hàng trả">
                            <template #body="slotProps">
                                {{ formatCurrency(slotProps.data.product.unitPrice) }}
                            </template>
                        </Column>
                        <Column field="" header="Thành tiền" class="text-end">
                            <template #body="slotProps">
                                {{ formatCurrency(slotProps.data.product.unitPrice * slotProps.data.quantity) }}
                            </template>
                        </Column>
                    </DataTable>
                    <div class="row mt-4">
                        <div class="col-6"></div>
                        <div class="col-6 fw-bolder">
                            <div class="d-flex justify-content-between">
                                <p>Số lượng hàng trả</p>
                                <p>
                                    {{ formatNumber(returnProducts.reduce((total, returnProduct) => total + returnProduct.quantity, 0)) }}
                                </p>
                            </div>
                            <hr />
                            <div class="d-flex justify-content-between text-primary">
                                <p>Tổng giá trị hàng trả</p>
                                <p>
                                    {{
                                        formatCurrency(
                                            returnProducts.reduce(
                                                (total, returnProduct) => total + returnProduct.product.unitPrice * returnProduct.quantity,
                                                0
                                            )
                                        )
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div v-if="supplier" class="bg-light p-2 rounded fw-bolder">
                    <p>Nhà cung cấp</p>
                    <p class="text-primary">{{ supplier.supplierName }}</p>
                </div>
                <div class="bg-light mt-2 p-2 rounded fw-bolder">
                    <p>Lý do hoàn trả</p>
                    <Textarea v-model="description" rows="2" class="w-100" />
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped></style>
