<script setup>
import { useWarehouseStore } from '@/stores/store.warehouse.js'
import Textarea from 'primevue/textarea'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiFactory, mdiEmailOutline, mdiPhone, mdiMapMarker, mdiArrowLeft } from '@mdi/js'
import yup from '@/utils/yup.methods'
import { useToast } from 'primevue/usetoast'
import { useForm } from 'vee-validate'

const warehouseStore = useWarehouseStore()
const warehouseProfile = ref({})
//toast
const toast = useToast()
const isChange = ref(false)

const onInputChange = () => {
    isChange.value = true
}

onMounted(async () => {
    warehouseProfile.value = await warehouseStore.getProfileWarehouse()
    resetForm({ values: warehouseProfile.value })
})

const resetFormValues = () => {
    isChange.value = false
    resetForm({ values: warehouseProfile.value })
}

//validate
const schema = yup.object({
    warehouseName: yup.string().required('Tên không được để trống'),
    phoneNumber: yup.string().required('Số điện thoại không được để trống').isPhoneNumber(),
    email: yup.string().required('Email không được để trống').email('Email không hợp lệ'),
    address: yup.string().required('Địa chỉ không được để trống')
})

const { errors, resetForm, handleSubmit, defineInputBinds } = useForm({
    validationSchema: schema
})

const warehouseName = defineInputBinds('warehouseName')
const phoneNumber = defineInputBinds('phoneNumber')
const email = defineInputBinds('email')
const address = defineInputBinds('address')
const onSubmit = handleSubmit(async (values) => {
    warehouseProfile.value.warehouseName = values.warehouseName
    warehouseProfile.value.phoneNumber = values.phoneNumber
    warehouseProfile.value.email = values.email
    warehouseProfile.value.address = values.address
    const isEditSuccess = await warehouseStore.updateProfileWarehouse(warehouseProfile.value)
    if (isEditSuccess.code == 200) {
        toast.add({
            severity: 'success',
            summary: 'Thành công',
            detail: 'Cập nhật thông tin thành công',
            life: 3000
        })
    }
    if (isEditSuccess.code != 200) {
        toast.add({
            severity: 'Error',
            summary: 'Không thành công',
            detail: 'Cập nhật thông tin không thành công',
            life: 3000
        })
    }
})
</script>

<template>
    <Toast />
    <form @submit.prevent="onSubmit">
        <div class="card p-4">
            <h6 class="my-2">
                Tên chủ kho: <span class="mx-4">{{ warehouseProfile.nameOfBranchWarehouseDirector }}</span>
            </h6>

            <div class="row mt-4">
                <div class="col-md-4">
                    <h6>Tên kho:</h6>
                    <div class="input-group mt-2 mb-2">
                        <span class="input-group-text" id="basic-addon1">
                            <svg-icon type="mdi" :path="mdiFactory"></svg-icon>
                        </span>
                        <input
                            type="text"
                            class="input form-control form-control"
                            placeholder="Tên kho"
                            aria-describedby="basic-addon1"
                            v-bind="warehouseName"
                            @input="onInputChange"
                        />
                    </div>
                    <label for="alert" class="col-form-label text-danger">
                        {{ errors?.warehouseName }}
                    </label>
                </div>

                <div class="col-md-4">
                    <h6>Email:</h6>
                    <div class="input-group mt-2 mb-2">
                        <span class="input-group-text" id="basic-addon1">
                            <svg-icon type="mdi" :path="mdiEmailOutline"></svg-icon>
                        </span>
                        <input
                            type="text"
                            class="input form-control form-control"
                            placeholder="Email"
                            aria-describedby="basic-addon1"
                            v-bind="email"
                            @input="onInputChange"
                        />
                    </div>
                    <label for="alert" class="col-form-label text-danger">
                        {{ errors?.email }}
                    </label>
                </div>

                <div class="col-md-4">
                    <h6>Số điện thoại:</h6>
                    <div class="input-group mt-2 mb-2">
                        <span class="input-group-text" id="basic-addon1">
                            <svg-icon type="mdi" :path="mdiPhone"></svg-icon>
                        </span>
                        <input
                            type="text"
                            class="input form-control form-control"
                            placeholder="Số điện thoại"
                            aria-describedby="basic-addon1"
                            v-bind="phoneNumber"
                            @input="onInputChange"
                        />
                    </div>
                    <label for="alert" class="col-form-label text-danger">
                        {{ errors?.phoneNumber }}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="input-group mt-2 mb-2">
                    <span class="input-group-text" id="basic-addon1">
                        <svg-icon type="mdi" :path="mdiMapMarker"></svg-icon>
                    </span>
                    <textarea
                        class="form-control"
                        aria-label="With textarea"
                        rows="1"
                        placeholder="Địa chỉ"
                        v-bind="address"
                        @input="onInputChange"
                    ></textarea>
                </div>
                <label for="alert" class="col-form-label text-danger">
                    {{ errors?.address }}
                </label>
            </div>

            <div v-if="isChange" class="d-flex p-2">
                <div class="btn-cancel ms-auto">
                    <button type="button" class="btn btn-secondary btn-lg mx-1" @click="resetFormValues">Hủy</button>
                </div>
                <div class="btn-save">
                    <button type="submit" class="btn btn-primary btn-lg mx-1">Lưu</button>
                </div>
            </div>
        </div>
    </form>
</template>
