<script setup>
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiPencil, mdiPackageVariant, mdiArrowLeft, mdiChevronLeft } from '@mdi/js'
import { ref, onMounted } from 'vue'
import { useStockCheckSheetStore } from '@/stores/store.stockchecksheet.js'
import { useProductStore } from '@/stores/store.product.js'
import { useUserStore } from '@/stores/store.user'
import { useToast } from 'primevue/usetoast'
import { useRouter } from 'vue-router'

const router = useRouter()
const toast = useToast()
const useUser = useUserStore()
const useStockCheckSheet = useStockCheckSheetStore()
const useProduct = useProductStore()
const getCurrentRole = ref(0)
const checked = ref(false)

const paginator = ref({ RoleId: 0, SearchWord: '', CurrentPage: 1, PageSize: 100, PageRange: 5 })
const conditions = ref({ RoleId: 0, ProductId: '' })

const products = ref()
const selectedProducts = ref([])

onMounted(async () => {
    const getRoles = await useUser.getUserRole()
    getCurrentRole.value = getRoles[0].roleId
    console.log(getCurrentRole.value)
    paginator.value.RoleId = getCurrentRole.value
    conditions.value.RoleId = getCurrentRole.value
})

const handleProductComplete = async (event) => {
    paginator.value.SearchWord = event.query
    const response = await useProduct.getStockQuantity(paginator.value)
    products.value = response.items
}

const handleProductSelect = async (event) => {
    selectedProducts.value = []
    conditions.value.ProductId = event.value.productId
    const response = await useStockCheckSheet.getImportsByProductId(conditions.value)
    
    response.forEach((item) => {
        selectedProducts.value.push({
            ImportId: item.importId,
            ProductId: item.productId,
            ImportCode: item.importCode,
            SKU: item.sku,
            ProductName: item.productName,
            ProductImage: item.productImage,
            StockQuantity: item.stockQuantity,
            BaseImportId: item.baseImportId,
            RealQuantity: item.stockQuantity,
            ExportCodeItem: item.exportCodeItem
        })
    })
    selectedProducts.value = selectedProducts.value.filter((product) => product.StockQuantity > 0)
    console.log(selectedProducts.value)
}

const clearList = () => {
    selectedProducts.value = []
    requestModel.value.description = ''
}

const description = ref('')

//handle checkbox click
const handleCheckboxChange = async () => {
    if (checked.value) {
        const response = await useStockCheckSheet.getImportsByProductId(conditions.value)
        response.forEach((item) => {
            if (item.stockQuantity == 0) {
                selectedProducts.value.push({
                    ImportId: item.importId,
                    ProductId: item.productId,
                    ImportCode: item.importCode,
                    SKU: item.sku,
                    ProductName: item.productName,
                    ProductImage: item.productImage,
                    StockQuantity: item.stockQuantity,
                    BaseImportId: item.baseImportId,
                    RealQuantity: 0
                })
            }
        })
    } else {
        selectedProducts.value = selectedProducts.value.filter((product) => product.StockQuantity > 0)
    }
}

const createStockCheckSheet = async () => {
    const stockCheckData = {
        RoleId: getCurrentRole.value,
        Description: description.value,
        StockCheckSheetDetails: selectedProducts.value.map((product) => ({
            ProductId: product.ProductId,
            ImportId: product.ImportId,
            BaseImportId: product.BaseImportId,
            StockQuantity: product.StockQuantity,
            RealQuantity: product.RealQuantity
        }))
    }

    const response = await useStockCheckSheet.createStockCheckSheet(stockCheckData)
    if (response === true) {
        router.push({ name: 'stock-check-sheet-management' })
        toast.add({
            severity: 'success',
            summary: 'Thành công',
            detail: 'Tạo phiếu kiểm thành công.',
            life: 3000
        })
    } else {
        clearList()
        toast.add({
            severity: 'error',
            summary: 'Lỗi',
            detail: 'Xảy ra lỗi khi tạo phiếu kiểm.',
            life: 3000
        })
    }
}
</script>
<template>
    <div>
        <router-link to="/stock-check-sheet-management" class="text-secondary text-decoration-none">
            <a class="text-secondary me-1" href=""> <svg-icon type="mdi" :path="mdiChevronLeft"></svg-icon></a>
            Danh sách đơn kiểm hàng
        </router-link>
        <div class="card mt-2">
            <form @submit.prevent="createStockCheckSheet">
                <div class="top border-bottom">
                    <div class="d-flex justify-content-between">
                        <h4 class="my-auto ms-4">Thông tin kiểm hàng</h4>
                        <div v-if="selectedProducts.length != 0" class="btn d-flex p-4 border-top">
                            <div class="btn-cancel ms-auto">
                                <Button
                                    type="button"
                                    @click="clearList()"
                                    class="me-2 rounded fw-bold"
                                    severity="secondary"
                                    label="Hủy"
                                    raised
                                />
                            </div>
                            <Button type="submit" class="me-2 rounded fw-bold" severity="success" label="Tạo" raised />
                        </div>
                    </div>
                    <div class="p-2 mx-2">
                        <div class="input-group my-2 mt-2 mb-4">
                            <span class="input-group-text" id="basic-addon1">
                                <svg-icon type="mdi" :path="mdiPencil"></svg-icon>
                            </span>
                            <input
                                type="text"
                                class="input form-control form-control"
                                placeholder="Mô tả"
                                aria-describedby="basic-addon1"
                                v-model="description"
                            />
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <h5 class="fw-bolder p-2 my-2 ms-2">Kiểm tra chi tiết</h5>

                    <DataTable
                        class="p-2 mx-2 my-2"
                        :value="selectedProducts"
                        tableStyle="min-width: 50rem"
                        scrollable
                        scrollHeight="500px"
                    >
                        <template #header>
                            <div class="d-flex justify-content-between">
                                <div class="w-100">
                                    <AutoComplete
                                        v-model="paginator.SearchWord"
                                        :suggestions="products"
                                        field="productName"
                                        input-class="w-100"
                                        class="w-100"
                                        placeholder="Tìm kiếm sản phẩm..."
                                        @complete="handleProductComplete"
                                        @item-select="handleProductSelect"
                                        empty-search-message="Không tìm thấy sản phẩm"
                                        complete-on-focus="true"
                                    >
                                        <template #option="slotProps">
                                            <div class="d-flex align-items-center">
                                                <img
                                                    :alt="slotProps.option.productImage"
                                                    :src="slotProps.option.productImage"
                                                    style="width: 32px"
                                                />
                                                <span class="ms-4">
                                                    <p class="m-0">{{ slotProps.option.productName }}</p>
                                                    <p class="m-0 fw-bold text-primary" style="font-size: small">
                                                        {{ slotProps.option.sku }}
                                                    </p>
                                                </span>
                                            </div>
                                        </template>
                                    </AutoComplete>
                                </div>
                                <div v-if="selectedProducts.length === 0" class="w-100"></div>
                                <div v-if="selectedProducts.length !== 0" class="w-100 d-flex justify-content-end">
                                    <Checkbox id="chbx" v-model="checked" :binary="true" @change="handleCheckboxChange" />
                                    <label for="chbx">Hiển thị cả lô hàng có số lượng tồn kho là 0</label>
                                </div>
                            </div>
                        </template>

                        <Column :field="'stt'" header="STT">
                            <template #body="slotProps">
                                <p class="mb-1 mt-2 fw-bold">{{ slotProps.index + 1 }}</p>
                            </template>
                        </Column>

                        <Column class="fw-bold" :field="'ImportCode'" header="Mã nhập"></Column>
                        <Column v-if="getCurrentRole === 4 || getCurrentRole === 5 || getCurrentRole === 6" class="fw-bold" :field="'ExportCodeItem'" header="Mã xuất QR"></Column>
                        <Column header="Ảnh">
                            <template #body="{ data }">
                                <img :src="data.ProductImage" class="w-6rem shadow-2 border-round" width="50" height="50" />
                            </template>
                        </Column>
                        <Column :field="'ProductName'" header="Tên sản phẩm"></Column>
                        <Column :field="'StockQuantity'" header="SL tồn kho"></Column>

                        <Column :field="RealQuantity" header="SL thực tế">
                            <template #body="slotProps">
                                <InputNumber
                                    v-model="slotProps.data.RealQuantity"
                                    placeholder="Nhập số lượng thực tế"
                                    inputId="minmax-buttons"
                                    showButtons
                                    :min="0"
                                />
                            </template>
                        </Column>
                    </DataTable>
                    <div class="border-top">
                        <h6 v-if="selectedProducts.length != 0" class="p-2 mx-4 my-4">
                            Hiển thị {{ selectedProducts.length }}
                            kết quả
                        </h6>
                    </div>

                    <div v-if="selectedProducts.length == 0" class="text-secondary d-block text-center">
                        <svg-icon type="mdi" :path="mdiPackageVariant" :size="100"></svg-icon>
                        <p>Bạn chưa chọn sản phẩm nào</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<style lang="scss" scoped></style>
