<script setup>
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiArrowLeft, mdiChevronLeft } from '@mdi/js'
import { ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import { useUserStore } from '@/stores/store.user'
import { useStockCheckSheetStore } from '@/stores/store.stockchecksheet.js'
import moment from 'moment'
import StockCheckSheetImportDetailView from '@/views/StockCheckSheetManagementViews/StockCheckSheetImportDetailView.vue'
import { useWarehouseStore } from '@/stores/store.warehouse'

const useWarehouse = useWarehouseStore()
const router = useRouter()
const stockCheckSheetStore = useStockCheckSheetStore()
const userStore = useUserStore()
const getCurrentRole = ref(0)
const getWarehouse = ref('')

const getCheckId = router.currentRoute.value.params.checkId

const stockCheckSheetDetail = ref([])
const currentCheck = ref({})
const requestValue = ref({ RoleId: 0, CheckId: getCheckId })
const isLoading = ref(false)
const isFirstLoading = ref(true)

onMounted(async () => {
    isLoading.value = true
    const getRoles = await userStore.getUserRole()
    getCurrentRole.value = getRoles[0].roleId
    requestValue.value.RoleId = getCurrentRole.value

    if (getCurrentRole.value == 4 || getCurrentRole.value == 5 || getCurrentRole.value == 6) {
        const warehouse = await useWarehouse.getBranchwarehouseByCurrentUser()
        getWarehouse.value = warehouse.warehouseName
    }

    const response = await stockCheckSheetStore.getStockCheckSheetDetails(requestValue.value)
    const getCheck = await stockCheckSheetStore.getStockCheckSheetById(requestValue.value)
    stockCheckSheetDetail.value = response
    currentCheck.value = getCheck

    isLoading.value = false
    isFirstLoading.value = false
})

const formatDate = (value) => {
    if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
    } else {
        return ''
    }
}

const convertText = () => {
    if (getCurrentRole.value == 2 || getCurrentRole.value == 3) {
        return 'SEP490-G72'
    }
    if (getCurrentRole.value == 4 || getCurrentRole.value == 5 || getCurrentRole.value == 6) {
        return getWarehouse.value
    }
    return null
}
</script>
<template>
    <router-link to="/stock-check-sheet-management" class="text-secondary text-decoration-none">
        <a class="text-secondary me-1" href=""> <svg-icon type="mdi" :path="mdiChevronLeft"></svg-icon></a>
        Danh sách đơn kiểm hàng
    </router-link>
    <div class="card mt-2">
        <h4 class="m-4 mb-2">Thông tin chi tiết phiếu kiểm</h4>
        <div class="row">
            <div class="col-md-6 row ms-1 my-2">
                <div class="col-md-6">
                    <h6 class="fw-bold my-2 p-2">Mã kiểm</h6>
                    <h6 class="fw-bold my-2 p-2">Kho hiện tại</h6>
                </div>
                <div class="col-md-6">
                    <h6 class="ms-2 my-2 p-2">
                        : <span class="ms-1">{{ currentCheck.stockCheckSheetCode }}</span>
                    </h6>
                    <h6 class="ms-2 my-2 p-2">
                        : <span class="ms-1">{{ convertText() }}</span>
                    </h6>
                </div>
            </div>
            <div class="col-md-6 row ms-1 my-2">
                <div class="col-md-6">
                    <h6 class="fw-bold my-2 p-2">Ngày thực hiện</h6>
                    <h6 class="fw-bold my-2 p-2">Mô tả</h6>
                    <h6 class="fw-bold my-2 p-2">Trạng thái</h6>
                </div>
                <div class="col-md-6">
                    <h6 class="ms-2 my-2 p-2">
                        : <span class="ms-1">{{ formatDate(currentCheck.checkDate) }}</span>
                    </h6>
                    <h6 class="ms-2 my-2 p-2">
                        : <span class="ms-1">{{ currentCheck.description }}</span>
                    </h6>
                    <h6 class="ms-2 my-2 p-2">
                        : <span v-if="currentCheck.status == 1" class="text-success ms-1">Đã kiểm tra</span>
                        <span v-else class="text-danger ms-1">Chưa kiểm tra</span>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <DataTable :value="stockCheckSheetDetail" :loading="isFirstLoading" tableStyle="min-width: 50rem" scrollable scrollHeight="350px">
            <template #header>
                <div class="d-flex justify-content-between">
                    <span class="my-auto">Sản phẩm đã kiểm tra</span>
                </div>
            </template>
            <template #loading>
                <div class="flex align-items-center justify-content-center">
                    <h3>Đang tải dữ liệu ...</h3>
                </div>
            </template>

            <Column header="Ảnh">
                <template #body="slotProps">
                    <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                    <img v-else :src="slotProps.data.productImage" class="w-6rem shadow-2 border-round" width="50" height="50" />
                </template>
            </Column>

            <Column field="sku" header="SKU">
                <template #body="slotProps">
                    <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                    <StockCheckSheetImportDetailView v-else :productPicked="slotProps.data"> </StockCheckSheetImportDetailView>
                </template>
            </Column>

            <Column field="productName" header="Tên sản phẩm">
                <template #body="slotProps">
                    <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                    <p class="text-black" v-else>{{ slotProps.data.productName }}</p>
                </template>
            </Column>

            <Column field="quantity" header="Số lượng tồn kho">
                <template #body="slotProps">
                    <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                    <p class="text-black" v-else>{{ slotProps.data.quantity }}</p>
                </template>
            </Column>

            <Column field="realQuantity" header="Số lượng thực tế">
                <template #body="slotProps">
                    <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                    <p class="text-black" v-else>{{ slotProps.data.realQuantity }}</p>
                </template>
            </Column>

            <Column field="difference" header="Lệch">
                <template #body="slotProps">
                    <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                    <span v-else>
                        <p v-if="slotProps.data.difference == 0" class="text-success">{{ slotProps.data.difference }}</p>
                        <p v-else class="text-danger">{{ Math.abs(slotProps.data.difference) }}</p>
                    </span>
                </template>
            </Column>

            <Column field="description" header="Mô tả">
                <template #body="slotProps">
                    <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                    <p class="text-black" v-else>{{ slotProps.data.description }}</p>
                </template>
            </Column>
        </DataTable>
        <h6 v-if="stockCheckSheetDetail.length == 0" class="p-2 mb-4 text-center">Không có dữ liệu</h6>
    </div>
</template>
