<script setup>
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'
import { ref } from 'vue'
import { useUserStore } from '@/stores/store.user'
import { useStockCheckSheetStore } from '@/stores/store.stockchecksheet.js'
import moment from 'moment'

const stockCheckSheetStore = useStockCheckSheetStore()
const userStore = useUserStore()
const importList = ref([])
const listDialog = ref(false)

const getCurrentRole = ref(0)

const getProduct = defineProps({
    productPicked: Object
})

const conditions = ref({ RoleId: 0, CheckId: getProduct.productPicked.checkId, ProductId: getProduct.productPicked.productId })

const onDialogShow = async () => {
    const getRoles = await userStore.getUserRole()
    getCurrentRole.value = getRoles[0].roleId
    conditions.value.RoleId = getCurrentRole.value

    var response = await stockCheckSheetStore.getStockCheckSheetImports(conditions.value)
    importList.value = response
}

const formatDate = (value) => {
    if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
    } else {
        return ''
    }
}

const dialogHeader = computed(() => {
    return `Chi tiết kiểm tra nhập hàng của sản phẩm "${getProduct.productPicked.sku}"`
})
</script>
<template>
    <p>
        <a class="text-decoration-none" href="#" @click="listDialog = true">
            {{ getProduct.productPicked.sku }}
        </a>
    </p>
    <Dialog v-model:visible="listDialog" @show="onDialogShow" modal :style="{ width: '70vw' }" :header="dialogHeader">
        <DataTable :value="importList" tableStyle="min-width: 50rem" scrollable scrollHeight="350px">
            <Column :field="'stt'" header="STT">
                <template #body="slotProps">
                    <p class="mb-1 mt-2 fw-bold">{{ slotProps.index + 1 }}</p>
                </template>
            </Column>

            <Column field="importCode" header="Mã nhập">
                <template #body="slotProps">
                    <p class="fw-bold">{{ slotProps.data.importCode }}</p>
                </template>
            </Column>

            <Column field="importedDate" header="Ngày nhập">
                <template #body="slotProps">
                    <p>{{ formatDate(slotProps.data.importedDate) }}</p>
                </template>
            </Column>

            <Column field="stockQuantity" header="Số lượng tồn kho">
                <template #body="slotProps">
                    <p>{{ slotProps.data.stockQuantity }}</p>
                </template>
            </Column>

            <Column field="realQuantity" header="Số lượng thực tế">
                <template #body="slotProps">
                    <p>{{ slotProps.data.realQuantity }}</p>
                </template>
            </Column>

            <Column field="difference" header="Lệch">
                <template #body="slotProps">
                    <p v-if="slotProps.data.difference == 0" class="text-success">{{ slotProps.data.difference }}</p>
                    <p v-else class="text-danger">{{ Math.abs(slotProps.data.difference) }}</p>
                </template>
            </Column>
        </DataTable>
        <h6 v-if="importList.length != 0" class="p-2 mx-2">Hiển thị {{ importList.length }} kết quả</h6>
        <h6 v-else class="p-2 mb-4 text-center">Không có dữ liệu</h6>
    </Dialog>
</template>
<style lang="scss" scoped></style>
