<script setup>
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiMagnify, mdiPlus } from '@mdi/js'
import { ref, onMounted } from 'vue'
import { useStockCheckSheetStore } from '@/stores/store.stockchecksheet.js'
import { useUserStore } from '@/stores/store.user'
import moment from 'moment'
import { useWarehouseStore } from '@/stores/store.warehouse'

const useWarehouse = useWarehouseStore()
const userStore = useUserStore()
const getCurrentRole = ref(0)
const getWarehouse = ref('')

const stockCheckSheetStore = useStockCheckSheetStore()
const stockCheckSheetList = ref([])
const paging = ref({})
const paginator = ref({ RoleId: 0, SearchWord: '', CurrentPage: 1, PageSize: 10, PageRange: 5, DateFilter: null })
const isLoading = ref(false)
const isFirstLoading = ref(true)

//option date
const selectedDate = ref()
const dateOption = ref([
    { name: 'Tất cả', id: null },
    { name: 'Tuần này', id: 1 },
    { name: 'Tháng này', id: 2 },
    { name: 'Năm nay', id: 3 }
])

onMounted(async () => {
    isLoading.value = true

    const getRoles = await userStore.getUserRole()
    getCurrentRole.value = getRoles[0].roleId
    paginator.value.RoleId = getCurrentRole.value

    if (getCurrentRole.value == 4 || getCurrentRole.value == 5 || getCurrentRole.value == 6) {
        const warehouse = await useWarehouse.getBranchwarehouseByCurrentUser()
        getWarehouse.value = warehouse.warehouseName
    }

    const response = await stockCheckSheetStore.getStockCheckSheetsList(paginator.value)

    stockCheckSheetList.value = response.items
    paging.value = response.pagination
    isLoading.value = false
    isFirstLoading.value = false
})

watch(paginator.value, async (current, previous) => {
    isLoading.value = true
    const response = await stockCheckSheetStore.getStockCheckSheetsList(current)
    stockCheckSheetList.value = response.items
    paging.value = response.pagination
    isLoading.value = false
})

watch(selectedDate, async (current, previous) => {
    paginator.value.DateFilter = current.id
})

const setCurrent = (pageInfo) => {
    paginator.value.CurrentPage = computed(() => pageInfo.page + 1).value
    paginator.value.PageSize = pageInfo.rows
    paginator.value.PageRange = 5
}

const formatDate = (value) => {
    if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
    } else {
        return ''
    }
}
</script>
<template>
    <Toast />
    <div class="card mt-4">
        <DataTable :value="stockCheckSheetList" :loading="isFirstLoading" tableStyle="min-width: 50rem" scrollable scrollHeight="350px">
            <template #header>
                <span class="my-auto">Danh sách kiểm hàng </span>
                <div class="d-flex justify-content-between mt-2">
                    <div>
                        <span class="p-input-icon-left">
                            <svg-icon type="mdi" :path="mdiMagnify"></svg-icon>
                            <InputText v-model="paginator.SearchWord" placeholder="Tìm kiếm..." />
                        </span>
                        <Dropdown
                            v-model="selectedDate"
                            :options="dateOption"
                            optionLabel="name"
                            placeholder="Ngày tạo"
                            class="w-full md:w-14rem ms-2"
                        />
                    </div>
                    <router-link class="text-decoration-none" :to="{ name: 'create-stock-check-sheet' }">
                        <Button severity="success" class="me-2 rounded fw-bold">
                            <svg-icon type="mdi" :path="mdiPlus"></svg-icon> Tạo đơn kiểm hàng</Button
                        >
                    </router-link>
                </div>
            </template>
            <template #loading>
                <div class="flex align-items-center justify-content-center">
                    <h3>Đang tải dữ liệu ...</h3>
                </div>
            </template>

            <template #empty>
                <div v-if="!isFirstLoading" class="flex align-items-center justify-content-center my-4">
                    <h6 class="text-center">Không có dữ liệu</h6>
                </div>
            </template>

            <Column :field="'stt'" header="STT">
                <template #body="slotProps">
                    <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                    <p v-else class="mb-1 mt-2 fw-bold">{{ slotProps.index + 1 }}</p>
                </template>
            </Column>

            <Column field="stockCheckSheetCode" header="Mã kiểm">
                <template #body="slotProps">
                    <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                    <router-link
                        v-else
                        class="text-decoration-none"
                        :to="{ name: 'stock-check-sheet-details', params: { checkId: slotProps.data.checkId } }"
                    >
                        <p>
                            <a class="text-decoration-none" href="#">{{ slotProps.data.stockCheckSheetCode }}</a>
                        </p>
                    </router-link>
                </template>
            </Column>

            <Column field="checkBy" header="Người kiểm tra">
                <template #body="slotProps">
                    <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                    <p v-else>{{ slotProps.data.checkBy }}</p>
                </template>
            </Column>

            <Column field="checkDate" header="Ngày kiểm tra">
                <template #body="slotProps">
                    <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                    <p v-else>{{ formatDate(slotProps.data.checkDate) }}</p>
                </template>
            </Column>

            <Column field="description" header="Mô tả">
                <template #body="slotProps">
                    <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                    <p v-else>{{ slotProps.data.description }}</p>
                </template>
            </Column>

            <Column field="status" header="Trạng thái">
                <template #body="slotProps">
                    <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                    <Tag
                        v-else
                        class="mb-4 mt-2"
                        :value="slotProps.data.status === 1 ? 'Đã kiểm tra' : 'Chưa kiểm tra'"
                        :severity="slotProps.data.status === 1 ? 'success' : 'danger'"
                    />
                </template>
            </Column>
            <template #footer>
                <h6 v-if="stockCheckSheetList.length != 0" class="my-4">Hiển thị {{ stockCheckSheetList.length }} kết quả</h6>
                <div class="flex flex-wrap align-items-center justify-content-center gap-2">
                    <Paginator
                        :rows="paging.pageSize"
                        :totalRecords="paging.totalItem"
                        :rowsPerPageOptions="[10, 20, 30]"
                        @page="setCurrent"
                    ></Paginator>
                </div>
            </template>
        </DataTable>
    </div>
</template>
<style lang="scss" scoped></style>
