<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiPlus } from '@mdi/js'
import { useInvoiceStore } from '@/stores/store.invoice'
import { useToast } from 'primevue/usetoast'
import { ref } from 'vue'
import moment from 'moment'
import debounce from 'lodash.debounce'
import CreateInvoiceForm from './CreateInvoiceForm.vue'
import InvoiceDetailView from '@/views/ReceiptPaymentInvoiceViews/InvoiceDetailView.vue'

const toast = useToast()
const invoiceStore = useInvoiceStore()
const invoices = ref()
const paging = ref({})
const paginator = ref({
    from: '',
    to: '',
    type: 1,
    invoiceFor: 'EXPORT',
    CurrentPage: 1,
    PageSize: 10,
    PageRange: 5
})
const isLoading = ref(false)
const isFirstLoading = ref(true)
const isOpenModal = ref(false)

const invoiceType = ref([
    { name: 'Hóa đơn thu', id: 1 },
    { name: 'Hóa đơn chi', id: 2 }
])
const selectedInvoiceType = ref(invoiceType.value[0])

const invoiceForConstant = [
    { name: 'Hóa đơn xuất', id: 'EXPORT' },
    { name: 'Hóa đơn nhập', id: 'IMPORT' },
    { name: 'Hóa đơn trả hàng', id: 'RETURN' },
    { name: 'Hóa đơn chi nhánh trả hàng', id: 'BRETURN' }
]
const invoiceFor = ref(invoiceForConstant.filter((item) => item.id !== 'IMPORT' && item.id !== 'BRETURN'))
const selectedInvoiceFor = ref(invoiceFor.value[0])

const fromSelectedDate = ref()
const toSelectedDate = ref()

const isSearchDisabled = ref(false)
const selectedInvoice = ref()

watch(selectedInvoiceType, (current, previous) => {
    switch (current.id) {
        case 1:
            invoiceFor.value = invoiceForConstant.filter((item) => item.id !== 'IMPORT' && item.id !== 'BRETURN')
            selectedInvoiceFor.value = invoiceFor.value[0]
            break
        case 2:
            invoiceFor.value = invoiceForConstant.filter((item) => item.id !== 'EXPORT' && item.id !== 'RETURN')
            selectedInvoiceFor.value = invoiceFor.value[0]
            break
    }
})

onBeforeMount(async () => {
    isLoading.value = true
    const response = await invoiceStore.getBaseInvoice(paginator.value)

    invoices.value = response.items
    paging.value = response.pagination
    isLoading.value = false
    isFirstLoading.value = false
})

const onSearch = debounce(async () => {
    isLoading.value = true
    isSearchDisabled.value = true
    if (fromSelectedDate.value !== undefined) {
        paginator.value.from = moment(fromSelectedDate.value).format('MM/DD/YYYY')
    } else {
        paginator.value.from = ''
    }

    if (toSelectedDate.value !== undefined) {
        paginator.value.to = moment(toSelectedDate.value).format('MM/DD/YYYY')
    } else {
        paginator.value.to = ''
    }

    paginator.value.invoiceFor = selectedInvoiceFor.value.id
    paginator.value.type = selectedInvoiceType.value.id

    const response = await invoiceStore.getBaseInvoice(paginator.value)
    invoices.value = response.items
    paging.value = response.pagination
    isLoading.value = false
    isSearchDisabled.value = false
}, 500)

const onCreate = debounce(() => {
    isOpenModal.value = true
}, 500)

const onInvoiceCreated = (value) => {
    switch (value) {
        case true:
            toast.add({ severity: 'success', summary: 'Thành công!!!', detail: 'Tạo hóa đơn thành công', life: 3000 })
            break

        case false:
            toast.add({ severity: 'error', summary: 'Thất bại!!!', detail: 'Tạo hóa đơn thất bại', life: 3000 })
            break

        default:
            toast.add({ severity: 'error', summary: 'Thất bại!!!', detail: 'Tạo hóa đơn thất bại', life: 3000 })
            break
    }
    isOpenModal.value = false
}

const onModalClose = (value) => {
    if (value) isOpenModal.value = false
}

const onDetailModalClose = (value) => {
    if (value) {
        selectedInvoice.value = null
    }
}

watch(paginator.value, async (current, previous) => {
    isLoading.value = true
    const response = await invoiceStore.getBaseInvoice(current)

    invoices.value = response.items
    paging.value = response.pagination
    isLoading.value = false
})

const setCurrent = (pageInfo) => {
    paginator.value.CurrentPage = computed(() => pageInfo.page + 1).value
    paginator.value.PageSize = pageInfo.rows
    paginator.value.PageRange = 5
}

const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}

const getInvoiceType = (value) => {
    switch (value) {
        case 1:
            return 'Hóa đơn thu'

        case 2:
            return 'Hóa đơn chi'

        default:
            return null
    }
}

const formatDate = (value) => {
    return moment(value).format('DD/MM/YYYY HH:mm')
}
</script>

<template>
    <Suspense>
        <div class="card">
            <DataTable
                v-model:selection="selectedInvoice"
                :value="invoices"
                :loading="isFirstLoading"
                selection-mode="single"
                dataKey="invoiceId"
                tableStyle="min-width: 40rem"
                scrollable
                scrollHeight="55vh"
            >
                <template #header>
                    <div class="d-flex flex-wrap align-items-center justify-content-between gap-2 mb-3">
                        <span class="text-xl text-900 font-bold">Danh sách hóa đơn</span>
                    </div>
                    <div class="wrapper d-flex">
                        <div class="group-search d-flex">
                            <div class="items">
                                <label>Loại Hóa Đơn</label>
                                <Dropdown
                                    v-model="selectedInvoiceType"
                                    :options="invoiceType"
                                    optionLabel="name"
                                    placeholder="Loại hóa đơn"
                                />
                            </div>
                            <div class="items">
                                <label>Kiểu Hóa Đơn</label>
                                <Dropdown
                                    v-model="selectedInvoiceFor"
                                    :options="invoiceFor"
                                    optionLabel="name"
                                    placeholder="Kiểu hóa đơn"
                                    style="width: 12rem"
                                />
                            </div>
                            <div class="items">
                                <label>Từ ngày</label>
                                <Calendar
                                    v-model="fromSelectedDate"
                                    dateFormat="dd/mm/yy"
                                    showButtonBar
                                    showIcon
                                    iconDisplay="input"
                                    style="width: 12rem"
                                />
                            </div>
                            <div class="items">
                                <label>Đến ngày</label>
                                <Calendar
                                    v-model="toSelectedDate"
                                    dateFormat="dd/mm/yy"
                                    showIcon
                                    iconDisplay="input"
                                    showButtonBar
                                    style="width: 12rem"
                                />
                            </div>
                        </div>

                        <div class="group-btn d-flex">
                            <div class="items">
                                <Button severity="info" class="me-2 rounded fw-bold" @click="onSearch" :disabled="isSearchDisabled" raised>
                                    Tìm Kiếm
                                </Button>
                            </div>
                            <div class="items">
                                <Button severity="success" class="me-2 rounded fw-bold" @click="onCreate" raised>
                                    <svg-icon type="mdi" :path="mdiPlus"></svg-icon>Tạo mới
                                </Button>
                            </div>
                        </div>
                    </div>
                </template>

                <template #loading>
                    <div class="d-flex align-items-center justify-content-center">
                        <h3>Đang tải dữ liệu ...</h3>
                    </div>
                </template>

                <template #empty>
                    <div v-if="!isFirstLoading" class="flex align-items-center justify-content-center my-4">
                        <h6 class="text-center">Không có dữ liệu</h6>
                    </div>
                </template>

                <Column field="invoiceCode" header="Mã hóa đơn" style="width: 25%">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ slotProps.data.invoiceCode }}</p>
                    </template>
                </Column>
                <Column field="type" header="Loại Hóa Đơn" style="width: 15%">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ getInvoiceType(slotProps.data.type) }}</p>
                    </template>
                </Column>
                <Column field="amount" header="Số tiền" style="width: 15%">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ formatCurrency(slotProps.data.amount) }}</p>
                    </template>
                </Column>
                <Column field="balanceChange" header="Biến động" style="width: 15%">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ formatCurrency(slotProps.data.balanceChange) }}</p>
                    </template>
                </Column>
                <Column field="createDate" header="Ngày tạo" style="width: 20%">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ formatDate(slotProps.data.createDate) }}</p>
                    </template>
                </Column>
                <template #footer>
                    <div class="flex flex-wrap align-items-center justify-content-center gap-2">
                        <Paginator
                            :rows="paging.pageSize"
                            :totalRecords="paging.totalItem"
                            :rowsPerPageOptions="[10, 20, 30]"
                            @page="setCurrent"
                        ></Paginator>
                    </div>
                </template>
            </DataTable>

            <CreateInvoiceForm @invoice-created="onInvoiceCreated" @modal-close="onModalClose" :is-open="isOpenModal" />
            <InvoiceDetailView :invoice="selectedInvoice" @modal-close="onDetailModalClose" />
        </div>
    </Suspense>
</template>
<style lang="scss">
.wrapper {
    justify-content: space-between;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 10px;

    .input-item {
        width: 15rem;
    }
}
</style>
