<script setup>
import { useInvoiceStore } from '@/stores/store.invoice'
import { ref } from 'vue'
import moment from 'moment'
import debounce from 'lodash.debounce'
import InvoiceDetailViewVue from '@/views/ReceiptPaymentInvoiceViews/InvoiceDetailView.vue'

const invoiceStore = useInvoiceStore()

//Ref
const invoices = ref()
const paging = ref({})
const paginator = ref({
    from: '',
    to: '',
    type: 1,
    invoiceFor: 'EXPORT',
    CurrentPage: 1,
    PageSize: 10,
    PageRange: 5
})
const isLoading = ref(false)
const isFirstLoading = ref(true)

const invoiceType = ref([
    { name: 'Hóa đơn thu', id: 1 },
    { name: 'Hóa đơn chi', id: 2 }
])
const selectedInvoiceType = ref(invoiceType.value[0])

const invoiceFor = ref([
    { name: 'Hóa đơn xuất', id: 'EXPORT' },
    { name: 'Hóa đơn nhập', id: 'IMPORT' },
    { name: 'Hóa đơn trả hàng', id: 'RETURN' }
])

const selectedInvoiceFor = ref(invoiceFor.value[0])

const fromSelectedDate = ref()
const toSelectedDate = ref()

const isSearchDisabled = ref(false)
const selectedInvoice = ref()

//Events
onBeforeMount(async () => {
    isLoading.value = true
    const response = await invoiceStore.getBranchInvoice(paginator.value)

    invoices.value = response.items
    paging.value = response.pagination
    isLoading.value = false
    isFirstLoading.value = false
})

//Methods
const onSearch = debounce(async () => {
    isLoading.value = true
    isSearchDisabled.value = true
    if (fromSelectedDate.value !== undefined) {
        paginator.value.from = moment(fromSelectedDate.value).format('MM/DD/YYYY')
    } else {
        paginator.value.from = ''
    }

    if (toSelectedDate.value !== undefined) {
        paginator.value.to = moment(toSelectedDate.value).format('MM/DD/YYYY')
    } else {
        paginator.value.to = ''
    }

    paginator.value.invoiceFor = selectedInvoiceFor.value.id
    paginator.value.type = selectedInvoiceType.value.id

    const response = await invoiceStore.getBranchInvoice(paginator.value)
    invoices.value = response.items
    paging.value = response.pagination
    isLoading.value = false
    isSearchDisabled.value = false
}, 500)

const setCurrent = (pageInfo) => {
    paginator.value.CurrentPage = computed(() => pageInfo.page + 1).value
    paginator.value.PageSize = pageInfo.rows
    paginator.value.PageRange = 5
}

const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}

const getInvoiceType = (value) => {
    switch (value) {
        case 1:
            return 'Hóa đơn thu'

        case 2:
            return 'Hóa đơn chi'

        default:
            return null
    }
}

const formatDate = (value) => {
    return moment(value).format('DD/MM/YYYY HH:mm')
}

const onModalClose = (value) => {
    if (value) {
        selectedInvoice.value = null
    }
}

//Watch
watch(paginator.value, async (current, previous) => {
    isLoading.value = true
    const response = await invoiceStore.getBranchInvoice(current)

    invoices.value = response.items
    paging.value = response.pagination
    isLoading.value = false
})

watch(
    () => selectedInvoiceType.value,
    (current, previous) => {
        if (current.id === 1) {
            selectedInvoiceFor.value = invoiceFor.value?.filter((x) => x.id !== 'IMPORT')[0]
        }

        if (current.id === 2) {
            selectedInvoiceFor.value = invoiceFor.value?.filter((x) => x.id !== 'EXPORT')[0]
        }
    }
)
</script>

<template>
    <Suspense>
        <div class="card">
            <DataTable
                v-model:selection="selectedInvoice"
                :value="invoices"
                :loading="isFirstLoading"
                selection-mode="single"
                dataKey="invoiceId"
                tableStyle="min-width: 50rem"
                scrollable
                scrollHeight="55vh"
            >
                <template #header>
                    <div class="d-flex flex-wrap align-items-center justify-content-between gap-2 mb-3">
                        <span class="text-xl text-900 font-bold">Danh sách hóa đơn</span>
                    </div>
                    <div class="wrapper d-flex">
                        <div class="group-search d-flex">
                            <div class="items">
                                <label>Loại Hóa Đơn</label>
                                <Dropdown
                                    v-model="selectedInvoiceType"
                                    :options="invoiceType"
                                    optionLabel="name"
                                    placeholder="Loại hóa đơn"
                                    style="width: 12rem"
                                />
                            </div>
                            <div class="items">
                                <label>Kiểu Hóa Đơn</label>
                                <Dropdown
                                    v-if="selectedInvoiceType.id === 1"
                                    v-model="selectedInvoiceFor"
                                    :options="invoiceFor.filter((x) => x.id !== 'IMPORT')"
                                    optionLabel="name"
                                    placeholder="Kiểu hóa đơn"
                                    style="width: 12rem"
                                />

                                <Dropdown
                                    v-if="selectedInvoiceType.id === 2"
                                    v-model="selectedInvoiceFor"
                                    :options="invoiceFor.filter((x) => x.id !== 'EXPORT')"
                                    optionLabel="name"
                                    placeholder="Kiểu hóa đơn"
                                    style="width: 12rem"
                                />
                            </div>
                            <div class="items">
                                <label>Từ ngày</label>
                                <Calendar
                                    v-model="fromSelectedDate"
                                    style="width: 12rem"
                                    dateFormat="dd/mm/yy"
                                    showIcon
                                    iconDisplay="input"
                                    showButtonBar
                                />
                            </div>
                            <div class="items">
                                <label>Đến ngày</label>
                                <Calendar
                                    v-model="toSelectedDate"
                                    style="width: 12rem"
                                    dateFormat="dd/mm/yy"
                                    showIcon
                                    iconDisplay="input"
                                    showButtonBar
                                />
                            </div>
                        </div>

                        <div class="group-btn d-flex">
                            <div class="items">
                                <Button severity="info" class="me-2 rounded" @click="onSearch" :disabled="isSearchDisabled"
                                    >Tìm Kiếm</Button
                                >
                            </div>
                        </div>
                    </div>
                </template>

                <template #loading>
                    <div class="d-flex align-items-center justify-content-center">
                        <h3>Đang tải dữ liệu ...</h3>
                    </div>
                </template>

                <template #empty>
                    <div v-if="!isFirstLoading" class="flex align-items-center justify-content-center my-4">
                        <h6 class="text-center">Không có dữ liệu</h6>
                    </div>
                </template>

                <Column field="invoiceCode" header="Mã hóa đơn">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ slotProps.data.invoiceCode }}</p>
                    </template>
                </Column>
                <Column field="type" header="Loại Hóa Đơn">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ getInvoiceType(slotProps.data.type) }}</p>
                    </template>
                </Column>
                <Column field="amount" header="Số tiền" style="max-width: 15rem">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ formatCurrency(slotProps.data.amount) }}</p>
                    </template>
                </Column>
                <Column field="balanceChange" header="Biến động">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ formatCurrency(slotProps.data.balanceChange) }}</p>
                    </template>
                </Column>
                <Column field="createDate" header="Ngày tạo">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ formatDate(slotProps.data.createDate) }}</p>
                    </template>
                </Column>
                <template #footer>
                    <div class="flex flex-wrap align-items-center justify-content-center gap-2">
                        <Paginator
                            :rows="paging.pageSize"
                            :totalRecords="paging.totalItem"
                            :rowsPerPageOptions="[10, 20, 30]"
                            @page="setCurrent"
                        ></Paginator>
                    </div>
                </template>
            </DataTable>

            <InvoiceDetailViewVue :invoice="selectedInvoice" @modal-close="onModalClose" />
        </div>
    </Suspense>
</template>
<style lang="scss" scoped>
.wrapper {
    justify-content: space-between;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 10px;
    .input-item {
        width: 15rem;
    }
}
</style>
