<script setup>
import PaymentInvoice from './PaymentInvoice.vue'
import ReceiptInvoice from './ReceiptInvoice.vue'

const modalVisible = ref(false)
const invoiceType = ref([
    { name: 'Hóa đơn thu', id: 1 },
    { name: 'Hóa đơn chi', id: 2 }
])
const selectedInvoiceType = ref(invoiceType.value[0])

//Props
const props = defineProps({
    isOpen: {
        type: Boolean,
        require: true
    }
})

watch(
    () => props.isOpen,
    (current, previous) => {
        if (current) {
            modalVisible.value = true
        }
    }
)

//Emits
const emits = defineEmits(['invoice-created', 'modal-close'])
//Submit
const onCreated = (isSuccess) => {
    modalVisible.value = false
    emits('invoice-created', isSuccess)
}

const onHide = () => {
    emits('modal-close', true)
    modalVisible.value = false
}
</script>

<template>
    <Dialog
        v-model:visible="modalVisible"
        modal
        header="Tạo phiếu"
        :style="{ width: '40rem' }"
        :breakpoints="{ '1199px': '75vw', '575px': '90vw' }"
        @hide="onHide"
    >
        <template #footer> </template>

        <form @submit.prevent="">
            <div class="form-row d-flex flex-column">
                <div class="form-group col-6 d-flex flex-column w-100">
                    <label>Loại hóa đơn</label>
                    <Dropdown
                        v-model="selectedInvoiceType"
                        :options="invoiceType"
                        optionLabel="name"
                        placeholder="Loại hóa đơn"
                        class="w-full"
                    />
                </div>

                <div v-if="selectedInvoiceType.id === 1">
                    <ReceiptInvoice @invoice-created="onCreated" />
                </div>

                <div v-if="selectedInvoiceType.id === 2">
                    <PaymentInvoice @invoice-created="onCreated" />
                </div>
            </div>
        </form>
    </Dialog>
</template>
