<script setup>
import moment from 'moment'

const props = defineProps({
    invoice: {
        type: Object,
        require: true
    }
})

const modalVisible = ref(false)

const emits = defineEmits(['modal-close'])

watch(
    () => props?.invoice,
    (current, prev) => {
        if (current) {
            modalVisible.value = true
        }
    }
)

const formatDate = (value) => {
    return moment(value).format('DD/MM/YYYY HH:mm')
}

const getInvoiceType = (value) => {
    switch (value) {
        case 1:
            return 'Hóa đơn thu'

        case 2:
            return 'Hóa đơn chi'

        default:
            return null
    }
}

const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}

const onHide = () => {
    emits('modal-close', true)
}
</script>

<template>
    <Dialog
        v-model:visible="modalVisible"
        modal
        header="Chi tiết hóa đơn"
        :style="{ width: '50rem' }"
        :breakpoints="{ '1199px': '75vw', '575px': '90vw' }"
        @hide="onHide"
    >
        <template #default>
            <div class="form-row d-flex mb-5">
                <div class="form-group col-6">
                    <div class="item">
                        <span>
                            <p>
                                Mã hóa đơn:<br /><b>{{ props.invoice?.invoiceCode }}</b>
                            </p>
                        </span>
                    </div>
                    <div class="item">
                        <span>
                            <p>
                                Số tiền:<br /><b>{{ formatCurrency(props.invoice?.amount) }}</b>
                            </p>
                        </span>
                    </div>
                    <div class="item">
                        <span>
                            <p>
                                Ngày tạo:<br />
                                {{ formatDate(props.invoice?.createDate) }}
                            </p>
                        </span>
                    </div>
                </div>
                <div class="form-group col-6">
                    <div class="item">
                        <span>
                            <p>
                                Loại hóa đơn:<br />
                                {{ getInvoiceType(props.invoice?.type) }}
                            </p>
                        </span>
                    </div>
                    <div class="item">
                        <span>
                            <p>
                                Chú thích:<br />
                                {{ props.invoice?.description }}
                            </p>
                        </span>
                    </div>
                </div>
            </div>
        </template>
    </Dialog>
</template>

<style lang="scss" scoped>
.item {
    padding-top: 10px;
}
</style>
