<script setup>
import * as yup from 'yup'
import { useForm } from 'vee-validate'
import { useInvoiceStore } from '@/stores/store.invoice'
import debounce from 'lodash.debounce'

const emits = defineEmits(['invoice-created'])
const invoiceStore = useInvoiceStore()

const invoiceFor = ref([
    { name: 'Trả hàng cho nhà cung cấp', id: 1 },
    { name: 'Xuất hàng cho chi nhánh', id: 2 }
])
const selectedInvoiceFor = ref(invoiceFor.value[0])
const isChangeForm = ref(false)
const supplierInfo = ref([])
const selectedSupplier = ref()

const branchInfo = ref([])
const selectedBranch = ref()

const isSubmitDisabled = ref(false)

onBeforeMount(async () => {
    const supplierData = await invoiceStore.getSupplierWithDebt()
    const mapData = supplierData.map((el) => ({ name: el.supplierName, id: el.supplierId, amount: el.debtAmount }))

    const branchData = await invoiceStore.getBranchWithDebt()
    const mapBranchData = branchData.map((el) => ({ name: el.warehouseName, id: el.warehouseId, amount: el.debtAmount }))

    supplierInfo.value = mapData
    selectedSupplier.value = mapData[0] || null

    branchInfo.value = mapBranchData
    selectedBranch.value = mapBranchData[0] || null
})

const schema = yup.object({
    amount: yup.number('Số tiền phải là số').positive('Số tiền không được nhỏ hơn 0')
})

const { values, errors, defineComponentBinds, handleSubmit, resetForm } = useForm({
    validationSchema: schema
})

const amount = defineComponentBinds('amount')

const onSubmit = handleSubmit(
    debounce(async (value) => {
        let isSuccess = false
        switch (selectedInvoiceFor.value?.id) {
            case 1:
                isSuccess = await invoiceStore.createReceiptInvoice({
                    supplierId: selectedSupplier.value?.id,
                    type: 1,
                    amount: value.amount
                })
                break

            case 2:
                isSuccess = await invoiceStore.createReceiptInvoice({
                    branchId: selectedBranch.value?.id,
                    type: 2,
                    amount: value.amount
                })
                break

            default:
                break
        }

        emits('invoice-created', isSuccess)
    }, 500)
)
</script>

<template>
    <div class="inner-form justify-content-center">
        <div class="form-group col-6 d-flex flex-column w-100 mt-2">
            <label>Kiểu hóa đơn</label>
            <Dropdown
                v-model="selectedInvoiceFor"
                :options="invoiceFor"
                optionLabel="name"
                placeholder="Kiểu hóa đơn"
                class="w-full md:w-14rem"
            />
        </div>
        <div v-if="selectedInvoiceFor.id === 1">
            <div class="form-group col-6 d-flex flex-column w-100 mt-2">
                <label>Đơn vị cung cấp</label>
                <Dropdown
                    v-model="selectedSupplier"
                    :options="supplierInfo"
                    optionLabel="name"
                    placeholder="Đơn vị cung cấp"
                    class="w-full md:w-14rem"
                />
            </div>

            <div class="form-group col-6 d-flex flex-column w-100 mt-2">
                <label>Số tiền</label>
                <InputNumber
                    v-bind="amount"
                    inputId="minmax-buttons"
                    mode="currency"
                    currency="VND"
                    locale="vi-VN"
                    showButtons
                    :min="0"
                    :max="selectedSupplier?.amount"
                    class="w-full md:w-14rem"
                />
            </div>
        </div>

        <div v-if="selectedInvoiceFor.id === 2">
            <div class="form-group col-6 d-flex flex-column w-100 mt-2">
                <label>Chi nhánh</label>
                <Dropdown
                    v-model="selectedBranch"
                    :options="branchInfo"
                    optionLabel="name"
                    placeholder="Chi nhánh"
                    class="w-full md:w-14rem"
                />
            </div>

            <div class="form-group col-6 d-flex flex-column w-100 mt-2">
                <label>Số tiền</label>
                <InputNumber
                    v-bind="amount"
                    inputId="minmax-buttons"
                    mode="currency"
                    currency="VND"
                    locale="vi-VN"
                    showButtons
                    :min="0"
                    :max="selectedBranch?.amount"
                    class="w-full md:w-14rem"
                />
            </div>
        </div>
    </div>

    <div class="form-group col-12 d-flex justify-content-end mt-5">
        <Button
            class="me-2 rounded"
            severity="success"
            label="Tạo"
            @click="onSubmit"
            :disabled="isSubmitDisabled"
            style="width: 6.5rem"
            raised
        />
    </div>
</template>
