<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiListBox, mdiChevronRight } from '@mdi/js'
</script>
<template>
    <li class="nav-item nav-category">Quản lý tài khoản</li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#manage-account" aria-expanded="false" aria-controls="manage-account">
            <svg-icon class="menu-icon" type="mdi" :path="mdiListBox"></svg-icon>
            <span class="menu-title">Tài khoản</span>
            <svg-icon class="menu-arrow" type="mdi" :path="mdiChevronRight"></svg-icon>
        </a>
        <div class="collapse" id="manage-account" data-bs-parent="#accordion">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <RouterLink class="nav-link" to="/account-management">Danh sách tài khoản </RouterLink>
                </li>
            </ul>
        </div>
    </li>
</template>
<style lang="scss" scoped>
@import '@/assets/styles/sidebar.scss';
</style>
