<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiChevronRight, mdiAccountBox, mdiCashRegister, mdiPackageVariant, mdiWarehouse } from '@mdi/js'
</script>
<template>
    <li class="nav-item nav-category">Quản lý</li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#manage-warehouse" aria-expanded="false" aria-controls="manage-warehouse">
            <svg-icon class="menu-icon" type="mdi" :path="mdiWarehouse"></svg-icon>
            <span class="menu-title">Quản lý kho</span>
            <svg-icon class="menu-arrow" type="mdi" :path="mdiChevronRight"></svg-icon>
        </a>
        <div class="collapse" id="manage-warehouse" data-bs-parent="#accordion">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <router-link class="nav-link" to="/view-branch-warehouses">Danh sách kho chi nhánh</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/view-warehouse-profile">Thông tin kho</router-link>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#manage-employee" aria-expanded="false" aria-controls="manage-employee">
            <svg-icon class="menu-icon" type="mdi" :path="mdiAccountBox"></svg-icon>
            <span class="menu-title">Quản lý nhân viên</span>
            <svg-icon class="menu-arrow" type="mdi" :path="mdiChevronRight"></svg-icon>
        </a>
        <div class="collapse" id="manage-employee" data-bs-parent="#accordion">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <router-link class="nav-link" to="/employee-management">Danh sách nhân viên</router-link>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#manage-batch" aria-expanded="false" aria-controls="manage-batch">
            <svg-icon class="menu-icon" type="mdi" :path="mdiPackageVariant"></svg-icon>
            <span class="menu-title">Quản lý sản phẩm</span>
            <svg-icon class="menu-arrow" type="mdi" :path="mdiChevronRight"></svg-icon>
        </a>
        <div class="collapse" id="manage-batch" data-bs-parent="#accordion">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <router-link class="nav-link" to="/product-management"> Danh sách sản phẩm </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/stock-quantity-management"> Quản lý kho </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/base-import-list"> Nhập kho </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/base-export-list"> Xuất kho </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/stock-check-sheet-management"> Kiểm hàng </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/supplier-management"> Nhà cung cấp </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/category-management"> Loại sản phẩm </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/base/product-return-management"> Danh sách trả hàng từ kho con </router-link>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#manage-cash" aria-expanded="false" aria-controls="manage-cash">
            <svg-icon class="menu-icon" type="mdi" :path="mdiCashRegister"></svg-icon>
            <span class="menu-title">Sổ quỹ</span>
            <svg-icon class="menu-arrow" type="mdi" :path="mdiChevronRight"></svg-icon>
        </a>
        <div class="collapse" id="manage-cash" data-bs-parent="#accordion">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <router-link class="nav-link" to="/base-invoice"> Phiếu thu/chi </router-link>
                </li>
            </ul>
        </div>
    </li>
</template>
<style lang="scss" scoped>
@import '@/assets/styles/sidebar.scss';
</style>
