<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiChevronRight, mdiCashRegister, mdiPackageVariant } from '@mdi/js'
</script>
<template>
    <li class="nav-item nav-category">Quản lý</li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#manage-batch" aria-expanded="false" aria-controls="manage-batch">
            <svg-icon class="menu-icon" type="mdi" :path="mdiPackageVariant"></svg-icon>
            <span class="menu-title">Quản lý sản phẩm</span>
            <svg-icon class="menu-arrow" type="mdi" :path="mdiChevronRight"></svg-icon>
        </a>
        <div class="collapse" id="manage-batch" data-bs-parent="#accordion">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <router-link class="nav-link" to="/branch-product-management"> Danh sách sản phẩm </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/stock-quantity-management"> Quản lý kho </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/branch-import-request"> Đơn yêu cầu nhập hàng </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/branch-import-list"> Nhập kho </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/branch-export-list"> Xuất kho </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/stock-check-sheet-management"> Kiểm hàng </router-link>
                </li>
            </ul>
        </div>
    </li>
</template>
<style lang="scss" scoped>
@import '@/assets/styles/sidebar.scss';
</style>
