<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import {
    mdiPlus,
    mdiCheckCircle,
    mdiCheckCircleOutline,
    mdiPlusCircle,
    mdiCircleSmall,
    mdiMenuDown,
    mdiCash,
    mdiCircleHalfFull,
    mdiCalendarMonth
} from '@mdi/js'
import { useToast } from 'primevue/usetoast'
import { ref, onMounted, reactive } from 'vue'
import { useBranchImportStore } from '@/stores/store.branchimport.js'
import moment from 'moment'
import { useRouter } from 'vue-router'
import debounce from 'lodash.debounce'
import { Button } from '@/primevue.components'

const router = useRouter()
const toast = useToast()
const useBranchImport = useBranchImportStore()
const productReturnDetailDialog = ref(false)
const confirmImportDialog = ref(false)
const showListInvoice = ref(false)
const selectedProductReturn = ref({})
const branchImport = ref()
const active = ref(0)
const itemsLabel = ref([
    {
        label: 'Thông tin sản phẩm'
    },
    {
        label: 'Hoàn trả'
    }
])
const importId = ref(router.currentRoute.value.params.importId || '')

onMounted(async () => {
    active.value = 0
    branchImport.value = await useBranchImport.getBranchImportDetails(importId.value)
})

//handle click to show invoice
const handleShowInvoice = (event) => {
    showListInvoice.value = !showListInvoice.value
}

//current date
const currentDate = new Date()
//format date
const format_date = (value) => {
    if (value) {
        if (value === '0001-01-01T00:00:00') {
            value = new Date()
        }
        return moment(String(value)).format('DD/MM/YYYY HH:mm')
    } else {
        return ''
    }
}
//format number
const formatNumber = (value) => {
    return new Intl.NumberFormat().format(value)
}
//format currency
const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}
const getImportSeverity = (importStatus) => {
    switch (importStatus) {
        case 2:
            return 'success'

        case 1:
            return 'warning'

        default:
            return null
    }
}
const getValueImportStatus = (importStatus) => {
    switch (importStatus) {
        case 2:
            return 'Đã nhập'

        case 1:
            return 'Chưa nhập'

        default:
            return null
    }
}
const getPaymentSeverity = (paymentStatus) => {
    switch (paymentStatus) {
        case 3:
            return 'success'

        case 2:
            return 'warning'

        case 1:
            return 'danger'

        default:
            return null
    }
}
const getValuePaymentStatus = (paymentStatus) => {
    switch (paymentStatus) {
        case 3:
            return 'Đã hoàn thành'

        case 2:
            return 'Trả một phần'

        case 1:
            return 'Chưa thanh toán'

        default:
            return null
    }
}
const getReturnStatusSeverity = (status) => {
    switch (status) {
        case 2:
            return 'danger'

        case 1:
            return 'success'

        case 0:
            return 'warning'

        default:
            return null
    }
}
const getReturnValueStatus = (status) => {
    switch (status) {
        case 2:
            return 'Đã từ chối'

        case 1:
            return 'Đã hoàn trả'
        case 0:
            return 'Yêu cầu'
        default:
            return null
    }
}

const getValueTypeInvoice = (typeInvoice) => {
    switch (typeInvoice) {
        case 2:
            return 'Phiếu chi'

        case 1:
            return 'Phiếu thu'

        default:
            return null
    }
}
//update status branch import
const handleUpdateStatusBranchImport = debounce(async () => {
    const response = await useBranchImport.changeStatusImport(importId.value)
    if (response.code == 200) {
        toast.add({
            severity: 'success',
            summary: 'Thành công',
            detail: 'Đã nhập hàng vào kho',
            life: 3000
        })
    }
    branchImport.value = await useBranchImport.getBranchImportDetails(importId.value)
    confirmImportDialog.value = false
}, 500)
//handle click to product return details
const onRowSelectProductReturn = (event) => {
    productReturnDetailDialog.value = true
    selectedProductReturn.value = event.data
}
</script>
<template>
    <div v-if="branchImport">
        <div class="row">
            <div class="col-12 d-flex justify-content-end bg-white rounded">
                <router-link to="/branch-import-list">
                    <Button severity="secondary" class="m-2 rounded" label="Thoát" outlined raised />
                </router-link>
                <Button
                    v-if="branchImport.importStatus == 1"
                    severity="info"
                    class="m-2 rounded"
                    label="Nhập hàng"
                    raised
                    @click="confirmImportDialog = true"
                />
                <Dialog
                    v-model:visible="confirmImportDialog"
                    header="Xác nhận nhập hàng"
                    :style="{ width: '40rem' }"
                    position="top"
                    :modal="true"
                >
                    <p class="m-0">
                        Bạn có chắc chắn nhập hàng từ kho tổng
                        <b>{{ branchImport.nameBaseWarehouse }}</b>
                        không ?
                    </p>
                    <template #footer>
                        <Button label="Hủy" severity="secondary" class="rounded" @click="confirmImportDialog = false" text />
                        <Button label="Nhập hàng" severity="info" class="rounded" @click="handleUpdateStatusBranchImport" autofocus />
                    </template>
                </Dialog>
                <router-link :to="{ name: 'create-branch-product-return', params: { importId: importId.value } }">
                    <Button
                        v-if="
                            branchImport.importStatus == 2 &&
                            branchImport.wmsBranchImportProducts.reduce((total, product) => {
                                return (
                                    total + product.branchImportProductList.reduce((itemTotal, item) => itemTotal + item.stockQuantity, 0)
                                )
                            }, 0) > 0
                        "
                        severity="info"
                        class="m-2 rounded"
                        label="Hoàn trả"
                        raised
                    />
                </router-link>
            </div>
        </div>
        <div v-if="branchImport.importStatus == 2" class="mt-4">
            <div class="d-flex justify-content-between">
                <div>
                    <span class="text-uppercase fw-bolder">{{ branchImport.importCode }}</span>
                    <span class="text-secondary m-2" style="font-size: 12px">{{ format_date(branchImport.importedDate) }}</span>
                    <Tag
                        :value="getValueImportStatus(branchImport.importStatus)"
                        :severity="getImportSeverity(branchImport.importStatus)"
                        rounded
                    />
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-7 p-3 bg-white rounded">
                <p class="fw-bolder">Thông tin nhà cung cấp</p>
                <div class="d-flex justify-content-between">
                    <span class="text-primary">{{ branchImport.nameBaseWarehouse }}</span>
                    <div class="w-50 p-3 dashed-border">
                        <div class="d-flex justify-content-between">
                            <p>Công nợ</p>
                            <p>{{ formatCurrency(branchImport.debtBranchResponseDto.debtAmount) }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Tổng đơn nhập</p>
                            <p>{{ formatNumber(branchImport.debtBranchResponseDto.totalImport) }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Trả hàng</p>
                            <p>{{ formatNumber(branchImport.debtBranchResponseDto.totalReturnProduct) }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-4 p-3 bg-white rounded">
                <p class="fw-bolder">Thông tin đơn nhập hàng</p>
                <div>
                    <span class="m-0">Kho nhập: Kho tổng</span>
                </div>
                <div>
                    <span class="m-0">Nhân viên nhập: {{ branchImport.nameImportBy }}</span>
                </div>
                <div>
                    <span class="m-0">Ngày nhập: {{ format_date(branchImport.importedDate) }}</span>
                </div>
            </div>
        </div>
        <div v-if="branchImport.importStatus == 2">
            <div class="row mt-4">
                <div class="col-12 p-3 bg-white rounded">
                    <p class="fw-bolder">
                        <svg-icon class="text-success" type="mdi" :path="mdiCheckCircle"></svg-icon>
                        Đơn hàng đã nhập kho
                    </p>
                    <hr />
                    <p>
                        <svg-icon class="text-primary" type="mdi" :path="mdiCircleSmall"></svg-icon>
                        {{ branchImport.importCode }}
                        <svg-icon class="text-primary" type="mdi" :path="mdiMenuDown"></svg-icon>
                        <span class="text-secondary">{{ format_date(branchImport.importedDate) }}</span>
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 p-3 bg-white rounded">
                    <div class="d-flex justify-content-between">
                        <p v-if="branchImport.paymentStatus == 1" class="fw-bolder my-auto">
                            <svg-icon class="text-secondary" type="mdi" :path="mdiCash"></svg-icon>
                            Đơn nhập hàng chưa thanh toán
                        </p>
                        <p v-if="branchImport.paymentStatus == 2" class="fw-bolder my-auto">
                            <svg-icon class="text-secondary" type="mdi" :path="mdiCircleHalfFull"></svg-icon>
                            Đơn nhập hàng thanh toán một phần
                        </p>
                        <p v-if="branchImport.paymentStatus == 3" class="fw-bolder my-auto">
                            <svg-icon class="text-success" type="mdi" :path="mdiCheckCircle"></svg-icon>
                            Đơn nhập hàng thanh toán toàn bộ
                        </p>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between p-2" style="background-color: rgb(233, 244, 255)">
                        <p class="my-auto">
                            Tiền cần trả:
                            <span class="fw-bolder">{{ formatCurrency(branchImport.totalCost) }}</span>
                        </p>
                        <p class="my-auto">
                            Đã trả:
                            <span class="fw-bolder">{{ formatCurrency(branchImport.paidAmount) }}</span>
                        </p>
                        <p class="my-auto">
                            Còn phải trả:
                            <span class="fw-bolder text-danger">{{
                                formatCurrency(branchImport.totalCost - branchImport.paidAmount)
                            }}</span>
                        </p>
                    </div>
                    <p v-if="branchImport.paymentStatus !== 1" class="mt-2">
                        <svg-icon class="text-primary" type="mdi" :path="mdiCircleSmall"></svg-icon>
                        Thanh toán: {{ formatCurrency(branchImport.invoices[0].amount) }}
                        <a href="" @click.prevent="handleShowInvoice">
                            <svg-icon class="text-primary" type="mdi" :path="mdiMenuDown"></svg-icon>
                        </a>
                        <span class="text-secondary">{{ format_date(branchImport.invoices[0].updateDate) }}</span>
                    </p>
                    <DataTable v-if="showListInvoice" :value="branchImport.invoices" tableStyle="min-width: 50rem">
                        <Column field="invoiceCode" header="Mã thanh toán"></Column>
                        <Column field="type" header="Loại Phiếu">
                            <template #body="slotProps">
                                {{ getValueTypeInvoice(slotProps.data.type) }}
                            </template>
                        </Column>
                        <Column field="amount" header="Số tiền">
                            <template #body="slotProps">
                                {{ formatCurrency(slotProps.data.amount) }}
                            </template>
                        </Column>
                        <Column field="updateDate" header="Ngày thanh toán">
                            <template #body="{ data }">
                                {{ format_date(data.updateDate) }}
                            </template>
                        </Column>
                    </DataTable>
                </div>
            </div>
        </div>
        <div class="row mt-4 bg-white rounded">
            <TabMenu v-if="branchImport.productReturns.length > 0" v-model:activeIndex="active" :model="itemsLabel"> </TabMenu>
            <div v-if="active === 0" class="col-12 p-3">
                <p v-if="branchImport.productReturns.length === 0" class="fw-bolder">Thông tin sản phẩm</p>
                <DataTable :value="branchImport.wmsBranchImportProducts" tableStyle="min-width: 50rem">
                    <Column header="Ảnh" style="min-width: 14rem">
                        <template #body="{ data }">
                            <div class="flex align-items-center gap-2">
                                <img :alt="data.productImage" :src="data.productImage" style="width: 32px" class="rounded me-2" />
                            </div>
                        </template>
                    </Column>
                    <Column field="productName" header="Tên sản phẩm"></Column>
                    <Column field="importedQuantity" header="SL Đặt">
                        <template #body="slotProps">
                            {{ formatNumber(slotProps.data.importedQuantity) }}
                        </template>
                    </Column>
                    <Column field="unitPrice" header="Đơn giá">
                        <template #body="slotProps">
                            {{ formatCurrency(slotProps.data.unitPrice) }}
                        </template>
                    </Column>
                    <Column field="" header="Thành tiền">
                        <template #body="slotProps">
                            {{ formatCurrency(slotProps.data.unitPrice * slotProps.data.importedQuantity) }}
                        </template>
                    </Column>
                </DataTable>
                <hr />
                <div class="row">
                    <div class="col-8 p-3">
                        <p class="fw-bolder">Ghi chú đơn</p>
                        <p>Chưa có ghi chú đơn</p>
                    </div>
                    <div class="col-4 p-3 d-flex justify-content-between">
                        <div>
                            <p>Số lượng</p>
                            <p>Tổng tiền</p>
                            <p>Chi phí nhập hàng</p>
                            <p class="fw-bolder">Tiền cần trả</p>
                        </div>
                        <div>
                            <p>
                                {{
                                    formatNumber(
                                        branchImport.wmsBranchImportProducts.reduce((total, product) => total + product.importedQuantity, 0)
                                    )
                                }}
                            </p>
                            <p>{{ formatCurrency(branchImport.totalPrice) }}</p>
                            <p>{{ formatCurrency(branchImport.extraCost) }}</p>
                            <p class="fw-bolder">{{ formatCurrency(branchImport.totalCost) }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="active === 1" class="col-12 p-3">
                <DataTable
                    v-model:selection="selectedProductReturn"
                    :value="branchImport.productReturns"
                    tableStyle="min-width: 50rem"
                    selectionMode="single"
                    @rowSelect="onRowSelectProductReturn"
                >
                    <Column field="returnCode" header="Mã hoàn trả"></Column>
                    <Column field="updateUser" header="Nhân viên trả"></Column>
                    <Column field="updateDate" header="Ngày trả">
                        <template #body="{ data }">
                            {{ format_date(data.createDate) }}
                        </template>
                    </Column>
                    <Column field="paymentStatus" header="Trạng thái chi trả">
                        <template #body="slotProps">
                            <Tag
                                :value="getValuePaymentStatus(slotProps.data.paymentStatus)"
                                :severity="getPaymentSeverity(slotProps.data.paymentStatus)"
                            />
                        </template>
                    </Column>
                    <Column field="status" header="Trạng thái">
                        <template #body="slotProps">
                            <Tag
                                :value="getReturnValueStatus(slotProps.data.status)"
                                :severity="getReturnStatusSeverity(slotProps.data.status)"
                            />
                        </template>
                    </Column>
                </DataTable>
                <Dialog v-model:visible="productReturnDetailDialog" modal :style="{ width: '75vw' }">
                    <template #header>
                        <h4>Đơn hoàn trả cho đơn nhập {{ selectedProductReturn.importCode }}</h4>
                    </template>
                    <div class="product-return-content">
                        <p></p>
                        <div class="row rounded p-2">
                            <div class="col-8">
                                <div class="bg-light p-2 rounded fw-bolder">
                                    <p>Thông tin sản phẩm trả</p>
                                    <hr />
                                    <DataTable :value="selectedProductReturn.returnDetails">
                                        <Column field="productName" header="Tên sản phẩm"></Column>
                                        <Column field="requestQuantity" header="Số lượng">
                                            <template #body="slotProps">
                                                {{ formatNumber(slotProps.data.requestQuantity) }}
                                            </template>
                                        </Column>
                                        <Column field="unitPrice" header="Giá hàng trả">
                                            <template #body="slotProps">
                                                {{ formatCurrency(slotProps.data.unitPrice) }}
                                            </template>
                                        </Column>
                                        <Column field="" header="Thành tiền">
                                            <template #body="slotProps">
                                                {{ formatCurrency(slotProps.data.unitPrice * slotProps.data.requestQuantity) }}
                                            </template>
                                        </Column>
                                    </DataTable>
                                    <div class="row mt-4">
                                        <div class="col-6"></div>
                                        <div class="col-6">
                                            <div class="d-flex justify-content-between">
                                                <p>Số lượng hàng trả</p>
                                                <p>
                                                    {{
                                                        formatNumber(
                                                            selectedProductReturn.returnDetails.reduce(
                                                                (total, selectedProduct) => total + selectedProduct.requestQuantity,
                                                                0
                                                            )
                                                        )
                                                    }}
                                                </p>
                                            </div>
                                            <hr />
                                            <div class="d-flex justify-content-between text-primary">
                                                <p>Tổng giá trị hàng trả</p>
                                                <p>
                                                    {{
                                                        formatCurrency(
                                                            selectedProductReturn.returnDetails.reduce(
                                                                (total, selectedProduct) =>
                                                                    total + selectedProduct.unitPrice * selectedProduct.requestQuantity,
                                                                0
                                                            )
                                                        )
                                                    }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="bg-light p-2 rounded fw-bolder">
                                    <p>Kho cung cấp</p>
                                    <p class="text-primary">{{ branchImport.nameBaseWarehouse }}</p>
                                </div>
                                <div class="bg-light mt-2 p-2 rounded fw-bolder">
                                    <p>Lý do hoàn trả</p>
                                    <Textarea v-model="selectedProductReturn.description" rows="2" class="w-100" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </Dialog>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.dashed-border {
    border: 1px dashed #8c8c8c;
}
</style>
