<script setup>
import { useProductStore } from '@/stores/store.product'
import { ref } from 'vue'
import ProductDetailForBranch from '@/views/ProductBranchPage/ProductDetailForBranch.vue'
import { useCategoryStore } from '@/stores/store.category'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiMagnify } from '@mdi/js'

const productStore = useProductStore()
const products = ref()
const paging = ref({})
const paginator = ref({
    SearchWord: '',
    Visible: null,
    CategoryId: null,
    CurrentPage: 1,
    PageSize: 10,
    PageRange: 5
})
const isLoading = ref(false)
const isFirstLoading = ref(true)
const selectedProduct = ref()
const isDialogShow = ref(false)

//option status
const selectedVisible = ref()
//option date

const categoryStore = useCategoryStore()
const categorys = ref([{ categoryName: 'Tất cả', categoryId: -1, Visible: true }])
const selectedCategoryId = ref(categorys?.value[0]?.categoryId)
onBeforeMount(async () => {
    isLoading.value = true
    const response = await productStore.getProductListForBranch(paginator.value)

    const categorysInDb = await categoryStore.getCategories()
    categorys.value = [{ categoryName: 'Tất cả', categoryId: -1, Visible: true }].concat(categorysInDb)

    products.value = response.items
    paging.value = response.pagination
    isLoading.value = false
    isFirstLoading.value = false
})

watch(paginator.value, async (current, previous) => {
    isLoading.value = true
    const response = await productStore.getProductListForBranch(current)

    products.value = response.items
    paging.value = response.pagination
    isLoading.value = false
})

watch(selectedVisible, async (current, previous) => {
    paginator.value.Visible = current.id
})

watch(selectedCategoryId, async (current, previous) => {
    paginator.value.CategoryId = current
    if (current === -1) {
        paginator.value.CategoryId = null
    }
})

const setCurrent = (pageInfo) => {
    paginator.value.CurrentPage = computed(() => pageInfo.page + 1).value
    paginator.value.PageSize = pageInfo.rows
    paginator.value.PageRange = 5
}

const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}

const getSeverity = (status) => {
    switch (status) {
        case true:
            return 'success'

        case false:
            return 'danger'

        default:
            return null
    }
}

const getTag = (status) => {
    switch (status) {
        case true:
            return 'Đang bán'

        case false:
            return 'Ngừng bán'

        default:
            return null
    }
}

const onModalClose = (value) => {
    if (value) {
        selectedProduct.value = null
    }
}

const onUpdateSuccess = async (value) => {
    if (value) {
        isLoading.value = true
        const response = await productStore.getProductListForBranch(paginator.value)
        products.value = response.items

        paging.value = response.pagination
        isLoading.value = false
    }
}
</script>

<template>
    <Suspense>
        <div class="card">
            <DataTable
                v-model:selection="selectedProduct"
                :value="products"
                :loading="isFirstLoading"
                selection-mode="single"
                dataKey="productId"
                tableStyle="min-width: 50rem"
                scrollable
                scrollHeight="380px"
            >
                <template #header>
                    <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                        <span class="text-xl text-900 font-bold">Danh sách sản phẩm</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="p-input-icon-left">
                                <svg-icon type="mdi" :path="mdiMagnify"></svg-icon>
                                <InputText v-model="paginator.SearchWord" placeholder="Tìm kiếm..." />
                            </span>
                            <Dropdown
                                v-model="selectedCategoryId"
                                :options="categorys"
                                optionLabel="categoryName"
                                option-value="categoryId"
                                placeholder="Loại sản phẩm"
                                class="w-full md:w-14rem ms-2"
                            />
                        </div>
                    </div>
                </template>

                <template #loading>
                    <div class="flex align-items-center justify-content-center">
                        <h3>Đang tải dữ liệu ...</h3>
                    </div>
                </template>

                <template #empty>
                    <div class="flex align-items-center justify-content-center my-4">
                        <h6 class="text-center">Không có dữ liệu</h6>
                    </div>
                </template>

                <Column field="sku" header="SKU">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ slotProps.data.sku }}</p>
                    </template>
                </Column>
                <Column header="Ảnh sản phẩm">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>

                        <img
                            v-else
                            :src="slotProps.data.productImage"
                            :alt="slotProps.data.productImage"
                            class="w-6rem shadow-2 border-round"
                            width="45"
                        />
                    </template>
                </Column>
                <Column field="productName" header="Tên sản phẩm" style="max-width: 15rem">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ slotProps.data.productName }}</p>
                    </template>
                </Column>
                <Column field="unitPrice" header="Giá nhập">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ formatCurrency(slotProps.data.unitPrice) }}</p>
                    </template>
                </Column>
                <Column field="costPrice" header="Giá vốn">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ formatCurrency(slotProps.data.costPrice) }}</p>
                    </template>
                </Column>
                <Column field="exportPrice" header="Giá xuất">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ formatCurrency(slotProps.data.exportPrice) }}</p>
                    </template>
                </Column>
                <Column field="Loại sản phẩm" header="Loại sản phẩm">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-1"></Skeleton>
                        <p v-else>{{ slotProps.data.categoryName }}</p>
                    </template>
                </Column>
                <template #footer>
                    <div class="flex flex-wrap align-items-center justify-content-center gap-2">
                        <Paginator
                            :rows="paging.pageSize"
                            :totalRecords="paging.totalItem"
                            :rowsPerPageOptions="[10, 20, 30]"
                            @page="setCurrent"
                        ></Paginator>
                    </div>
                </template>
            </DataTable>
            <ProductDetailForBranch
                @modal-close="onModalClose"
                @update-success="onUpdateSuccess"
                :product="selectedProduct?.productId"
                :style="{ width: '50rem' }"
                :breakpoints="{ '1199px': '75vw', '575px': '90vw' }"
            />
        </div>
    </Suspense>
</template>
