<script setup>
import { ref } from 'vue'
import { useProductStore } from '@/stores/store.product'
import * as yup from 'yup'
import { useForm } from 'vee-validate'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiPencilOutline } from '@mdi/js'
import debounce from 'lodash.debounce'
import lodash from 'lodash'
import { useToast } from 'primevue/usetoast'
import { useCategoryStore } from '@/stores/store.category'
import { roles } from '@/constants/role.js'

const userRole = inject('userRole')
const categoryStore = useCategoryStore()
const categorys = ref(null)

onMounted(async () => {
    categorys.value = await categoryStore.getCategories()
})

const productStore = useProductStore()
const toast = useToast()
const props = defineProps({
    product: {
        type: String,
        require: true
    }
})

const emits = defineEmits(['modal-close', 'update-success'])

const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}

const modalVisible = ref(false)
const productDetail = ref({})
const canEdit = ref(false)
const isDisabled = ref(false)
const isChanged = ref(false)

const schema = yup.object({
    exportPrice: yup.number().required()
})

const { values, errors, defineComponentBinds, handleSubmit, resetForm } = useForm({
    validationSchema: schema
})

const exportPrice = defineComponentBinds('exportPrice')
const productDescription = ref()
const productImage = ref()
const productName = ref()
const sku = ref()
const unitPrice = ref()
const visible = ref()
const categoryId = ref()

watch(
    () => props?.product,
    async (current, prev) => {
        if (current) {
            const response = await productStore.getProductDetailForBranch(current)
            productDetail.value = response
            productDescription.value = response.productDescription
            productImage.value = response.productImage
            productName.value = response.productName.trim()
            sku.value = response.sku
            unitPrice.value = response.unitPrice
            visible.value = response.visible
            categoryId.value = response.categoryId

            resetForm({ values: productDetail.value })
            isDisabled.value = false
            canEdit.value = false
            modalVisible.value = true
        }
    }
)

watch(values, (current, prev) => {
    if (!lodash.isEqual(current, productDetail)) {
        isChanged.value = true
    }
})

const changeEditState = () => {
    canEdit.value = !canEdit.value
}

const updateChange = handleSubmit(
    debounce(async (value) => {
        isDisabled.value = true
        const productDetailData = reactive({
            ProductId: value.productId,
            ExportPrice: value.exportPrice
        })
        const result = await productStore.updateProductForBranch(productDetailData)
        if (result) {
            isDisabled.value = false
            if (result === 200) {
                toast.add({ severity: 'info', summary: 'Thành công!!!', detail: 'Cập nhật thông tin sản phẩm thành công', life: 3000 })
                modalVisible.value = false
                emits('update-success', true)
            } else {
                toast.add({ severity: 'danger', summary: 'Thất bại!!!', detail: 'Cập nhật thông tin sản phẩm thành công', life: 3000 })
            }
        }
    }, 1000)
)

const onHide = () => {
    emits('modal-close', true)
}
</script>

<template>
    <Dialog
        v-model:visible="modalVisible"
        modal
        header="Chi tiết sản phẩm"
        :style="{ width: '100rem' }"
        @hide="onHide"
        :breakpoints="{ '1199px': '75vw', '575px': '90vw' }"
    >
        <template #footer>
            <Button v-if="canEdit" label="Hủy" severity="secondary" class="rounded" @click="modalVisible = false" text />
            <Button v-if="canEdit" label="Lưu" severity="info" class="rounded" @click="updateChange" />
        </template>
        <form @submit.prevent="">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-center">
                        <b class="my-auto me-2">{{ productName }}</b>
                        <Button
                            v-if="userRole === roles.Branch_WD.roleId"
                            class="rounded-pill p-0"
                            severity="info"
                            @click="changeEditState"
                            outlined
                        >
                            <template #icon>
                                <svg-icon type="mdi" :path="mdiPencilOutline"></svg-icon>
                            </template>
                        </Button>
                    </div>
                </div>
            </div>
            <div class="form-row d-flex mb-5 mt-2">
                <div class="form-group col-6 d-flex justify-content-center">
                    <Image v-bind:src="productImage" alt="Image" width="300" preview />
                </div>

                <div class="form-group col-6">
                    <div class="item">
                        <label for="sku">SKU</label><br />
                        <InputText class="w-100" id="sku" v-model="sku" aria-describedby="sku-help" :disabled="true" />
                    </div>
                    <div class="item mt-2">
                        <label for="product-name">Tên sản phẩm</label>
                        <InputText
                            class="w-100"
                            id="product-name"
                            v-model="productName"
                            aria-describedby="product-name-help"
                            :disabled="true"
                        />
                    </div>
                    <div class="item mt-4">
                        <label for="unit-price">Giá / sản phẩm</label>
                        <InputNumber
                            v-model="unitPrice"
                            inputClass="border-0 border-bottom p-0"
                            :inputStyle="{ 'box-shadow': '0 0 0 0', 'text-align': 'center', width: '16rem!important' }"
                            :min="0"
                            aria-describedby="export-price-help"
                            :disabled="true"
                            mode="currency"
                            currency="VND"
                            locale="vi-VN"
                        />
                    </div>
                    <div class="item mt-4">
                        <label for="export-price">Giá xuất</label>
                        <InputNumber
                            v-bind="exportPrice"
                            inputClass="border-0 border-bottom p-0"
                            :inputStyle="{ 'box-shadow': '0 0 0 0', 'text-align': 'center', width: '19rem!important' }"
                            :min="unitPrice"
                            aria-describedby="export-price-help"
                            :disabled="!canEdit"
                            mode="currency"
                            currency="VND"
                            locale="vi-VN"
                        />
                    </div>
                    <div class="item mt-2">
                        <label for="product-category">Danh mục sản phẩm</label>
                        <Dropdown
                            v-model="categoryId"
                            editable
                            :options="categorys"
                            optionLabel="categoryName"
                            class="w-100"
                            placeholder="Loại sản phẩm"
                            option-value="categoryId"
                            :disabled="true"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="product-description">Chú thích</label><br />
                <Textarea
                    id="product-description"
                    v-model="productDescription"
                    class="w-100"
                    aria-describedby="product-description-help"
                    autoResize
                    rows="5"
                    cols="30"
                    :disabled="true"
                />
            </div>
        </form>
    </Dialog>
</template>
