<script setup>
import { useUserStore } from '@/stores/store.user.js'
import yup from '@/utils/yup.methods'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiAccount, mdiLock } from '@mdi/js'
import debounce from 'lodash.debounce'
import { useForm } from 'vee-validate'
import { ref } from 'vue'
import { useRouter } from 'vue-router'

const router = useRouter()
const isSuccess = ref(true)
const userStore = useUserStore()
const isDisabled = ref(false)
const errorMessage = ref('')

const schema = yup.object({
    username: yup.string().isEmailOrUsername('Tên đăng nhập hoặc email không hợp lệ!').required('Hãy nhập tên đăng nhập!'),
    password: yup.string().required('Hãy nhập mật khẩu!')
    //.isValidPassword('Mật khẩu phải tối thiểu 8 ký tự, ít nhất một chữ hoa, một chữ thường, một số và một ký tự đặc biệt!'),
})

const { values, errors, defineInputBinds, handleSubmit } = useForm({
    validationSchema: schema
})

const username = defineInputBinds('username')
const password = defineInputBinds('password')

const login = handleSubmit(
    debounce(async (values) => {
        isDisabled.value = true
        const code = await userStore.userLogin(values)
        switch (code) {
            case 200:
                isSuccess.value = true
                break

            case 401:
                isSuccess.value = false
                errorMessage.value = 'Sai tài khoản hoặc mật khẩu!'
                break

            case 403:
                isSuccess.value = false
                errorMessage.value = 'Tài khoản đã bị vô hiệu hóa!'
                break
        }

        isDisabled.value = false
        router.push({ name: 'home' })
    }, 1000)
)
</script>
<template>
    <div class="background vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-5 p-5 shadow rounded-3 bg-light">
            <h1 class="text-center fw-bolder">
                <span class="text-primary">W</span>
                <span class="text-warning">M</span>
                <span class="text-success">S</span>
            </h1>
            <h2 class="text-center mt-3 mb-5">Đăng Nhập</h2>
            <form @submit.prevent="login">
                <div class="input-group mt-1 mb-3">
                    <span class="input-group-text">
                        <svg-icon type="mdi" :path="mdiAccount"></svg-icon>
                    </span>
                    <input
                        type="text"
                        class="input form-control form-control-lg"
                        id="username"
                        placeholder="Tên người dùng"
                        aria-describedby="basic-addon1"
                        v-bind="username"
                    />
                </div>

                <label for="alert" class="col-form-label text-danger">
                    {{ errors?.username }}
                </label>

                <div class="input-group mt-1 mb-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <svg-icon type="mdi" :path="mdiLock"></svg-icon>
                        </span>
                        <input
                            type="password"
                            class="input form-control form-control-lg"
                            id="password"
                            placeholder="Mật khẩu"
                            v-bind="password"
                        />
                    </div>
                </div>

                <label for="alert" class="col-form-label text-danger">
                    {{ errors?.password }}
                </label>

                <label v-if="isSuccess === false" for="alert" class="col-form-label text-danger">{{ errorMessage }}</label>

                <p>
                    <router-link class="text-primary" to="/forgot-password">Quên mật khẩu?</router-link>
                </p>

                <div class="d-grid">
                    <button class="btn btn-primary btn-lg ts-h1" type="submit" :disabled="isDisabled">Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.background {
    background-image: linear-gradient(0deg, rgba(39, 75, 206, 1) 10%, rgba(14, 221, 207, 1) 100%);
}
</style>
