<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiAccount, mdiEmail } from '@mdi/js'
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { useUserStore } from '@/stores/store.user.js'
import { useForm } from 'vee-validate'
import debounce from 'lodash.debounce'
import yup from '@/utils/yup.methods'

const router = useRouter()
const isSuccess = ref(true)
const userStore = useUserStore()
const isDisabled = ref(false)

const schema = yup.object({
    username: yup.string().required('Hãy nhập tên đăng nhập!'),
    email: yup.string().required('Hãy nhập email!').email('Hãy nhập đúng định dạng email.')
})

const { values, errors, defineInputBinds, handleSubmit } = useForm({
    validationSchema: schema
})

const username = defineInputBinds('username')
const email = defineInputBinds('email')

const sendEmail = handleSubmit(
    debounce(async (values) => {
        isDisabled.value = true
        const isSendSuccess = await userStore.userSendEmail(values)
        if (isSendSuccess === false) {
            isSuccess.value = false
            isDisabled.value = false
            return
        }
        router.push({ name: 'login' })
        return
    }, 1000)
)
</script>

<template>
    <div class="background vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-5 p-5 shadow-sm border rounded-3 bg-white">
            <h1 class="text-center mb-3 fw-bolder">
                <span class="text-primary">W</span>
                <span class="text-warning">M</span>
                <span class="text-success">S</span>
            </h1>
            <form @submit.prevent="sendEmail">
                <div class="input-group mt-1 mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <svg-icon type="mdi" :path="mdiAccount"></svg-icon>
                    </span>

                    <input
                        name="username"
                        type="text"
                        class="input form-control form-control-lg"
                        id="username"
                        placeholder="Tên người dùng"
                        required="true"
                        aria-label="Username"
                        aria-describedby="basic-addon1"
                        v-bind="username"
                    />
                </div>

                <label for="alert" class="col-form-label text-danger">
                    {{ errors?.username }}
                </label>

                <div class="input-group mt-1 mb-3">
                    <span class="input-group-text" id="basic-addon1"> <svg-icon type="mdi" :path="mdiEmail"></svg-icon></span>
                    <input
                        name="email"
                        type="email"
                        class="input form-control form-control-lg"
                        id="email"
                        placeholder="Email"
                        required="true"
                        aria-label="Email"
                        aria-describedby="basic-addon1"
                        v-bind="email"
                    />
                </div>

                <label for="alert" class="col-form-label text-danger">
                    {{ errors?.email }}
                </label>

                <label v-if="isSuccess === false" for="alert" class="col-form-label text-danger">Sai tên người dùng hoặc email</label>

                <p><router-link class="text-primary" to="/">Đăng nhập?</router-link></p>
                <div class="d-grid">
                    <button class="btn btn-primary btn-lg ts-h1" type="submit">Gửi</button>
                </div>
            </form>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.background {
    background-image: linear-gradient(0deg, rgba(39, 75, 206, 1) 10%, rgba(14, 221, 207, 1) 100%);
}
</style>
