<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiImport, mdiExport, mdiCash } from '@mdi/js'
import { ref, reactive } from 'vue'
import { useWarehouseStore } from '@/stores/store.warehouse.js'
import { roles } from '@/constants/role.js'
import { useUserStore } from '@/stores/store.user.js'
import { useRouter } from 'vue-router'

const router = useRouter()
const userStore = useUserStore()
const userRole = ref()
const useWarehouse = useWarehouseStore()
const dashboard = ref()
const requestTime = reactive({
    dateFrom: null,
    dateTo: null
})
const formatNumber = (value) => {
    return new Intl.NumberFormat().format(value)
}
const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}

onBeforeMount(async () => {
    const response = await userStore.getUserRole()
    if (response && response.length !== 0) {
        userRole.value = response[0]?.roleId

        switch (userRole.value) {
            case roles.Admin.roleId:
                router.push('/account-management')
                break

            case roles.Base_WE.roleId:
                router.push('/base-import-list')
                break

            case roles.Branch_WM.roleId:
                router.push('/branch-import-list')
                break

            case roles.Branch_WE.roleId:
                router.push('/branch-import-list')
                break

            default:
                dashboard.value = await useWarehouse.getWarehouseDashboard(requestTime)
                chartData.value = setChartData()
                chartOptions.value = setChartOptions()
                break
        }
    }
})

const chartData = ref()
const chartOptions = ref()

const setChartData = () => {
    const documentStyle = getComputedStyle(document.documentElement)
    const labels = ref([])
    const dataRevenue = ref([])
    const dataSpend = ref([])
    dashboard.value.statistics.forEach((element) => {
        labels.value.push(element.month.substring(0, 3) + '/' + element.year.toString().substring(element.year.toString().length - 2))
        dataRevenue.value.push(element.moneyReceived)
        dataSpend.value.push(element.moneyPaid)
    })
    return {
        labels: labels,
        datasets: [
            {
                label: 'Tiền thu',
                backgroundColor: documentStyle.getPropertyValue('--blue-500'),
                borderColor: documentStyle.getPropertyValue('--blue-500'),
                data: dataRevenue.value
            },
            {
                label: 'Tiền chi',
                backgroundColor: documentStyle.getPropertyValue('--pink-500'),
                borderColor: documentStyle.getPropertyValue('--pink-500'),
                data: dataSpend.value
            }
        ]
    }
}
const setChartOptions = () => {
    const documentStyle = getComputedStyle(document.documentElement)
    const textColor = documentStyle.getPropertyValue('--text-color')
    const textColorSecondary = documentStyle.getPropertyValue('--text-color-secondary')
    const surfaceBorder = documentStyle.getPropertyValue('--surface-border')

    return {
        maintainAspectRatio: false,
        aspectRatio: 0.8,
        plugins: {
            legend: {
                labels: {
                    color: textColor
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: textColorSecondary,
                    font: {
                        weight: 500
                    }
                },
                grid: {
                    display: false,
                    drawBorder: false
                }
            },
            y: {
                ticks: {
                    color: textColorSecondary
                },
                grid: {
                    color: surfaceBorder,
                    drawBorder: false
                }
            }
        }
    }
}

const handleFilterDate = async () => {
    dashboard.value = await useWarehouse.getWarehouseDashboard(requestTime)
    chartData.value = setChartData()
    chartOptions.value = setChartOptions()
}
</script>

<template>
    <div v-if="dashboard">
        <div class="d-flex justify-content-end">
            <div class="me-2">
                <p class="fw-bold m-0">Từ ngày</p>
                <Calendar v-model="requestTime.dateFrom" showIcon iconDisplay="input" showButtonBar />
            </div>
            <div class="me-2">
                <p class="fw-bold m-0">Đến ngày</p>
                <Calendar v-model="requestTime.dateTo" showIcon iconDisplay="input" showButtonBar :min-date="requestTime.dateFrom" />
            </div>
            <div class="align-self-end">
                <Button label="Lọc" severity="info" class="rounded" @click="handleFilterDate" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-8">
                <span class="fw-bolder fs-5">Hoạt động</span>
                <div class="row mt-2">
                    <div class="col-3">
                        <Card>
                            <template #content>
                                <div class="py-4">
                                    <p class="text-center text-primary fs-1">{{ formatNumber(dashboard?.totalImports) }}</p>
                                    <div class="d-flex justify-content-center">
                                        <svg-icon class="" type="mdi" :path="mdiImport"></svg-icon>
                                        <span class="text-uppercase ms-2">Đơn nhập</span>
                                    </div>
                                </div>
                            </template>
                        </Card>
                    </div>
                    <div class="col-3">
                        <Card>
                            <template #content>
                                <div class="py-4">
                                    <p class="text-center text-warning fs-1">{{ formatNumber(dashboard?.totalExports) }}</p>
                                    <div class="d-flex justify-content-center">
                                        <svg-icon class="" type="mdi" :path="mdiExport"></svg-icon>
                                        <span class="text-uppercase ms-2">Đơn xuất</span>
                                    </div>
                                </div>
                            </template>
                        </Card>
                    </div>
                    <div class="col-6 h-full">
                        <Card class="h-100">
                            <template #content>
                                <div class="py-4" v-if="userRole === roles.Base_WM.roleId">
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <span>Tổng nợ NCC</span>
                                        <b class="fs-5" :class="dashboard?.totalBaseDebt < 0 ? 'text-success' : 'text-danger'">{{
                                            formatCurrency(dashboard?.totalBaseDebt)
                                        }}</b>
                                    </div>
                                    <div class="d-flex justify-content-center mt-4">
                                        <svg-icon class="" type="mdi" :path="mdiCash"></svg-icon>
                                        <span class="text-uppercase ms-2">Công nợ</span>
                                    </div>
                                </div>
                                <div class="py-4" v-if="userRole === roles.Branch_WD.roleId">
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <span>Tổng nợ kho tổng</span>
                                        <b class="fs-5" :class="dashboard?.totalBranchDebt < 0 ? 'text-success' : 'text-danger'">{{
                                            formatCurrency(dashboard?.totalBranchDebt)
                                        }}</b>
                                    </div>
                                    <div class="d-flex justify-content-center mt-4">
                                        <svg-icon class="" type="mdi" :path="mdiCash"></svg-icon>
                                        <span class="text-uppercase ms-2">Công nợ</span>
                                    </div>
                                </div>
                            </template>
                        </Card>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <span class="fw-bolder fs-5">Tổng quan kho</span>
                <div class="d-flex flex-column mt-2">
                    <Card class="mt-3 mb-3">
                        <template #content>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Số lượng trong kho</span>
                                <b>{{ formatNumber(dashboard?.totalProductsInStock) }}</b>
                            </div>
                        </template>
                    </Card>
                    <Card class="mt-3">
                        <template #content>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Số lượng đã xuất</span>
                                <b>{{ formatNumber(dashboard?.totalProductsExport) }}</b>
                            </div>
                        </template>
                    </Card>
                </div>
            </div>
        </div>
        <div class="mt-4 p-4 bg-white rounded">
            <div class="row">
                <div class="col-6 p-3 border border-1">
                    <p class="fw-bolder mb-3 fs-5">Doanh thu</p>
                    <hr />
                    <Chart type="bar" :data="chartData" :options="chartOptions" height="5rem" />
                </div>
                <div class="col-1"></div>
                <div class="col-5 p-3 border border-1" v-if="dashboard.trendingProducts">
                    <p class="fw-bolder mb-3 fs-5">Top Sản phẩm</p>
                    <hr />
                    <div class="row">
                        <div class="col-4" v-for="product in dashboard.trendingProducts" :key="product.productId">
                            <div class="border-end">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img :src="product.imageLink" style="width: 100px; height: 200px; object-fit: contain" alt="" />
                                </div>
                                <p class="mt-2 text-center text-truncate">{{ product.productName }}</p>
                                <div class="d-flex justify-content-center mt-2">
                                    <span class="fw-bold fs-5">{{ formatNumber([product.totalProducts]) }}</span>
                                    <span class="mt-1">sản phẩm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
