<script setup></script>
<template>
    <div class="text-center d-flex justify-content-center">
        <div>
            <p class="error-text">Oops!</p>
            <p class="error-num">403</p>
            <p class="error-des">Bạn không có quyền để truy cập trang này</p>
            <router-link to="/">
                <Button class="rounded px-5 mt-4" label="Trở về trang chủ" severity="info" raised />
            </router-link>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.error-text {
    font-size: 5rem;
    text-shadow: 0 0 10px #3b82f6;
    margin-top: 5rem;
}

.error-num {
    font-size: 10rem;
    text-shadow: 2px 2px #3b82f6;
    border: 0.5rem solid black;
    border-radius: 3rem;
    padding: 0 10rem 0 10rem;
    margin-top: 5rem;
}

.error-des {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5rem;
}
</style>
