<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiEmoticonSadOutline } from '@mdi/js'
</script>
<template>
    <div class="text-center d-flex justify-content-center text-secondary">
        <div>
            <svg-icon class="error-icon" type="mdi" :path="mdiEmoticonSadOutline"></svg-icon>
            <p class="error-num">404</p>
            <p class="error-des">Trang bạn đang tìm kiếm có thể đã bị xóa do đã thay đổi tên hoặc tạm thời không khả dụng</p>
            <router-link to="/">
                <Button class="rounded px-5 mt-4" label="Trở về trang chủ" severity="info" raised />
            </router-link>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.error-icon {
    width: 20rem;
    height: 20rem;
    margin-top: 5rem;
}

.error-num {
    font-size: 10rem;
    text-shadow: 2px 2px #3b82f6;
    color: black;
}

.error-des {
    font-size: 1rem;
    font-weight: bold;
}
</style>
