<script setup>
import { useCategoryStore } from '@/stores/store.category'
import { useProductStore } from '@/stores/store.product'
import yup from '@/utils/yup.methods'
import AddCategoryView from '@/views/CategoryManagementViews/AddCategoryView.vue'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiCash, mdiCodeTags, mdiRename } from '@mdi/js'
import Button from 'primevue/button'
import Dropdown from 'primevue/dropdown'
import Textarea from 'primevue/textarea'
import { useToast } from 'primevue/usetoast'
import { useForm } from 'vee-validate'
import { useRouter } from 'vue-router'

const router = useRouter()
const toast = useToast()
const categoryStore = useCategoryStore()
const productStore = useProductStore()
const categorys = ref(null)
const previewUrl = ref(null)
const fileImage = ref(null)
const EventfileInput = ref(null)

//click upload image
const onEventFilePicked = () => {
    const file = EventfileInput.value.files[0]
    if (file) {
        // Read the file as a data URL
        const reader = new FileReader()
        reader.onload = (e) => {
            previewUrl.value = e.target.result
        }
        reader.readAsDataURL(file)
        fileImage.value = file
    }
}
onMounted(async () => {
    categorys.value = await categoryStore.getCategories()
})

const handleCreateCategory = async () => {
    categorys.value = await categoryStore.getCategories()
}

//validate
const schema = yup.object({
    productName: yup.string().required('Tên sản phẩm không được để trống'),
    unitPrice: yup.string().required('Giá sản phẩm không được để trống'),
    exportPrice: yup.string().required('Giá xuất hàng không được để trống'),
    unitType: yup.string().required('Đơn vị không được để trống')
})
const { values, errors, handleSubmit, defineComponentBinds } = useForm({
    validationSchema: schema
})
const onSubmit = handleSubmit(async (values) => {
    if (fileImage.value === null) {
        toast.add({
            severity: 'error',
            summary: 'Lỗi tạo sản phẩm',
            detail: 'Chưa chọn ảnh của sản phẩm',
            life: 3000
        })
        return
    }
    let newProduct = new FormData()
    newProduct.append('CategoryId', categoryId.value)
    newProduct.append('SKU', sKU.value)
    newProduct.append('ProductName', values.productName)
    newProduct.append('ProductDescription', productDescription.value)
    newProduct.append('Visible', visible.value)
    newProduct.append('UnitPrice', values.unitPrice)
    newProduct.append('ExportPrice', values.exportPrice)
    newProduct.append('UnitType', values.unitType)
    newProduct.append('ImageProduct', fileImage.value)
    const result = await productStore.createProduct(newProduct)

    // Display the values
    for (const value of newProduct.values()) {
        console.log(value)
    }

    // const isEditSuccess = await userStore.editProfile(userProfileFromData)
    if (result.code == 200) {
        toast.add({
            severity: 'success',
            summary: 'Thành công',
            detail: 'Tạo sản phẩm thành công',
            life: 3000
        })
        router.push('/product-management')
    }
    if (result.code != 200) {
        toast.add({
            severity: 'Error',
            summary: 'Không Thành công',
            detail: 'Tạo sản phẩm không thành công',
            life: 3000
        })
    }
})
const productDescription = ref('')
const categoryId = ref(null)
const visible = ref(true)

const sKU = ref('')
const productName = defineComponentBinds('productName')
const unitPrice = defineComponentBinds('unitPrice')
const exportPrice = defineComponentBinds('exportPrice')
const unitType = defineComponentBinds('unitType')
</script>

<style lang="scss">
.dropDown {
    width: 60%;
}

.inputText {
    width: 100%;
}

textarea {
    width: 100%;
}
</style>
<template>
    <div>
        <Suspense>
            <form @submit.prevent="onSubmit">
                <div class="card flex">
                    <div class="d-flex justify-content-end">
                        <router-link to="/product-management">
                            <Button class="m-2 rounded" severity="secondary" label="Thoát" outlined raised />
                        </router-link>
                        <Button class="m-2 rounded" label="Tạo" severity="success" type="submit" raised />
                    </div>
                </div>
                <div class="card flex mt-4 p-2">
                    <div class="row ms-1">
                        <h6>Thông tin sản phẩm mới</h6>
                        <div class="col-8 mb-5">
                            <div class="mb-4">
                                <div class="d-flex justify-content-between">
                                    <div class="">
                                        <p class="m-0">Tên sản phẩm</p>
                                        <span class="p-input-icon-left">
                                            <svg-icon type="mdi" :path="mdiRename"></svg-icon>
                                            <InputText
                                                name="productName"
                                                aria-describedby="productName"
                                                size="small"
                                                v-bind="productName"
                                                class="inputText"
                                            /> </span
                                        ><br />
                                        <label for="alert" class="col-form-label text-danger">
                                            {{ errors?.productName }}
                                        </label>
                                    </div>

                                    <div class="">
                                        <p class="m-0">Mã SKU</p>

                                        <span class="p-input-icon-left">
                                            <svg-icon type="mdi" :path="mdiCodeTags"></svg-icon>
                                            <InputText name="sKU" aria-describedby="sKU" size="small" v-model="sKU" class="inputText" />
                                        </span>
                                    </div>
                                    <div class="">
                                        <p class="m-0">Đơn vị tính</p>

                                        <span class="p-input-icon-left">
                                            <svg-icon type="mdi" :path="mdiRename"></svg-icon>
                                            <InputText
                                                name="unitType"
                                                aria-describedby="unitType"
                                                size="small"
                                                v-bind="unitType"
                                                class="inputText"
                                                placeholder="VD: cái, chiếc"
                                            /> </span
                                        ><br />
                                        <label for="alert" class="col-form-label text-danger">
                                            {{ errors?.unitType }}
                                        </label>
                                    </div>
                                </div>
                                <div class="">
                                    <p class="m-0">Mô tả sản phẩm</p>
                                    <Textarea
                                        name="productDescription"
                                        aria-describedby="productDescription"
                                        size="small"
                                        v-model="productDescription"
                                    />
                                    <label for="alert" class="col-form-label text-danger"> </label>
                                </div>
                                <div class="mt-2 text-center">
                                    <Image v-if="previewUrl" :src="previewUrl" alt="Image" width="150" />
                                    <FileUpload
                                        class="bg-primary border-0 mt-2"
                                        mode="basic"
                                        name="demo[]"
                                        chooseLabel="Chọn ảnh"
                                        url="/api/upload"
                                        accept="image/*"
                                        :maxFileSize="1000000"
                                        ref="EventfileInput"
                                        @change="onEventFilePicked"
                                    />
                                </div>
                            </div>
                            <h6>Giá cả</h6>
                            <div class="row">
                                <div class="col-4">
                                    <p class="m-0">Giá nhập</p>
                                    <InputNumber v-bind="unitPrice" :min="0" mode="currency" currency="VND" locale="vi-VN" />
                                    <label for="alert" class="col-form-label text-danger">
                                        {{ errors?.unitPrice }}
                                    </label>
                                </div>
                                <div class="col-4">
                                    <p class="m-0">Giá xuất hàng</p>
                                    <InputNumber
                                        v-bind="exportPrice"
                                        :min="values.unitPrice"
                                        mode="currency"
                                        currency="VND"
                                        locale="vi-VN"
                                    />
                                    <label for="alert" class="col-form-label text-danger">
                                        {{ errors?.exportPrice }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="ms-5">
                                <p class="m-0">Loại sản phẩm</p>
                                <Dropdown
                                    v-model="categoryId"
                                    :options="categorys"
                                    optionLabel="categoryName"
                                    class="dropDown"
                                    placeholder="Loại sản phẩm"
                                    option-value="categoryId"
                                />
                                <!-- Button Add Category -->
                                <div class="mt-2">
                                    <AddCategoryView @create-category="handleCreateCategory" />
                                </div>
                                <h6 class="mt-2">Trạng thái</h6>
                                <div class="d-flex flex-row">
                                    <label>Cho phép mua bán</label>
                                    <div class="form-check form-switch ms-5">
                                        <input class="form-check-input" type="checkbox" v-model="visible" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </Suspense>
    </div>
</template>
