<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiPlus, mdiRename } from '@mdi/js'
import Dialog from 'primevue/dialog'
import { ref } from 'vue'
import { useCategoryStore } from '@/stores/store.category.js'
import debounce from 'lodash.debounce'
import { useForm } from 'vee-validate'
import { useToast } from 'primevue/usetoast'
import yup from '@/utils/yup.methods'

const visible = ref(false)
const toast = useToast()

const categoryStore = useCategoryStore()
const isDisabled = ref(false)

const emits = defineEmits(['createCategory'])
const schema = yup.object({
    categoryName: yup.string().required('Hãy nhập tên thể loại!')
})

const { values, errors, defineInputBinds, handleSubmit } = useForm({
    validationSchema: schema
})

const categoryName = defineInputBinds('categoryName')

const addC = handleSubmit(
    debounce(async () => {
        isDisabled.value = true
        const response = await categoryStore.addCategory(values)
        if (response === true) {
            toast.add({
                severity: 'success',
                summary: 'Thành công',
                detail: 'Thêm danh mục sản phẩm thành công.',
                life: 3000
            })
            emits('createCategory')
        }
        if (response === false) {
            isDisabled.value = false
            toast.add({
                severity: 'error',
                summary: 'Lỗi',
                detail: 'Lỗi khi thêm danh mục sản phẩm.',
                life: 3000
            })
        }
        visible.value = false
    }, 500)
)
</script>

<template>
    <Button severity="success" class="me-2 rounded fw-bold" @click="visible = true">
        <svg-icon type="mdi" :path="mdiPlus"></svg-icon>
        Thêm loại
    </Button>
    <form @submit.prevent="addC">
        <Dialog v-model:visible="visible" modal header="Thêm thể loại" :style="{ width: '35vw' }">
            <div class="input-group mt-1 mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiRename"></svg-icon>
                </span>
                <input
                    type="text"
                    class="input form-control form-control-lg"
                    placeholder="Tên thể loại"
                    aria-describedby="basic-addon1"
                    v-bind="categoryName"
                />
            </div>
            <label for="alert" class="col-form-label text-danger">
                {{ errors?.categoryName }}
            </label>

            <template #footer>
                <Button label="Hủy" class="m-2 rounded" severity="secondary" @click="visible = false" raised />
                <Button label="Thêm" class="m-2 rounded" severity="success" @click="addC" raised />
            </template>
        </Dialog>
    </form>
</template>
