<script setup>
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiMagnify } from '@mdi/js'
import { ref, onMounted } from 'vue'
import { useCategoryStore } from '@/stores/store.category.js'
import AddCategoryView from '@/views/CategoryManagementViews/AddCategoryView.vue'
import UpdateCategoryView from '@/views/CategoryManagementViews/UpdateCategoryView.vue'

const categoryStore = useCategoryStore()
const categories = ref([])
const paging = ref({})
const paginator = ref({ SearchWord: '', CurrentPage: 1, PageSize: 10, PageRange: 5, Visible: null })

//option status
const selectedVisible = ref()
const statusOption = ref([
    { name: 'Tất cả', id: null },
    { name: 'Còn kinh doanh', id: true },
    { name: 'Không kinh doanh', id: false }
])

onBeforeMount(async () => {
    await fetchCategoriesList(paginator.value)
})

watch(paginator.value, async (current, previous) => {
    await fetchCategoriesList(current)
})

watch(selectedVisible, async (current, previous) => {
    paginator.value.Visible = current.id
})

const fetchCategoriesList = async (returnValue) => {
    const response = await categoryStore.getAllCategories(returnValue)

    categories.value = response.items
    paging.value = response.pagination
}

const setCurrent = (pageInfo) => {
    paginator.value.CurrentPage = computed(() => pageInfo.page + 1).value
    paginator.value.PageSize = pageInfo.rows
    paginator.value.PageRange = 5
}

const handleUpdateCategoryChange = async () => {
    await fetchCategoriesList(paginator.value)
}

const getSeverity = (status) => {
    switch (status) {
        case true:
            return 'success'

        case false:
            return 'danger'

        default:
            return null
    }
}

const getTag = (categories) => {
    switch (categories.visible) {
        case true:
            return 'Còn kinh doanh'

        case false:
            return 'Không kinh doanh'

        default:
            return null
    }
}
</script>
<template>
    <Toast />
    <div class="card">
        <DataTable :value="categories" stripedRows scrollable scrollHeight="380px" dataKey="saltKey">
            <template #header>
                <span class="my-auto">Danh sách loại sản phẩm</span>
                <div class="d-flex justify-content-between mt-2">
                    <div>
                        <span class="p-input-icon-left">
                            <svg-icon type="mdi" :path="mdiMagnify"></svg-icon>
                            <InputText v-model="paginator.SearchWord" placeholder="Tìm kiếm theo tên..." />
                        </span>
                        <Dropdown
                            v-model="selectedVisible"
                            :options="statusOption"
                            optionLabel="name"
                            placeholder="Trạng thái"
                            class="w-full md:w-14rem ms-2"
                        />
                    </div>

                    <div>
                        <AddCategoryView @create-category="handleUpdateCategoryChange" />
                    </div>
                </div>
            </template>

            <template #empty>
                <div class="flex align-items-center justify-content-center my-4">
                    <h6 class="text-center">Không có dữ liệu</h6>
                </div>
            </template>

            <Column field="categoryId" header="STT" style="max-width: 5rem" class="font-bold"></Column>
            <Column field="categoryName" header="Tên danh mục loại sản phẩm" style="min-width: 16rem" class="font-bold"> </Column>
            <Column field="visible" header="Trạng thái" style="min-width: 16rem" class="font-bold">
                <template #body="slotProps">
                    <Tag :value="getTag(slotProps.data)" :severity="getSeverity(slotProps.data.visible)" />
                </template>
            </Column>
            <Column field="update" header="Hành động" style="min-width: 12rem">
                <!-- Button Update Category -->
                <template #body="slotProps">
                    <UpdateCategoryView :categoryItem="slotProps.data" @update-category-change="handleUpdateCategoryChange" />
                </template>
            </Column>

            <template #footer>
                <div class="flex flex-wrap align-items-center justify-content-center gap-2">
                    <Paginator
                        :rows="paging.pageSize"
                        :totalRecords="paging.totalItem"
                        :rowsPerPageOptions="[10, 20, 30]"
                        @page="setCurrent"
                    ></Paginator>
                </div>
            </template>
        </DataTable>
    </div>
</template>
