<script setup>
import { useCategoryStore } from '@/stores/store.category.js'
import yup from '@/utils/yup.methods'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiIdentifier, mdiListStatus, mdiPencil, mdiRename } from '@mdi/js'
import debounce from 'lodash.debounce'
import { useToast } from 'primevue/usetoast'
import { useForm } from 'vee-validate'
import { ref } from 'vue'

const categoryStore = useCategoryStore()
const toast = useToast()

const isDisabled = ref(false)

const visibleList = ref([
    { name: 'Còn kinh doanh', value: true },
    { name: 'Không kinh doanh', value: false }
])

const datas = defineProps({
    categoryItem: Object
})

const emits = defineEmits(['updateCategoryChange'])

const show = ref(false)

const schema = yup.object({
    categoryName: yup.string().required('Hãy nhập tên loại sản phẩm!')
})

const { values, errors, defineInputBinds, handleSubmit, resetForm } = useForm({
    validationSchema: schema
})

const categoryId = defineInputBinds('categoryId')
const categoryName = defineInputBinds('categoryName')
const visible = defineInputBinds('visible')

const onDialogShow = async () => {
    resetForm({
        values: datas.categoryItem
    })
}

const editCategory = handleSubmit(
    debounce(async () => {
        isDisabled.value = true
        const response = await categoryStore.updateCategory(values)
        if (response === false) {
            isDisabled.value = false
            toast.add({
                severity: 'error',
                summary: 'Lỗi',
                detail: 'Lỗi khi sửa danh mục sản phẩm.',
                life: 3000
            })
        }
        if (response === true) {
            toast.add({
                severity: 'success',
                summary: 'Thành công',
                detail: 'Sửa danh mục sản phẩm thành công.',
                life: 3000
            })
            emits('updateCategoryChange')
        }
        show.value = false
    }, 500)
)
</script>
<template>
    <Button class="btn-update rounded p-2" severity="info" label="Sửa" @click="show = true">
        <svg-icon type="mdi" :path="mdiPencil"></svg-icon>
        <span class="mx-1 text-center">Sửa</span>
    </Button>
    <form @submit.prevent="editCategory">
        <Dialog v-model:visible="show" @show="onDialogShow" modal header="Sửa loại sản phẩm" :style="{ width: '35vw' }">
            <div class="input-group mt-1 mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiIdentifier"></svg-icon>
                </span>
                <input
                    type="number"
                    class="input form-control form-control-lg"
                    placeholder="Id"
                    id="categoryId"
                    aria-describedby="basic-addon1"
                    v-bind="categoryId"
                    readonly
                    disabled
                />
            </div>

            <div class="input-group mt-1 mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiRename"></svg-icon>
                </span>
                <input
                    type="text"
                    class="input form-control form-control-lg"
                    placeholder="Tên loại sản phẩm"
                    aria-describedby="basic-addon1"
                    v-bind="categoryName"
                />
            </div>
            <label for="alert" class="col-form-label text-danger">
                {{ errors?.categoryName }}
            </label>

            <div class="input-group mt-1 mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiListStatus"></svg-icon>
                </span>
                <select class="form-select form-select-lg" aria-label=".form-select-lg example" :options="visibleList" v-bind="visible">
                    <option v-for="option in visibleList" :value="option.value" :key="option.value">
                        {{ option.name }}
                    </option>
                </select>
            </div>

            <template #footer>
                <Button label="Hủy" class="m-2 rounded" severity="secondary" @click="show = false" raised />
                <Button label="Lưu" class="m-2 rounded" severity="info" @click="editCategory" raised />
            </template>
        </Dialog>
    </form>
</template>
