<script setup>
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'
import { ref } from 'vue'

const listDialog = ref(false)
const productReturnDetailList = ref()

const currentProductReturn = defineProps({
    objectPicked: Object
})

const onDialogShow = async () => {
    productReturnDetailList.value = currentProductReturn.objectPicked.returnDetails
}

const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}
</script>
<template>
    <a class="text-decoration-none" href="#" @click="listDialog = true">
        {{ currentProductReturn.objectPicked.productReturnId }}
    </a>
    <Dialog v-model:visible="listDialog" @show="onDialogShow" modal header="Danh sách chi tiết sản phẩm trả lại" :style="{ width: '70vw' }">
        <DataTable :value="productReturnDetailList" tableStyle="min-width: 50rem" scrollable scrollHeight="350px">
            <Column field="productName" header="Tên sản phẩm">
                <template #body="slotProps">
                    <p>{{ slotProps.data.productName }}</p>
                </template>
            </Column>

            <Column field="requestQuantity" header="Số lượng yêu cầu">
                <template #body="slotProps">
                    <p>{{ formatCurrency(slotProps.data.requestQuantity) }}</p>
                </template>
            </Column>

            <Column field="costPrice" header="Gía cả">
                <template #body="slotProps">
                    <p>{{ formatCurrency(slotProps.data.costPrice) }}</p>
                </template>
            </Column>

            <Column field="unitPrice" header="Đơn giá">
                <template #body="slotProps">
                    <p>{{ formatCurrency(slotProps.data.unitPrice) }}</p>
                </template>
            </Column>
        </DataTable>
    </Dialog>
</template>
<style lang="scss" scoped></style>
