<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiPlus, mdiPlusCircle, mdiMinusCircle, mdiPackageVariant, mdiClose, mdiCalendarMonth } from '@mdi/js'
import { useToast } from 'primevue/usetoast'
import { ref, onMounted, reactive, watch } from 'vue'
import { useRequestImportStore } from '@/stores/store.requestimport.js'
import { useEmployeeStore } from '@/stores/store.employee.js'
import moment from 'moment'
import debounce from 'lodash.debounce'
import { useRouter } from 'vue-router'

const router = useRouter()
const toast = useToast()
const useRequestImport = useRequestImportStore()
const useEmployee = useEmployeeStore()
const baseWarehouse = ref()
// variables product
const productSearchWord = ref()
const products = ref()
const selectedProducts = ref([])
//select employee
const employees = ref()
const selectedEmployee = ref()
const confirmCreateDialog = ref(false)

onMounted(async () => {
    employees.value = await useEmployee.getBranchEmployeeList()
    baseWarehouse.value = await useRequestImport.getBaseWarehouse()
    const response = await useRequestImport.getProductList(productSearchWord.value)
    const filteredResponse = response.filter(
        (product) => !selectedProducts.value.some((selectedProduct) => selectedProduct.product.productId === product.productId)
    )
    products.value = filteredResponse
})
// date
const minDate = ref(new Date())
const requestDate = ref(new Date())
// format currency
const formatCurrency = (value) => {
    return new Intl.NumberFormat().format(value)
}
const formatCurrencySymbol = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}
//format date
const format_date = (value) => {
    if (value) {
        return moment(String(value)).format('DD/MM/YYYY HH:mm')
    } else {
        return ''
    }
}

// handle select products
const handleProductComplete = async (event) => {
    productSearchWord.value = event.query
    const response = await useRequestImport.getProductList(productSearchWord.value)
    const filteredResponse = response.filter(
        (product) => !selectedProducts.value.some((selectedProduct) => selectedProduct.product.productId === product.productId)
    )
    products.value = filteredResponse
}

const handleProductSelect = (event) => {
    const selectedProduct = {
        product: event.value,
        quantity: 1
    }
    selectedProducts.value.push(selectedProduct)
    productSearchWord.value = ''
}

const handleRemoveProductSelect = (productUnselect) => {
    selectedProducts.value = selectedProducts.value.filter(
        (selectedProduct) => selectedProduct.product.productId !== productUnselect.product.productId
    )
}

// create new base import
const handleCreateRequestImport = debounce(async () => {
    if (selectedEmployee.value === undefined) {
        toast.add({
            severity: 'error',
            summary: 'Lỗi tạo đơn yêu cầu',
            detail: 'Chưa chọn nhân viên phụ trách',
            life: 3000
        })
    } else if (selectedProducts.value.length === 0) {
        toast.add({
            severity: 'error',
            summary: 'Lỗi tạo đơn yêu cầu',
            detail: 'Đơn yêu cầu nhập kho chưa có sản phẩm nào',
            life: 3000
        })
    } else {
        confirmCreateDialog.value = true
    }
}, 500)

const handleConfirmCreateRequestImport = debounce(async () => {
    const importDetails = reactive({
        requestDate: requestDate.value,
        importBy: selectedEmployee.value.userId,
        productRequests: []
    })
    for (let i = 0; i < selectedProducts.value.length; i++) {
        importDetails.productRequests.push({
            productId: selectedProducts.value[i].product.productId,
            requestQuantity: selectedProducts.value[i].quantity
        })
    }
    const response = await useRequestImport.createRequestImport(importDetails)
    if (response.code == 200) {
        toast.add({
            severity: 'success',
            summary: 'Thành công',
            detail: 'Đã tạo đơn nhập hàng',
            life: 3000
        })
        confirmCreateDialog.value = false
        router.push({ name: 'branch-import-request-detail', params: { requestId: response.metaData } })
    }
}, 500)
</script>
<template>
    <div>
        <div class="row">
            <div class="col-12 d-flex justify-content-end bg-white rounded">
                <router-link to="/branch-import-request">
                    <Button severity="secondary" class="m-2 rounded" label="Thoát" outlined raised />
                </router-link>
                <Button severity="success" class="m-2 rounded" label="Tạo đơn yêu cầu" raised @click="handleCreateRequestImport" />
                <Dialog
                    v-model:visible="confirmCreateDialog"
                    header="Xác nhận tạo đơn yêu cầu"
                    :style="{ width: '40rem' }"
                    position="top"
                    :modal="true"
                >
                    <p class="m-0">
                        Tạo đơn yêu cầu nhập hàng từ kho tổng
                        <strong>{{ baseWarehouse.warehouseName }}</strong>
                        ?
                    </p>
                    <template #footer>
                        <Button label="Hủy" severity="secondary" class="rounded" @click="confirmCreateDialog = false" text />
                        <Button label="Xác nhận" severity="info" class="rounded" @click="handleConfirmCreateRequestImport" autofocus />
                    </template>
                </Dialog>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-7 p-3 bg-white rounded">
                <p class="fw-bolder">Thông tin nhà kho cung cấp</p>
                <div v-if="baseWarehouse">
                    <span class="text-primary">{{ baseWarehouse.warehouseName }}</span>
                    <p class="fw-bolder">Địa chỉ: {{ baseWarehouse.address }}</p>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-4 p-3 bg-white rounded">
                <p class="fw-bolder">Thông tin đơn đặt hàng</p>
                <div class="d-flex justify-content-start m-2">
                    <span class="my-auto me-4">Kho nhập:</span>
                    <span> Kho tổng </span>
                </div>
                <div class="d-flex justify-content-start m-2">
                    <span class="my-auto me-4">Nhân viên:</span>
                    <span>
                        <Dropdown
                            v-model="selectedEmployee"
                            filter
                            :options="employees"
                            optionLabel="fullname"
                            placeholder="Chọn nhân viên"
                            class="w-100"
                            empty-filter-message="Không có nhân viên nào"
                            empty-message="Không có nhân viên nào"
                        >
                            <template #value="slotProps">
                                <div v-if="slotProps.value" class="flex align-items-center">
                                    <div>{{ slotProps.value.fullname }}</div>
                                </div>
                                <span v-else>
                                    {{ slotProps.placeholder }}
                                </span>
                            </template>
                            <template #option="slotProps">
                                <div class="flex align-items-center">
                                    <div>{{ slotProps.option.fullname }}</div>
                                </div>
                            </template>
                        </Dropdown>
                    </span>
                </div>
                <div class="d-flex justify-content-start m-2">
                    <span class="my-auto me-4">Ngày nhập:</span>
                    <span>
                        <Calendar
                            v-model="requestDate"
                            :minDate="minDate"
                            dateFormat="dd/mm/yy"
                            class="w-100"
                            showIcon
                            iconDisplay="input"
                        />
                    </span>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 p-3 bg-white rounded">
                <p class="fw-bolder">Thông tin sản phẩm</p>
                <div class="w-100 mb-2">
                    <AutoComplete
                        v-model="productSearchWord"
                        :suggestions="products"
                        field="productName"
                        input-class="w-100"
                        class="w-100"
                        placeholder="Tìm kiếm sản phẩm..."
                        @complete="handleProductComplete"
                        @item-select="handleProductSelect"
                        empty-search-message="Không tìm thấy sản phẩm"
                        complete-on-focus="true"
                    >
                        <template #option="slotProps">
                            <div class="d-flex align-items-center">
                                <img :alt="slotProps.option.productImage" :src="slotProps.option.productImage" style="width: 32px" />
                                <span class="ms-4">
                                    <p class="m-0">{{ slotProps.option.productName }}</p>
                                    <p class="m-0 fw-bold text-primary" style="font-size: small">{{ slotProps.option.sku }}</p>
                                </span>
                            </div>
                        </template>
                    </AutoComplete>
                </div>
                <DataTable :value="selectedProducts" tableStyle="min-width: 50rem">
                    <Column :field="'stt'" header="STT">
                        <template #body="slotProps">
                            {{ slotProps.index + 1 }}
                        </template>
                    </Column>
                    <Column header="Ảnh" style="min-width: 14rem">
                        <template #body="{ data }">
                            <div class="flex align-items-center gap-2">
                                <img
                                    :alt="data.product.productImage"
                                    :src="data.product.productImage"
                                    style="width: 32px"
                                    class="rounded me-2"
                                />
                            </div>
                        </template>
                    </Column>
                    <Column field="product.productName" header="Tên sản phẩm"></Column>
                    <Column field="quantity" header="SL Đặt">
                        <template #body="slotProps">
                            <InputNumber
                                v-model="slotProps.data.quantity"
                                inputId="horizontal-buttons"
                                decrementButtonClass="p-button-text rounded-circle"
                                incrementButtonClass="p-button-text rounded-circle"
                                showButtons
                                buttonLayout="horizontal"
                                inputClass="border-0 border-bottom"
                                :inputStyle="{ 'box-shadow': '0 0 0 0', 'text-align': 'center', width: '80px!important' }"
                                :min="1"
                            >
                                <template #decrementbuttonicon>
                                    <svg-icon class="text-secondary" type="mdi" :path="mdiMinusCircle"></svg-icon>
                                </template>
                                <template #incrementbuttonicon>
                                    <svg-icon class="text-secondary" type="mdi" :path="mdiPlusCircle"></svg-icon>
                                </template>
                            </InputNumber>
                        </template>
                    </Column>
                    <Column field="product.exportPrice" header="Đơn giá">
                        <template #body="slotProps">
                            {{ formatCurrency(slotProps.data.product.exportPrice) }}
                        </template>
                    </Column>
                    <Column header="Thành tiền">
                        <template #body="slotProps">
                            {{ formatCurrency(slotProps.data.product.exportPrice * slotProps.data.quantity) }}
                        </template>
                    </Column>
                    <Column>
                        <template #body="slotProps">
                            <Button severity="secondary" text @click="handleRemoveProductSelect(slotProps.data)">
                                <svg-icon type="mdi" :path="mdiClose" :size="20"></svg-icon>
                            </Button>
                        </template>
                    </Column>
                </DataTable>
                <div v-if="selectedProducts.length === 0" class="text-secondary d-block text-center">
                    <svg-icon type="mdi" :path="mdiPackageVariant" :size="100"></svg-icon>
                    <p>Đơn yêu cầu của bạn chưa có sản phẩm nào</p>
                </div>
                <hr />
                <div class="row">
                    <div class="col-8 p-3"></div>
                    <div class="col-4 p-3">
                        <div class="d-flex justify-content-between">
                            <p>Số lượng</p>
                            <p>{{ selectedProducts.reduce((total, selectedProduct) => total + selectedProduct.quantity, 0) }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Tổng tiền</p>
                            <p>
                                {{
                                    formatCurrency(
                                        selectedProducts.reduce(
                                            (total, selectedProduct) =>
                                                total + selectedProduct.product.exportPrice * selectedProduct.quantity,
                                            0
                                        )
                                    )
                                }}
                            </p>
                        </div>
                        <div class="fw-bolder d-flex justify-content-between mt-2">
                            <p>Tiền cần trả</p>
                            <p>
                                {{
                                    formatCurrencySymbol(
                                        selectedProducts.reduce(
                                            (total, selectedProduct) =>
                                                total + selectedProduct.product.exportPrice * selectedProduct.quantity,
                                            0
                                        )
                                    )
                                }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
