<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiExport, mdiMagnify, mdiMapMarker, mdiPlus } from '@mdi/js'
import { useToast } from 'primevue/usetoast'
import { ref, onMounted, reactive, watch } from 'vue'
import { useRequestImportStore } from '@/stores/store.requestimport.js'
import moment from 'moment'
import { useRouter } from 'vue-router'

const router = useRouter()
const expandedRows = ref([])
const toast = useToast()
const useRequestImport = useRequestImportStore()
const requests = ref()
const paging = ref({})
const paginator = ref({
    CurrentPage: 1,
    PageSize: 5,
    PageRange: 5,
    ApprovedSatus: null,
    DateFilter: 0,
    SearchWord: ''
})
//option date
const selectedDate = ref()
const dateOption = ref([
    { name: 'Tất cả', id: 0 },
    { name: 'Tuần này', id: 1 },
    { name: 'Tháng này', id: 2 },
    { name: 'Năm nay', id: 3 }
])

//option filter approve status
const selectedApprovedSatus = ref()
const approvedSatusOption = ref([
    { name: 'Chưa phê duyệt', id: 0 },
    { name: 'Đã duyệt', id: 1 },
    { name: 'Đã hủy', id: 2 },
    { name: 'Bị từ chối', id: 3 }
])
//pagination
onMounted(async () => {
    const response = await useRequestImport.getBranchImportRequestList(paginator.value)
    requests.value = response.items
    paging.value = response.pagination
})

watch(paginator.value, async (current, previous) => {
    const response = await useRequestImport.getBranchImportRequestList(current)
    requests.value = response.items
    paging.value = response.pagination
})
watch(selectedDate, async (current, previous) => {
    paginator.value.DateFilter = current.id
    const response = await useRequestImport.getBranchImportRequestList(paginator.value)
    requests.value = response.items
    paging.value = response.pagination
})
watch(selectedApprovedSatus, async (current, previous) => {
    if (current !== null) {
        paginator.value.ApprovedSatus = current.id
    } else {
        paginator.value.ApprovedSatus = null
    }
    const response = await useRequestImport.getBranchImportRequestList(paginator.value)
    requests.value = response.items
    paging.value = response.pagination
})
const setCurrent = (pageInfo) => {
    paginator.value.CurrentPage = computed(() => pageInfo.page + 1).value
    paginator.value.PageSize = pageInfo.rows
    paginator.value.PageRange = 5
}

//format date
const format_date = (value) => {
    if (value != '0001-01-01T00:00:00') {
        return moment(String(value)).format('YYYY-MM-DD')
    } else {
        return ''
    }
}
//format number
const formatNumber = (value) => {
    return new Intl.NumberFormat().format(value)
}
//format currency
const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}

const onRowExpand = (event) => {
    toast.add({ severity: 'info', summary: 'Mở rộng đơn nhập hàng', life: 3000 })
}
const onRowCollapse = (event) => {
    toast.add({ severity: 'success', summary: 'Thu gọn đơn nhập hàng', life: 3000 })
}
const expandAll = () => {
    expandedRows.value = requests.value.filter((p) => p.requestId)
}
const collapseAll = () => {
    expandedRows.value = null
}

const getApproveSeverity = (approveStatus) => {
    switch (approveStatus) {
        case 0:
            return 'warning'

        case 1:
            return 'success'

        case 2:
            return 'danger'

        case 3:
            return 'danger'
        default:
            return null
    }
}
const getValueApproveStatus = (approveStatus) => {
    switch (approveStatus) {
        case 0:
            return 'Chưa phê duyệt'

        case 1:
            return 'Đã duyệt'

        case 2:
            return 'Đã hủy'

        case 3:
            return 'Bị từ chối'

        default:
            return null
    }
}
</script>
<template>
    <div>
        <div class="card">
            <DataTable
                v-model:expandedRows="expandedRows"
                dataKey="requestId"
                :value="requests"
                @rowExpand="onRowExpand"
                @rowCollapse="onRowCollapse"
                tableStyle="min-width: 60rem"
            >
                <template #empty>
                    <div class="flex align-items-center justify-content-center my-4">
                        <h6 class="text-center">Không có dữ liệu</h6>
                    </div>
                </template>
                <template #header>
                    <span class="text-xl text-900 font-bold">Danh sách đơn yêu cầu nhập hàng</span>
                    <div class="d-flex justify-content-between mt-2">
                        <div>
                            <span class="p-input-icon-left">
                                <svg-icon type="mdi" :path="mdiMagnify"></svg-icon>
                                <InputText v-model="paginator.SearchWord" placeholder="Tìm kiếm..." />
                            </span>
                            <Dropdown
                                v-model="selectedDate"
                                :options="dateOption"
                                optionLabel="name"
                                placeholder="Ngày tạo"
                                class="w-full md:w-14rem ms-2"
                            />
                            <Dropdown
                                v-model="selectedApprovedSatus"
                                :options="approvedSatusOption"
                                showClear
                                optionLabel="name"
                                placeholder="Trạng thái"
                                class="w-full md:w-14rem ms-2"
                            >
                                <template #option="slotProps">
                                    <Tag :value="slotProps.option.name" :severity="getApproveSeverity(slotProps.option.id)" />
                                </template>
                            </Dropdown>
                        </div>
                        <div>
                            <router-link to="/create-branch-import-request">
                                <Button severity="success" class="me-2 rounded fw-bold"
                                    ><svg-icon type="mdi" :path="mdiPlus"></svg-icon> Tạo yêu cầu</Button
                                >
                            </router-link>
                        </div>
                    </div>
                    <Button text icon="pi pi-plus" label="Mở rộng tất cả" @click="expandAll" />
                    <Button text icon="pi pi-minus" label="Thu gọn tất cả" @click="collapseAll" />
                </template>
                <Column expander style="width: 5rem" />
                <Column field="requestCode" header="Mã yêu cầu">
                    <template #body="{ data }">
                        <router-link
                            :to="{ name: 'branch-import-request-detail', params: { requestId: data.requestId } }"
                            class="text-decoration-none"
                        >
                            {{ data.requestCode }}
                        </router-link>
                    </template>
                </Column>
                <Column header="Ngày tạo" dataType="requestDate">
                    <template #body="{ data }">
                        {{ format_date(data.requestDate) }}
                    </template>
                </Column>
                <Column header="Trạng thái">
                    <template #body="slotProps">
                        <Tag
                            :value="getValueApproveStatus(slotProps.data.approvalStatus)"
                            :severity="getApproveSeverity(slotProps.data.approvalStatus)"
                        />
                    </template>
                </Column>
                <Column field="nameRequestBy" header="Nhân viên nhập"></Column>
                <Column field="nameApprovedBy" header="Người phê duyệt"></Column>
                <Column field="totalPrice" header="Giá trị đơn">
                    <template #body="slotProps">
                        {{ formatCurrency(slotProps.data.totalPrice) }}
                    </template>
                </Column>

                <template #expansion="slotProps">
                    <div class="p-3">
                        <h5>Yêu cầu đơn {{ slotProps.data.requestCode }}</h5>
                        <DataTable :value="slotProps.data.wmsBranchProductRequests">
                            <Column header="Ảnh" style="min-width: 14rem">
                                <template #body="{ data }">
                                    <div class="flex align-items-center gap-2">
                                        <img :alt="data.productImage" :src="data.productImage" style="width: 32px" class="rounded me-2" />
                                    </div>
                                </template>
                            </Column>
                            <Column field="productName" header="Tên sản phẩm" sortable></Column>
                            <Column field="unitPrice" header="Đơn Giá" sortable>
                                <template #body="slotProps">
                                    {{ formatCurrency(slotProps.data.unitPrice) }}
                                </template>
                            </Column>
                            <Column field="requestQuantity" header="Số lượng nhập" sortable>
                                <template #body="slotProps">
                                    {{ formatNumber(slotProps.data.requestQuantity) }}
                                </template>
                            </Column>
                            <Column field="totalPrice" header="Tổng giá" sortable>
                                <template #body="slotProps">
                                    {{ formatCurrency(slotProps.data.totalPrice) }}
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </template>
            </DataTable>
            <Paginator :totalRecords="paging.totalItem" :rows="paging.pageSize" :rowsPerPageOptions="[5, 10, 20]" @page="setCurrent" />
            <Toast />
        </div>
    </div>
</template>
