<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import {
    mdiPlus,
    mdiCheckCircle,
    mdiCheckCircleOutline,
    mdiPlusCircle,
    mdiCircleSmall,
    mdiMenuDown,
    mdiCash,
    mdiCircleHalfFull,
    mdiCalendarMonth
} from '@mdi/js'
import { useToast } from 'primevue/usetoast'
import { ref, onMounted, inject } from 'vue'
import { useRequestImportStore } from '@/stores/store.requestimport.js'
import moment from 'moment'
import debounce from 'lodash.debounce'
import { useRouter } from 'vue-router'
import { useUserStore } from '@/stores/store.user.js'
import { roles } from '@/constants/role.js'

const userStore = useUserStore()
const router = useRouter()
const toast = useToast()
const useRequestImport = useRequestImportStore()
const requestImport = ref()
const baseWarehouse = ref()
const confirmRefuseDialog = ref(false)
const confirmApproveDialog = ref(false)
const userRole = inject('userRole')
const requestId = ref(router.currentRoute.value.params.requestId || '')

onMounted(async () => {
    requestImport.value = await useRequestImport.getRequestImportDetails(requestId.value)
    baseWarehouse.value = await useRequestImport.getBaseWarehouse()
    const response = await userStore.getUserRole()
    if (response.length != 0) {
        userRole.value = response[0].roleId
    }
})

//current date
const currentDate = new Date()
//format date
const format_date = (value) => {
    if (value) {
        return moment(String(value)).format('DD/MM/YYYY HH:mm')
    } else {
        return ''
    }
}
//format number
const formatNumber = (value) => {
    return new Intl.NumberFormat().format(value)
}
//format currency
const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}
const getApproveSeverity = (approveStatus) => {
    switch (approveStatus) {
        case 0:
            return 'warning'

        case 1:
            return 'success'

        case 2:
            return 'danger'
        default:
            return null
    }
}
const getValueApproveStatus = (approveStatus) => {
    switch (approveStatus) {
        case 0:
            return 'Chưa phê duyệt'

        case 1:
            return 'Đã duyệt'

        case 2:
            return 'Đã hủy'

        default:
            return null
    }
}

//refuse request import
const handleRefuseRequestImport = debounce(async () => {
    const response = await useRequestImport.refuseRequestImport(requestId.value)
    if (response.code == 200) {
        toast.add({
            severity: 'success',
            summary: 'Thành công',
            detail: 'Đã từ chối đơn yêu cầu nhập hàng',
            life: 3000
        })
        confirmRefuseDialog.value = false
    }
    requestImport.value = await useRequestImport.getRequestImportDetails(requestId.value)
}, 500)

//approve request import
const handleApproveRequestImport = debounce(async () => {
    const response = await useRequestImport.approveRequestImport(requestId.value)
    if (response.code == 200) {
        toast.add({
            severity: 'success',
            summary: 'Thành công',
            detail: 'Đã duyệt đơn nhập hàng',
            life: 3000
        })
        confirmApproveDialog.value = false
    }
    requestImport.value = await useRequestImport.getRequestImportDetails(requestId.value)
}, 500)
</script>
<template>
    <div v-if="requestImport">
        <div class="row">
            <div class="col-12 d-flex justify-content-end bg-white rounded">
                <router-link to="/branch-import-request">
                    <Button severity="secondary" class="m-2 rounded" label="Thoát" outlined raised />
                </router-link>
                <div v-if="requestImport.approvalStatus == 0">
                    <router-link :to="{ name: 'update-branch-import-request', params: { requestId: requestId.value } }">
                        <Button severity="info" class="m-2 rounded" label="Sửa đơn" outlined raised />
                    </router-link>
                    <Button
                        v-if="userRole === roles.Branch_WD.roleId"
                        severity="danger"
                        class="m-2 rounded"
                        label="Từ chối"
                        raised
                        @click="confirmRefuseDialog = true"
                    />
                    <Button
                        v-if="userRole === roles.Branch_WD.roleId"
                        severity="info"
                        class="m-2 rounded"
                        label="Duyệt đơn"
                        raised
                        @click="confirmApproveDialog = true"
                    />
                </div>
            </div>
        </div>
        <div v-if="requestImport.approvalStatus == 0" class="row mt-4">
            <div
                class="col-12 p-3 d-flex justify-content-between rounded border-top border-3 border-success"
                style="background-color: rgb(236, 255, 236)"
            >
                <p class="fw-bolder my-auto">
                    <svg-icon class="text-success" type="mdi" :path="mdiCheckCircleOutline"></svg-icon>
                    Đơn yêu cầu nhập {{ requestImport.requestCode }} đã được tạo thành công
                </p>
                <router-link to="/create-branch-import-request">
                    <Button class="fw-bolder text-primary my-auto" text>
                        <svg-icon type="mdi" :path="mdiPlusCircle"></svg-icon>
                        Tạo đơn yêu cầu khác
                    </Button>
                </router-link>
            </div>
        </div>
        <div v-if="requestImport.approvalStatus == 1" class="mt-4">
            <span class="text-uppercase fw-bolder">{{ requestImport.requestCode }}</span>
            <span class="text-secondary m-2" style="font-size: 12px">{{ format_date(requestImport.requestDate) }}</span>
            <Tag
                :value="getValueApproveStatus(requestImport.approvalStatus)"
                :severity="getApproveSeverity(requestImport.approvalStatus)"
                rounded
            />
        </div>
        <div class="row mt-4">
            <div class="col-7 p-3 bg-white rounded">
                <p class="fw-bolder">Thông tin kho tổng</p>
                <div v-if="baseWarehouse">
                    <span class="text-primary">{{ baseWarehouse.warehouseName }}</span>
                    <p class="fw-bolder">Địa chỉ: {{ baseWarehouse.address }}</p>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-4 p-3 bg-white rounded">
                <p class="fw-bolder">Thông tin đơn đặt hàng</p>
                <div>
                    <span class="m-0">Kho nhập: Kho tổng</span>
                </div>
                <div>
                    <span class="m-0">Nhân viên tạo: {{ requestImport.nameRequestBy }}</span>
                </div>
                <div>
                    <span class="m-0">Ngày yêu cầu: {{ format_date(requestImport.requestDate) }}</span>
                </div>
            </div>
        </div>

        <div v-if="requestImport.approvalStatus == 1" class="row mt-4">
            <div class="col-12 p-3 bg-white rounded">
                <p class="fw-bolder">
                    <svg-icon class="text-success" type="mdi" :path="mdiCheckCircle"></svg-icon>
                    Đơn yêu cầu đã được duyệt
                </p>
                <hr />
                <p>
                    <svg-icon class="text-primary" type="mdi" :path="mdiCircleSmall"></svg-icon>
                    {{ requestImport.requestCode }}
                    <svg-icon class="text-primary" type="mdi" :path="mdiMenuDown"></svg-icon>
                    <span class="text-secondary">{{ format_date(requestImport.requestDate) }}</span>
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 p-3 bg-white rounded">
                <p class="fw-bolder">Thông tin sản phẩm</p>
                <DataTable :value="requestImport.wmsBranchProductRequests" tableStyle="min-width: 50rem">
                    <Column header="Ảnh" style="min-width: 14rem">
                        <template #body="{ data }">
                            <div class="flex align-items-center gap-2">
                                <img :alt="data.productImage" :src="data.productImage" style="width: 32px" class="rounded me-2" />
                            </div>
                        </template>
                    </Column>
                    <Column field="productName" header="Tên sản phẩm"></Column>
                    <Column field="unitPrice" header="Đơn giá">
                        <template #body="slotProps">
                            {{ formatCurrency(slotProps.data.unitPrice) }}
                        </template>
                    </Column>
                    <Column field="requestQuantity" header="SL Đặt">
                        <template #body="slotProps">
                            {{ formatNumber(slotProps.data.requestQuantity) }}
                        </template>
                    </Column>
                    <Column field="" header="Thành tiền">
                        <template #body="slotProps">
                            {{ formatCurrency(slotProps.data.totalPrice) }}
                        </template>
                    </Column>
                </DataTable>
                <hr />
                <div class="row">
                    <div class="col-8 p-3"></div>
                    <div class="col-4 p-3 d-flex justify-content-between">
                        <div>
                            <p>Số lượng</p>
                            <p>Tổng tiền</p>
                            <p class="fw-bolder">Tiền cần trả</p>
                        </div>
                        <div>
                            <p>
                                {{
                                    formatNumber(
                                        requestImport.wmsBranchProductRequests.reduce(
                                            (total, product) => total + product.requestQuantity,
                                            0
                                        )
                                    )
                                }}
                            </p>
                            <p>{{ formatCurrency(requestImport.totalPrice) }}</p>
                            <p class="fw-bolder">{{ formatCurrency(requestImport.totalPrice) }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Dialog
            v-model:visible="confirmRefuseDialog"
            header="Xác nhận hủy đơn yêu cầu"
            :style="{ width: '40rem' }"
            position="top"
            :modal="true"
        >
            <p class="m-0">
                Hủy đơn yêu cầu nhập hàng <b>{{ requestImport.requestCode }}</b> ?
            </p>
            <template #footer>
                <Button label="Hủy" severity="secondary" class="rounded" @click="confirmRefuseDialog = false" text />
                <Button label="Từ chối" severity="danger" class="rounded" @click="handleRefuseRequestImport" autofocus />
            </template>
        </Dialog>
        <Dialog
            v-model:visible="confirmApproveDialog"
            header="Xác nhận duyệt yêu cầu"
            :style="{ width: '40rem' }"
            position="top"
            :modal="true"
        >
            <p class="m-0">
                Duyệt đơn yêu cầu nhập hàng <b>{{ requestImport.requestCode }}</b> ?
            </p>
            <template #footer>
                <Button label="Hủy" severity="secondary" class="rounded" @click="confirmApproveDialog = false" text />
                <Button label="Duyệt" severity="info" class="rounded" @click="handleApproveRequestImport" autofocus />
            </template>
        </Dialog>
    </div>
</template>
