<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import {
    mdiMagnify,
    mdiPlus,
    mdiTrashCanOutline,
    mdiExport,
    mdiCheck,
    mdiAccount,
    mdiAccountLock,
    mdiEmail,
    mdiMapMarker,
    mdiPhone,
    mdiRename,
    mdiNoteEditOutline,
    mdiPencil
} from '@mdi/js'
import { ref, reactive, onMounted, onUnmounted, onUpdated, watch } from 'vue'
import { FilterMatchMode } from 'primevue/api'
import { useToast } from 'primevue/usetoast'
import { useBranchWarehouseStore } from '@/stores/store.branchwarehouse'
import ToggleButton from 'primevue/togglebutton'
import yup from '@/utils/yup.methods'
import { useForm } from 'vee-validate'
import debounce from 'lodash.debounce'

const createWarehouseDialog = ref(false)
const warehouseDetailsDialog = ref(false)
const selectedWarehouse = ref({})
const warehouses = ref()
const paging = ref({})
const paginator = ref({
    SearchWord: null,
    CurrentPage: 1,
    PageSize: 10,
    PageRange: 5,
    Status: null
})
const filters = ref({
    global: { value: null, matchMode: FilterMatchMode.CONTAINS }
})
const toast = useToast()
const branchwarehouseStore = useBranchWarehouseStore()

//pagination
onMounted(async () => {
    const response = await branchwarehouseStore.getBranchWarehouseList(paginator.value)
    warehouses.value = response.items
    paging.value = response.pagination
})

watch(paginator.value, async (current, previous) => {
    const response = await branchwarehouseStore.getBranchWarehouseList(current)
    warehouses.value = response.items
    paging.value = response.pagination
})
const setCurrent = (pageInfo) => {
    paginator.value.CurrentPage = computed(() => pageInfo.page + 1).value
    paginator.value.PageSize = pageInfo.rows
    paginator.value.PageRange = 5
}

//handle click to details
const onRowSelect = (event) => {
    warehouseDetailsDialog.value = true
}

//update branch warehouse detail
const handleSubmitUpdate = debounce(async () => {
    const updateDetails = reactive({
        warehouseId: selectedWarehouse.value.warehouseId,
        note: selectedWarehouse.value.note,
        status: selectedWarehouse.value.status
    })
    const response = await branchwarehouseStore.updateBranchWarehouseDetail(updateDetails)
    if (response.code == 200) {
        toast.add({
            severity: 'success',
            summary: 'Thành công',
            detail: 'Đã cập nhật',
            life: 3000
        })
        warehouseDetailsDialog.value = false
    }
}, 500)

//validate
const status = ref('1')
const note = ref()
const schema = yup.object({
    warehouseName: yup.string().required('Tên kho không được để trống'),
    phoneNumber: yup.string().required('Số điện thoại không được trống').isPhoneNumber(),
    email: yup.string().required('Email không được để trống').email('Email không hợp lệ'),
    address: yup.string().required('Địa chỉ không được để trống')
})

const { values, errors, resetForm, handleSubmit, defineComponentBinds } = useForm({
    validationSchema: schema
})

const warehouseName = defineComponentBinds('warehouseName')
const phoneNumber = defineComponentBinds('phoneNumber')
const email = defineComponentBinds('email')
const address = defineComponentBinds('address')

//create branch warehouse
const handleSubmitCreate = handleSubmit(
    debounce(async () => {
        const createDetails = reactive({
            warehouseName: values.warehouseName,
            phoneNumber: values.phoneNumber,
            address: values.address,
            email: values.email,
            status: status.value,
            note: note.value
        })
        const response = await branchwarehouseStore.createBranchWarehouse(createDetails)
        if (response.code == 200) {
            toast.add({
                severity: 'success',
                summary: 'Thành công',
                detail: 'Đã tạo mới chi nhánh',
                life: 3000
            })
            resetForm()
            createWarehouseDialog.value = false
            const responseBranchWarehouse = await branchwarehouseStore.getBranchWarehouseList(paginator.value)
            warehouses.value = responseBranchWarehouse.items
            paging.value = responseBranchWarehouse.pagination
        } else {
            toast.add({
                severity: 'error',
                summary: 'Lỗi',
                detail: 'Vui lòng kiểm tra lại thông tin kho',
                life: 3000
            })
        }
    }, 500)
)

const editWarehouse = (warehouse) => {
    selectedWarehouse.value = warehouse
    warehouseDetailsDialog.value = true
}
</script>

<template>
    <Toast />
    <div class="card">
        <DataTable
            v-model:selection="selectedWarehouse"
            :value="warehouses"
            tableStyle="min-width: 50rem"
            scrollable
            scrollHeight="500px"
            dataKey="warehouseId"
            :filters="filters"
        >
            <!-- selectionMode="single"
                @rowSelect="onRowSelect"> -->
            <template #empty>
                <div class="flex align-items-center justify-content-center my-4">
                    <h6 class="text-center">Không có dữ liệu</h6>
                </div>
            </template>
            <template #header>
                <span class="my-auto">Quản lý chi nhánh</span>
                <div class="d-flex justify-content-between mt-2">
                    <span class="p-input-icon-left">
                        <svg-icon type="mdi" :path="mdiMagnify"></svg-icon>
                        <InputText v-model="paginator.SearchWord" placeholder="Tìm kiếm..." />
                    </span>
                    <Button severity="success" class="me-2 rounded fw-bold" @click="createWarehouseDialog = true"
                        ><svg-icon type="mdi" :path="mdiPlus"></svg-icon> Thêm kho nhánh</Button
                    >
                </div>
            </template>

            <Column :field="'stt'" header="STT">
                <template #body="slotProps">
                    <p class="mb-1 mt-2 fw-bold">{{ slotProps.index + 1 }}</p>
                </template>
            </Column>

            <Column field="warehouseName" header="Tên chi nhánh" style="min-width: 12rem" frozen class="font-bold">
                <template #body="slotProps">
                    <router-link
                        class="text-decoration-none"
                        :to="{ name: 'branch-warehouse-details', params: { branchWarehouseId: slotProps.data.warehouseId } }"
                    >
                        <p class="my-2">{{ slotProps.data.warehouseName }}</p>
                    </router-link>
                </template>
            </Column>

            <Column field="warehouseOwnerName" header="Chủ sở hữu" style="min-width: 16rem"></Column>
            <Column field="phoneNumber" header="Số điện thoại"></Column>
            <Column field="address" header="Địa chỉ"></Column>

            <Column field="status" header="Trạng thái" style="min-width: 12rem">
                <template #body="slotProps">
                    <Tag
                        :value="slotProps.data.status === 1 ? 'Đang giao dịch' : 'Ngừng giao dịch'"
                        :severity="slotProps.data.status === 1 ? 'success' : 'danger'"
                    />
                </template>
            </Column>

            <Column field="update" header="Hành động" style="min-width: 12rem">
                <!-- Button Update Category -->
                <template #body="slotProps">
                    <Button class="btn-update rounded p-2" severity="info" @click="editWarehouse(slotProps.data)">
                        <svg-icon type="mdi" :path="mdiPencil"></svg-icon>
                        <span class="mx-1 text-center">Sửa</span>
                    </Button>
                </template>
            </Column>
        </DataTable>
        <Paginator :totalRecords="paging.totalItem" :rows="paging.pageSize" :rowsPerPageOptions="[10, 20, 30]" @page="setCurrent" />

        <form @submit.prevent="handleSubmitUpdate">
            <Dialog v-model:visible="warehouseDetailsDialog" modal header="Thông tin chi nhánh" :style="{ width: '50vw' }">
                <div class="account-content">
                    <div class="row">
                        <div class="col-6">
                            <div>
                                <p class="m-0">Tên chi nhánh</p>
                                <span class="p-input-icon-left">
                                    <svg-icon type="mdi" :path="mdiAccount"></svg-icon>
                                    <InputText v-model="selectedWarehouse.warehouseName" type="text" size="small" readonly />
                                </span>
                            </div>
                            <div>
                                <p class="m-0">Địa chỉ</p>
                                <span class="p-input-icon-left">
                                    <svg-icon type="mdi" :path="mdiMapMarker"></svg-icon>
                                    <InputText v-model="selectedWarehouse.address" type="text" size="small" readonly />
                                </span>
                            </div>
                            <div>
                                <p class="m-0">Email</p>
                                <span class="p-input-icon-left">
                                    <svg-icon type="mdi" :path="mdiEmail"></svg-icon>
                                    <InputText v-model="selectedWarehouse.email" type="text" size="small" readonly />
                                </span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <p class="m-0">Số điện thoại</p>
                                <span class="p-input-icon-left">
                                    <svg-icon type="mdi" :path="mdiPhone"></svg-icon>
                                    <InputMask
                                        v-model="selectedWarehouse.phoneNumber"
                                        date="phone"
                                        mask="(999) 999-9999"
                                        placeholder="(999) 999-9999"
                                        readonly
                                    />
                                </span>
                            </div>
                            <div>
                                <p class="m-0">Ghi chú</p>
                                <InputText v-model="selectedWarehouse.note" rows="5" cols="30" />
                            </div>
                            <div>
                                <p class="m-0">Trạng Thái hoạt động</p>
                                <InputSwitch v-model="selectedWarehouse.status" :true-value="1" :false-value="0" />
                            </div>
                        </div>
                    </div>
                </div>
                <template #footer>
                    <Button label="Hủy" severity="danger" class="rounded" @click="warehouseDetailsDialog = false" text />
                    <Button label="Lưu" severity="success" class="rounded" @click="handleSubmitUpdate" autofocus />
                </template>
            </Dialog>
        </form>
        <form @submit.prevent="handleSubmitCreate">
            <Dialog v-model:visible="createWarehouseDialog" modal header="Thông tin chi nhánh" :style="{ width: '50vw' }">
                <div class="account-content">
                    <div class="row mt-4">
                        <div class="col-6">
                            <div>
                                <span class="p-input-icon-left p-float-label w-100">
                                    <svg-icon type="mdi" :path="mdiRename"></svg-icon>
                                    <InputText
                                        v-bind="warehouseName"
                                        name="warehouseName"
                                        id="warehouseName"
                                        type="text"
                                        class="w-100"
                                        :style="{
                                            borderColor: errors.warehouseName ? 'red' : ''
                                        }"
                                    />
                                    <label for="username">Tên chi nhánh</label>
                                </span>
                                <InlineMessage class="w-100 d-flex justify-content-start bg-white" v-if="errors.warehouseName">{{
                                    errors.warehouseName
                                }}</InlineMessage>
                            </div>
                            <div class="mt-4">
                                <span class="p-input-icon-left p-float-label w-100">
                                    <svg-icon type="mdi" :path="mdiEmail"></svg-icon>
                                    <InputText
                                        v-bind="email"
                                        name="email"
                                        id="email"
                                        type="text"
                                        class="w-100"
                                        :style="{
                                            borderColor: errors.email ? 'red' : ''
                                        }"
                                    />
                                    <label for="email">Email</label>
                                </span>
                                <InlineMessage class="w-100 d-flex justify-content-start bg-white" v-if="errors.email">
                                    {{ errors.email }}</InlineMessage
                                >
                            </div>
                            <div class="mt-4">
                                <p class="m-0">Trạng thái</p>
                                <div class="d-flex flex-nowrap gap-3 justify-content-center">
                                    <div class="flex align-items-center">
                                        <RadioButton v-model="status" inputId="ingredient1" name="gender" value="1" />
                                        <label for="ingredient1" class="ml-2">Hoạt động</label>
                                    </div>
                                    <div class="flex align-items-center">
                                        <RadioButton v-model="status" inputId="ingredient2" name="gender" value="0" />
                                        <label for="ingredient2" class="ml-2">Không hoạt động</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <span class="p-input-icon-left p-float-label w-100">
                                    <svg-icon type="mdi" :path="mdiPhone"></svg-icon>
                                    <InputText
                                        v-bind="phoneNumber"
                                        name="phoneNumber"
                                        id="phoneNumber"
                                        type="text"
                                        class="w-100"
                                        :style="{
                                            borderColor: errors.phoneNumber ? 'red' : ''
                                        }"
                                    />
                                    <label for="phoneNumber">Số điện thoại</label>
                                </span>
                                <InlineMessage class="w-100 d-flex justify-content-start bg-white" v-if="errors.phoneNumber">
                                    {{ errors.phoneNumber }}</InlineMessage
                                >
                            </div>
                            <div class="mt-4">
                                <span class="p-input-icon-left p-float-label w-100">
                                    <svg-icon type="mdi" :path="mdiMapMarker"></svg-icon>
                                    <InputText
                                        v-bind="address"
                                        name="address"
                                        id="address"
                                        type="text"
                                        class="w-100"
                                        :style="{
                                            borderColor: errors.address ? 'red' : ''
                                        }"
                                    />
                                    <label for="address">Địa chỉ</label>
                                </span>
                                <InlineMessage class="w-100 d-flex justify-content-start bg-white" v-if="errors.address">{{
                                    errors.address
                                }}</InlineMessage>
                            </div>
                            <div class="mt-4">
                                <span class="p-input-icon-left p-float-label w-100">
                                    <svg-icon type="mdi" :path="mdiNoteEditOutline"></svg-icon>
                                    <InputText v-model="note" name="note" id="note" type="text" class="w-100" rows="5" cols="30" />
                                    <label for="note">Ghi chú</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <template #footer>
                    <Button label="Hủy" severity="danger" class="rounded" @click="createWarehouseDialog = false" text />
                    <Button label="Tạo" severity="success" class="rounded" @click="handleSubmitCreate" autofocus />
                </template>
            </Dialog>
        </form>
    </div>
</template>
<style scoped></style>
