<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiCheckBold, mdiCircleHalfFull, mdiMinus, mdiArrowLeft } from '@mdi/js'
import { useBranchWarehouseStore } from '@/stores/store.branchwarehouse'
import { ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import moment from 'moment'

const useBranchWarehouse = useBranchWarehouseStore()
const currentBranchWarehouse = ref({})
const debts = ref({})
const exportList = ref({})
const totalExportList = ref()
const totalInvoiceList = ref()
const invoiceList = ref({})

const router = useRouter()

const active = ref(0)

const paginator = ref({
    CurrentPage: 1,
    PageSize: 10
})

const getId = router.currentRoute.value.params.branchWarehouseId

const formatDate = (value) => {
    if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
    } else {
        return ''
    }
}

const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}

onMounted(async () => {
    active.value = 0
    const response = await useBranchWarehouse.getBranchWarehouseDetails(getId)
    currentBranchWarehouse.value = response
    debts.value = response.debts
    exportList.value = response.exports
    exportList.value.forEach((exportItem, index) => {
        exportItem.index = index + 1
    })
    invoiceList.value = response.invoices
    invoiceList.value.forEach((invoiceItem, index) => {
        invoiceItem.index = index + 1
    })
    totalExportList.value = response.exports.length
    totalInvoiceList.value = response.invoices.length
    filterExport()
    filterInvoice()
})

const filterExport = async () => {
    // Filter the exportList based on the current page and page size
    const currentPage = paginator.value.CurrentPage
    const pageSize = paginator.value.PageSize
    const startIndex = (currentPage - 1) * pageSize
    const endIndex = startIndex + pageSize
    exportList.value = exportList.value.slice(startIndex, endIndex)
}

const setCurrentExport = async (pageInfo) => {
    paginator.value.CurrentPage = pageInfo.page + 1
    paginator.value.PageSize = pageInfo.rows
    const response = await useBranchWarehouse.getBranchWarehouseDetails(getId)
    exportList.value = response.exports
    exportList.value.forEach((exportItem, index) => {
        exportItem.index = index + 1
    })
    filterExport()
}

const filterInvoice = async () => {
    // Filter the invoiceList based on the current page and page size
    const currentPage = paginator.value.CurrentPage
    const pageSize = paginator.value.PageSize
    const startIndex = (currentPage - 1) * pageSize
    const endIndex = startIndex + pageSize
    invoiceList.value = invoiceList.value.slice(startIndex, endIndex)
}

const setCurrentInvoice = async (pageInfo) => {
    paginator.value.CurrentPage = pageInfo.page + 1
    paginator.value.PageSize = pageInfo.rows
    const response = await useBranchWarehouse.getBranchWarehouseDetails(getId)
    invoiceList.value = response.invoices
    invoiceList.value.forEach((invoiceItem, index) => {
        invoiceItem.index = index + 1
    })
    filterInvoice()
}
const items = ref([
    {
        label: 'Lịch sử xuất hàng'
    },
    {
        label: 'Hóa đơn'
    }
])

const getValueExportStatus = (exportStatus) => {
    switch (exportStatus) {
        case 4:
            return 'Đã hủy'

        case 3:
            return 'Hoàn thành'

        case 2:
            return 'Đã xuất'

        case 1:
            return 'Chưa xuất'

        default:
            return null
    }
}
</script>
<template>
    <div class="card">
        <div class="mb-2 border border-1">
            <h5 class="p-2 ms-3 my-4">
                <router-link class="text-black me-1" to="/view-branch-warehouses">
                    <svg-icon type="mdi" :path="mdiArrowLeft"></svg-icon
                ></router-link>
                Thông tin chi tiết kho
            </h5>
            <div class="row my-4">
                <div class="col-md-7 row ms-2">
                    <div class="col-md-5">
                        <h6 class="p-2">Tên kho</h6>
                        <h6 class="p-2">Tên chủ sở hữu</h6>
                        <h6 class="p-2">Email</h6>
                        <h6 class="p-2">Số điện thoại</h6>
                    </div>
                    <div class="col-md-7">
                        <h6 class="ms-2 p-2">
                            : <span class="ms-1">{{ currentBranchWarehouse.warehouseName }}</span>
                        </h6>
                        <h6 class="ms-2 p-2">
                            : <span class="ms-1">{{ currentBranchWarehouse.warehouseOwnerName }}</span>
                        </h6>
                        <h6 class="ms-2 p-2">
                            : <span class="ms-1">{{ currentBranchWarehouse.email }}</span>
                        </h6>
                        <h6 class="ms-2 p-2">
                            : <span class="ms-1">{{ currentBranchWarehouse.phoneNumber }}</span>
                        </h6>
                    </div>
                </div>
                <div class="col-md-5 row ms-2">
                    <div class="col-md-6">
                        <h6 class="p-2">Trạng thái</h6>
                        <h6 class="p-2">Địa chỉ</h6>
                        <h6 class="p-2">Nợ hiện tại</h6>
                    </div>
                    <div class="col-md-6">
                        <h6 class="ms-2 p-2" v-if="currentBranchWarehouse.status == 1">
                            : <span class="ms-1 text-success">Đang giao dịch</span>
                        </h6>
                        <h6 class="ms-2 p-2" v-else>: <span class="ms-1 text-danger">Ngừng giao dịch</span></h6>

                        <h6 class="ms-2 p-2">
                            : <span>{{ currentBranchWarehouse.address }}</span>
                        </h6>

                        <h6 class="ms-2 p-2" v-if="debts.debtAmount != null">
                            : <span class="ms-1">{{ formatCurrency(debts.debtAmount) }}</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <TabMenu v-model:activeIndex="active" :model="items"> </TabMenu>
        <div v-if="active === 0" class="export-list text-decoration-none ms-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Mã xuất</th>
                        <th scope="col">Ngày xuất</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Trạng thái xuất</th>
                        <th scope="col">Trạng thái chi trả</th>
                        <th scope="col">Đã thanh toán</th>
                        <th scope="col">Tổng giá</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="exportList.length != 0" v-for="items in exportList" :key="items.index">
                        <td>{{ items.index }}</td>

                        <td>
                            <router-link
                                :to="{ name: 'base-export-detail', params: { exportId: items.exportId } }"
                                class="text-decoration-none"
                            >
                                {{ items.exportCode }}
                            </router-link>
                        </td>
                        <td>{{ formatDate(items.exportDate) }}</td>

                        <td v-if="items.exportStatus == 3 && items.paymentStatus == 3" class="text-success fw-bold">Hoàn thành</td>
                        <td v-else class="text-primary fw-bold">Đang xử lý</td>

                        <td>{{ getValueExportStatus(items.exportStatus) }}</td>

                        <td v-if="items.paymentStatus == 3"><svg-icon type="mdi" :path="mdiCheckBold"></svg-icon></td>
                        <td v-else-if="items.paymentStatus == 2"><svg-icon type="mdi" :path="mdiCircleHalfFull"></svg-icon></td>
                        <td v-else><svg-icon type="mdi" :path="mdiMinus"></svg-icon></td>

                        <td>{{ formatCurrency(items.paidAmount) }}</td>
                        <td>{{ formatCurrency(items.totalCost) }}</td>
                    </tr>
                </tbody>
            </table>
            <h6 v-if="exportList.length != 0" class="p-2">Hiển thị {{ exportList.length }} kết quả</h6>
            <h6 v-else class="p-2 my-4 text-center">Không có dữ liệu</h6>
            <Paginator
                :rows="paginator.PageSize"
                :totalRecords="totalExportList"
                :rowsPerPageOptions="[10, 20, 30]"
                @page="setCurrentExport"
            >
            </Paginator>
        </div>

        <div v-if="active === 1" class="invoice-list text-decoration-none ms-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Mã hóa đơn</th>
                        <th scope="col">Người tạo</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Ngày ghi nhận</th>
                        <th scope="col">Ghi chú</th>
                        <th scope="col">Biến động nợ</th>
                        <th scope="col">Giá trị</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="invoiceList.length != 0" v-for="items in invoiceList" :key="items.index">
                        <td>{{ items.index }}</td>
                        <td>{{ items.invoiceCode }}</td>
                        <td>{{ items.createUser }}</td>
                        <td>{{ formatDate(items.createDate) }}</td>
                        <td>{{ formatDate(items.updateDate) }}</td>
                        <td>{{ items.description }}</td>
                        <td>{{ formatCurrency(items.balanceChange) }}</td>
                        <td>{{ formatCurrency(items.amount) }}</td>
                    </tr>
                </tbody>
            </table>
            <h6 v-if="invoiceList.length != 0" class="p-2">Hiển thị {{ invoiceList.length }} kết quả</h6>
            <h6 v-else class="p-2 my-4 text-center">Không có dữ liệu</h6>
            <Paginator
                :rows="paginator.PageSize"
                :totalRecords="totalInvoiceList"
                :rowsPerPageOptions="[10, 20, 30]"
                @page="setCurrentInvoice"
            >
            </Paginator>
        </div>
    </div>
</template>
<style lang="scss" scoped></style>
