<script setup>
import { Html5QrcodeScanner, Html5QrcodeSupportedFormats, Html5QrcodeScanType, Html5QrcodeScannerState } from 'html5-qrcode'
import beep from '@/assets/audio/store-scanner-beep.mp3'

const SCANNER_NODE = 'reader'

//Ref
const qrScanner = ref(null)
const audio = ref(null)

//Props
const props = defineProps({
    audioOn: {
        type: Boolean,
        require: true
    }
})

//Emits
const emits = defineEmits(['onSuccess', 'onFailure'])

//Methods
const onScanSuccess = (decodedText, decodedResult) => {
    if (props.audioOn) audio.value.play()
    qrScanner.value.pause()
    emits('onSuccess', decodedText, decodedResult)
    const currentState = qrScanner.value.getState()
    if (currentState === Html5QrcodeScannerState.PAUSED) {
        console.log('Quét thành công, tạm dừng')
    }

    setTimeout(() => {
        qrScanner.value.resume()
    }, 2500)
}

const onScanFailure = (err) => {
    // console.log(err)
    emits('onFailure', err)
}

//Events
onMounted(() => {
    qrScanner.value = new Html5QrcodeScanner(SCANNER_NODE, {
        fps: 30,
        qrbox: {
            width: 300,
            height: 300
        },
        formatsToSupport: [
            Html5QrcodeSupportedFormats.QR_CODE,
            Html5QrcodeSupportedFormats.UPC_A,
            Html5QrcodeSupportedFormats.UPC_E,
            Html5QrcodeSupportedFormats.UPC_EAN_EXTENSION
        ],
        supportedScanTypes: [Html5QrcodeScanType.SCAN_TYPE_CAMERA],
        useBarCodeDetectorIfSupported: false
    })

    qrScanner.value.render(onScanSuccess, onScanFailure)
    audio.value = new Audio(beep)
})
</script>

<template>
    <div id="reader"></div>
</template>

<style lang="scss">
#reader div:first-child {
    img {
        display: none;
    }
}

#html5-qrcode-button-camera-stop {
    text-indent: -9999px;
    line-height: 0;
    visibility: hidden;

    &::before {
        content: 'Tắt camera';
        text-indent: 0;
        display: block;
        line-height: initial;
        visibility: visible;
        background-color: #dc3545;
        border: 2.5px solid #dc3545;
        border-radius: 5px;
    }
}

#html5-qrcode-button-camera-start {
    text-indent: -9999px;
    line-height: 0;
    visibility: hidden;

    &::before {
        content: 'Bật camera';
        text-indent: 0;
        display: block;
        line-height: initial;
        visibility: visible;
        background-color: #22c55e;
        border: 2.5px solid #22c55e;
        border-radius: 5px;
    }
}

#reader__dashboard_section_csr {
    span {
    }
}
</style>
