<script setup>
import ReadQr from '@/components/common/ReadQr.vue'
const visibleQr = ref(false)
const emit = defineEmits('resultQR')
const openQr = () => {
    visibleQr.value = true
}
const resultQR = ref()
const fetchData = (event) => {
    resultQR.value = event
    emit('resultQR', resultQR.value)
}
</script>
<template>
    <a href="#" class="me-4 text-primary fw-bold text-decoration-none" :onClick="openQr">Quét sản phẩm</a>
    <Dialog
        v-model:visible="visibleQr"
        modal
        header="Quét mã QR"
        :style="{ width: '50rem' }"
        :breakpoints="{ '1199px': '75vw', '575px': '90vw' }"
    >
        <ReadQr @resultQR="fetchData($event)" />
    </Dialog>
</template>
