<script setup>
import PrintQr from '@/components/common/PrintQr.vue'
import Jspdf from 'jspdf'
const printQR = ref(null)

const props = defineProps(['listValue'])
//truyền data muốn in qr vào đây
const value = ref(props.listValue)
const valueQr = value
//dòng này để hiển thị cái in
// printQR.value.exportPDF()
const click = () => {
    const doc = new Jspdf()
    var contentHtmls = document.getElementsByClassName('qrcode')
    var arr = Array.from(contentHtmls)
    var x = 20
    var y = 10
    var additionalX = 75
    var additionalY = 5
    var pageHeight = doc.internal.pageSize.height
    //run all qr
    for (let i = 0; i < arr.length; i++) {
        //run quantity
        for (let j = 0; j < value.value[i].quantity; j++) {
            // Before adding new content check page height
            if (y >= pageHeight - 48) {
                doc.addPage()
                y = 10 // Restart height position
            }
            //add qr image to doc
            const image = arr[i].toDataURL('image/jpeg', 0.8)
            doc.addImage(image, 'JPEG', x, y)
            doc.text(x + additionalX, y + additionalY, value.value[i].name, 'center')
            y = y + 40
        }
    }
    //open print
    doc.autoPrint()
    const hiddFrame = document.createElement('iframe')
    hiddFrame.style.position = 'fixed'
    // "visibility: hidden" would trigger safety rules in some browsers like safari，
    // in which the iframe display in a pretty small size instead of hidden.
    // here is some little hack ~
    hiddFrame.style.width = '1px'
    hiddFrame.style.height = '1px'
    hiddFrame.style.opacity = '0.01'
    const isSafari = /^((?!chrome|android).)*safari/i.test(window.navigator.userAgent)
    if (isSafari) {
        // fallback in safari
        hiddFrame.onload = () => {
            try {
                hiddFrame.contentWindow.document.execCommand('print', false, null)
            } catch (e) {
                hiddFrame.contentWindow.print()
            }
        }
    }
    hiddFrame.src = doc.output('bloburl')
    document.body.appendChild(hiddFrame)
}
</script>
<template>
    <a href="#" class="m-0 text-primary fw-bold text-decoration-none" :onClick="click">In mã đơn xuất</a>
    <div v-for="item in valueQr">
        <PrintQr :qrValue="item" ref="printQR" />
    </div>
</template>
