<script setup>
import { RouterView } from 'vue-router'
import SvgIcon from '@jamescoyle/vue-icon'
import { ref, onMounted, watch } from 'vue'
import { mdiAccount, mdiMenuDown, mdiLogout } from '@mdi/js'
import { useUserStore } from '@/stores/store.user'
import { useRouter } from 'vue-router'
import { HEADER_MAPPING } from '@/constants/routername.js'

const router = useRouter()
const userStore = useUserStore()
const userProfile = ref({})
const textHeader = ref()

const updateTextHeader = () => {
    const routeName = router.currentRoute.value.name
    textHeader.value = HEADER_MAPPING[routeName]
}

onMounted(async () => {
    userProfile.value = await userStore.profile()
    updateTextHeader()
})

watch(() => router.currentRoute.value.name, updateTextHeader)

const logout = async () => {
    await userStore.logout()
}
</script>
<template>
    <div class="vw-100">
        <!-- Navbar -->
        <div class="sticky-top">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <span class="m-5 fs-3">{{ textHeader }}</span>
                    </a>
                    <div class="d-flex align-items-center">
                        <div class="nav-item dropdown d-none d-lg-block user-dropdown">
                            <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="img-xs rounded-circle" :src="userProfile.avatar" alt="Profile image" />
                                <span class="user-name">{{ userProfile.fullname }}</span>
                                <svg-icon type="mdi" :path="mdiMenuDown" class="custom-svg"></svg-icon>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                                <div class="dropdown-header text-center">
                                    <img class="img-md rounded-circle" :src="userProfile.avatar" alt="Profile image" />
                                    <p class="mb-1 mt-3 font-weight-semibold">{{ userProfile.fullname }}</p>
                                    <p class="fw-light text-muted mb-0">{{ userProfile.email }}</p>
                                </div>
                                <router-link to="/profile" class="dropdown-item">
                                    <svg-icon class="dropdown-item-icon me-2" type="mdi" :path="mdiAccount"></svg-icon>
                                    Thông tin tài khoản
                                </router-link>
                                <a class="dropdown-item" @click.prevent="logout">
                                    <svg-icon class="dropdown-item-icon me-2" type="mdi" :path="mdiLogout"></svg-icon>
                                    Đăng xuất
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row m-5 mt-4">
            <div class="col-sm-12">
                <RouterView />
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import '@/assets/styles/navbar.scss';
</style>
