<template>
    <qrcode-vue hidden :value="props.qrValue.name" class="qrcode" />
</template>

<script setup>
import QrcodeVue from 'qrcode.vue'
//emit
const emit = defineEmits('resultQR')
//props
const props = defineProps(['qrValue'])
//print pdf
</script>
