<template>
    <p class="error">{{ error }}</p>

    <p class="decode-result">
        Biên dịch Qr: <b>{{ result }}</b>
    </p>
    <qrcode-stream @detect="onDetect" @error="onError" />
</template>

<script setup>
const props = defineProps(['visible'])
import { ref } from 'vue'
import { QrcodeStream } from 'vue-qrcode-reader'

// data
const result = ref('')
const error = ref('')
const emit = defineEmits('resultQR')

// methods
const onDetect = (detectedCodes) => {
    console.log(detectedCodes)

    const [firstCode] = detectedCodes
    result.value = firstCode.rawValue
    console.log(result.value)

    emit('resultQR', result.value)
}

const onError = (err) => {
    error.value = `[${err.name}]: `

    if (err.name === 'NotAllowedError') {
        error.value += 'you need to grant camera access permission'
    } else if (err.name === 'NotFoundError') {
        error.value += 'no camera on this device'
    } else if (err.name === 'NotSupportedError') {
        error.value += 'secure context required (HTTPS, localhost)'
    } else if (err.name === 'NotReadableError') {
        error.value += 'is the camera already in use?'
    } else if (err.name === 'OverconstrainedError') {
        error.value += 'installed cameras are not suitable'
    } else if (err.name === 'StreamApiNotSupportedError') {
        error.value += 'Stream API is not supported in this browser'
    } else if (err.name === 'InsecureContextError') {
        error.value += 'Camera access is only permitted in secure context. Use HTTPS or localhost rather than HTTP.'
    } else {
        error.value += err.message
    }
}
</script>

<style scoped>
.error {
    font-weight: bold;
    color: red;
}
</style>
