<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiPlus, mdiRename, mdiMapMarker, mdiAccountMultiple, mdiEmailOutline, mdiPhone, mdiCash } from '@mdi/js'
import { ref } from 'vue'
import { useSupplierStore } from '@/stores/store.supplier'
import yup from '@/utils/yup.methods'
import { useForm } from 'vee-validate'
import { useToast } from 'primevue/usetoast'
import debounce from 'lodash.debounce'

const toast = useToast()

const supplierStore = useSupplierStore()
const addDialog = ref(false)

let fileImage = ref(null)
const previewUrl = ref(null)
const EventfileInput = ref(null)

const onEventFilePicked = () => {
    const file = EventfileInput.value.files[0]
    if (file) {
        const reader = new FileReader()
        reader.onload = (e) => {
            previewUrl.value = e.target.result
        }
        reader.readAsDataURL(file)
        fileImage.value = file
    }
}

const emits = defineEmits(['addSupplier'])

const schema = yup.object({
    supplierName: yup.string().required('Tên không được để trống !'),
    email: yup.string().required('Email không được để trống !').email('Email không hợp lệ !'),
    phoneNumber: yup.string().required('Số điện thoại không được để trống! ').isPhoneNumber(),
    address: yup.string().required('Địa chỉ không được để trống !'),
    debtAmount: yup.number().required('Công nợ không được để trống!').moreThan(-1, 'Công nợ phải là số dương hoặc bằng 0.')
})

const { errors, defineInputBinds, handleSubmit, resetForm } = useForm({
    validationSchema: schema
})

const supplierName = defineInputBinds('supplierName')
const email = defineInputBinds('email')
const phoneNumber = defineInputBinds('phoneNumber')
const address = defineInputBinds('address')
const otherInformation = defineInputBinds('otherInformation')
const debtAmount = defineInputBinds('debtAmount')

const createSupplier = handleSubmit(debounce(async (values) => {
    let formData = new FormData()
    formData.append('supplierName', values.supplierName)
    formData.append('email', values.email)
    formData.append('phoneNumber', values.phoneNumber)
    formData.append('address', values.address)
    formData.append('otherInformation', values.otherInformation)
    formData.append('supplierLogo', fileImage.value)
    formData.append('debtAmount', values.debtAmount)
    const response = await supplierStore.addSupplier(formData)
    if (response === true) {
        addDialog.value = false
        toast.add({
            severity: 'success',
            summary: 'Thành công',
            detail: 'Thêm nhà cung cấp thành công.',
            life: 3000
        })
        resetForm()
        emits('addSupplier')
    }

    if (response === false) {
        addDialog.value = false
        toast.add({
            severity: 'error',
            summary: 'Lỗi',
            detail: 'Xảy ra lỗi khi thêm nhà cung cấp mới.',
            life: 3000
        })
    }
}, 500))
</script>
<template>
    <Button severity="success" class="me-2 rounded fw-bold" @click="addDialog = true"
        ><svg-icon type="mdi" :path="mdiPlus"></svg-icon>Thêm nhà cung cấp</Button
    >
    <form @submit.prevent="createSupplier">
        <Dialog v-model:visible="addDialog" modal header="Thêm nhà cung cấp" :style="{ width: '50vw' }">
            <div class="d-flex flex-column mb-4">
                <div class="d-flex justify-content-center">
                    <Image v-if="previewUrl" v-bind:src="previewUrl" alt="Image" width="150" />
                </div>
                <FileUpload
                    mode="basic"
                    accept="image/*"
                    chooseLabel="Chọn ảnh"
                    ref="EventfileInput"
                    :maxFileSize="1000000"
                    @change="onEventFilePicked"
                />
            </div>

            <div class="input-group mt-2 mb-2">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiAccountMultiple"></svg-icon>
                </span>
                <input
                    type="text"
                    class="input form-control form-control-sm"
                    placeholder="Tên nhà cung cấp"
                    aria-describedby="basic-addon1"
                    v-bind="supplierName"
                />
            </div>
            <label for="alert" class="col-form-label text-danger">
                {{ errors?.supplierName }}
            </label>

            <div class="input-group mt-2 mb-2">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiEmailOutline"></svg-icon>
                </span>
                <input
                    type="email"
                    class="input form-control form-control-sm"
                    placeholder="Email"
                    aria-describedby="basic-addon1"
                    v-bind="email"
                />
            </div>
            <label for="alert" class="col-form-label text-danger">
                {{ errors?.email }}
            </label>

            <div class="input-group mt-2 mb-2">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiPhone"></svg-icon>
                </span>
                <input
                    type="text"
                    class="input form-control form-control-sm"
                    placeholder="Số điện thoại"
                    aria-describedby="basic-addon1"
                    v-bind="phoneNumber"
                />
            </div>
            <label for="alert" class="col-form-label text-danger">
                {{ errors?.phoneNumber }}
            </label>

            <div class="input-group mt-2 mb-2">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiMapMarker"></svg-icon>
                </span>
                <textarea class="form-control" aria-label="With textarea" rows="2" placeholder="Địa chỉ" v-bind="address"></textarea>
            </div>
            <label for="alert" class="col-form-label text-danger">
                {{ errors?.address }}
            </label>

            <div class="input-group mt-2 mb-2">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiRename"></svg-icon>
                </span>
                <textarea
                    class="form-control"
                    aria-label="With textarea"
                    rows="2"
                    placeholder="Thông tin khác"
                    v-bind="otherInformation"
                ></textarea>
            </div>
            <label for="alert" class="col-form-label text-danger">
                {{ errors?.otherInformation }}
            </label>

            <div class="input-group mt-2 mb-2">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiCash"></svg-icon>
                </span>
                <input
                    type="number"
                    min="0"
                    class="input form-control form-control-sm"
                    placeholder="Công nợ"
                    aria-describedby="basic-addon1"
                    v-bind="debtAmount"
                />
            </div>
            <label for="alert" class="col-form-label text-danger">
                {{ errors?.debtAmount }}
            </label>

            <template #footer>
                <Button label="Hủy" class="me-2 rounded" severity="secondary" @click="addDialog = false" raised />
                <Button label="Thêm" class="me-2 rounded" severity="success" @click="createSupplier" raised />
            </template>
        </Dialog>
    </form>
</template>
<style lang="scss" scoped></style>
