<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiArrowLeft } from '@mdi/js'
import { useSupplierStore } from '@/stores/store.supplier'
import { ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import TabMenu from 'primevue/tabmenu'
import SupplierDebtView from '@/views/SupplierManagementViews/SupplierDebtView.vue'
import SupplierImportHistoryView from '@/views/SupplierManagementViews/SupplierImportHistoryView.vue'

const supplierStore = useSupplierStore()
const currentSupplier = ref({})

const router = useRouter()

const active = ref(0)

const getSupplierId = router.currentRoute.value.params.supplierId

const items = ref([
    {
        label: 'Lịch sử nhập hàng'
    },
    {
        label: 'Công nợ'
    }
])

onBeforeMount(async () => {
    active.value = 0
    currentSupplier.value = await supplierStore.getSupplierById(getSupplierId)
})

const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}
</script>
<template>
    <div class="card">
        <div class="mb-2 border border-1">
            <h5 class="p-2 ms-3 my-4">
                <router-link class="text-black me-1" to="/supplier-management">
                    <svg-icon type="mdi" :path="mdiArrowLeft"></svg-icon
                ></router-link>
                Thông tin nhà cung cấp
            </h5>
            <div class="row my-4">
                <div class="col-md-7 row ms-2">
                    <div class="col-md-5">
                        <h6 class="p-2">Mã nhà cung cấp</h6>
                        <h6 class="p-2">Tên nhà cung cấp</h6>
                        <h6 class="p-2">Email</h6>
                        <h6 class="p-2">Số điện thoại</h6>
                    </div>
                    <div class="col-md-7">
                        <h6 class="ms-2 p-2">
                            : <span class="ms-1">{{ currentSupplier.supplierId }}</span>
                        </h6>
                        <h6 class="ms-2 p-2">
                            : <span class="ms-1">{{ currentSupplier.supplierName }}</span>
                        </h6>
                        <h6 class="ms-2 p-2">
                            : <span class="ms-1">{{ currentSupplier.email }}</span>
                        </h6>
                        <h6 class="ms-2 p-2">
                            : <span class="ms-1">{{ currentSupplier.phoneNumber }}</span>
                        </h6>
                    </div>
                </div>
                <div class="col-md-5 row ms-2">
                    <div class="col-md-6">
                        <h6 class="p-2">Trạng thái</h6>
                        <h6 class="p-2">Nợ hiện tại</h6>
                    </div>
                    <div class="col-md-6">
                        <h6 class="ms-2 p-2" v-if="currentSupplier.status === true">
                            : <span class="ms-1 text-success">Đang giao dịch</span>
                        </h6>
                        <h6 class="ms-2 p-2" v-else>: <span class="ms-1 text-danger">Ngừng giao dịch</span></h6>
                        <h6 class="ms-2 p-2" v-if="currentSupplier.debtAmount">
                            : <span class="ms-1">{{ formatCurrency(currentSupplier.debtAmount) }}</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <TabMenu v-model:activeIndex="active" :model="items"> </TabMenu>
        <SupplierImportHistoryView :supplierItem="currentSupplier.supplierId" class="ms-4" v-if="active === 0" />
        <SupplierDebtView :supplierItem="currentSupplier.supplierId" class="ms-4" v-if="active === 1" />
    </div>
</template>
<style lang="scss" scoped></style>
