<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiCheckBold, mdiCircleHalfFull, mdiMinus } from '@mdi/js'
import { useSupplierStore } from '@/stores/store.supplier'
import { ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import moment from 'moment'

const supplierStore = useSupplierStore()
const router = useRouter()
const historyImportList = ref({})
const totalHistoryImportList = ref()
const paginator = ref({
    CurrentPage: 1,
    PageSize: 10
})

const getSupplierId = router.currentRoute.value.params.supplierId

const formatDate = (value) => {
    if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
    } else {
        return ''
    }
}

const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}

onMounted(async () => {
    historyImportList.value = await supplierStore.getHistoryImport(getSupplierId)
    historyImportList.value.forEach((history, index) => {
        history.index = index + 1
    })
    totalHistoryImportList.value = historyImportList.value.length
    filterHistoryImport()
})

const filterHistoryImport = async () => {
    // Filter the exportList based on the current page and page size
    const currentPage = paginator.value.CurrentPage
    const pageSize = paginator.value.PageSize
    const startIndex = (currentPage - 1) * pageSize
    const endIndex = startIndex + pageSize
    historyImportList.value = historyImportList.value.slice(startIndex, endIndex)
}

const setCurrentHistoryImport = async (pageInfo) => {
    paginator.value.CurrentPage = pageInfo.page + 1
    paginator.value.PageSize = pageInfo.rows
    historyImportList.value = await supplierStore.getHistoryImport(getSupplierId)
    historyImportList.value.forEach((history, index) => {
        history.index = index + 1
    })
    filterHistoryImport()
}
</script>
<template>
    <div class="text-decoration-none">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã đơn nhập</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Nhập kho</th>
                    <th scope="col">Thanh toán</th>
                    <th scope="col">Giá trị</th>
                    <th scope="col">Chi nhánh</th>
                    <th scope="col">Ngày nhập đơn</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="historyImportList.length != 0" v-for="items in historyImportList" :key="items.index">
                    <td>{{ items.index }}</td>
                    <td>
                        <router-link
                            :to="{ name: 'base-import-detail', params: { importId: items.importId } }"
                            class="text-decoration-none"
                        >
                            {{ items.importCode }}
                        </router-link>
                    </td>
                    <td v-if="items.importStatus == 2 && items.paymentStatus == 3" class="text-success">Đã hoàn thành</td>
                    <td v-else class="text-primary">Đang tiến hành</td>

                    <td v-if="items.importStatus == 2"><svg-icon type="mdi" :path="mdiCheckBold"></svg-icon></td>
                    <td v-else><svg-icon type="mdi" :path="mdiMinus"></svg-icon></td>

                    <td v-if="items.paymentStatus == 3"><svg-icon type="mdi" :path="mdiCheckBold"></svg-icon></td>
                    <td v-else-if="items.paymentStatus == 2"><svg-icon type="mdi" :path="mdiCircleHalfFull"></svg-icon></td>
                    <td v-else><svg-icon type="mdi" :path="mdiMinus"></svg-icon></td>

                    <td>{{ formatCurrency(items.totalPrice) }}</td>
                    <td>{{ items.nameBase }}</td>
                    <td>{{ formatDate(items.importedDate) }}</td>
                </tr>
            </tbody>
        </table>
        <h6 v-if="historyImportList.length != 0" class="p-2">Hiển thị {{ historyImportList.length }} kết quả</h6>
        <h6 v-else class="p-2 my-4 text-center">Không có dữ liệu</h6>
        <Paginator
            :rows="paginator.PageSize"
            :totalRecords="totalHistoryImportList"
            :rowsPerPageOptions="[10, 20, 30]"
            @page="setCurrentHistoryImport"
        >
        </Paginator>
    </div>
</template>
<style lang="scss" scoped></style>
