<script setup>
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiMagnify } from '@mdi/js'
import { ref, onMounted } from 'vue'
import { useSupplierStore } from '@/stores/store.supplier'
import moment from 'moment'
import AddSupplierView from '@/views/SupplierManagementViews/AddSupplierView.vue'
import UpdateSupplierView from '@/views/SupplierManagementViews/UpdateSupplierView.vue'

const supplierStore = useSupplierStore()
const suppliers = ref([])
const supplier = ref()
const paging = ref({})
const paginator = ref({ SearchWord: '', CurrentPage: 1, PageSize: 10, PageRange: 5 })
const isLoading = ref(false)
const isFirstLoading = ref(true)
const confirmStatusDialog = ref(false)

const changeInfo = reactive({
    supplierId: 0,
    status: false
})

onMounted(async () => {
    isLoading.value = true
    const response = await supplierStore.getAllSuppliers(paginator.value)

    suppliers.value = response.items
    paging.value = response.pagination
    isLoading.value = false
    isFirstLoading.value = false
    console.log(suppliers.value)
})

watch(paginator.value, async (current, previous) => {
    isLoading.value = true
    const response = await supplierStore.getAllSuppliers(current)

    suppliers.value = response.items
    paging.value = response.pagination
    isLoading.value = false
})

const setCurrent = (pageInfo) => {
    paginator.value.CurrentPage = computed(() => pageInfo.page + 1).value
    paginator.value.PageSize = pageInfo.rows
    paginator.value.PageRange = 5
}

const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}

const formatDate = (value) => {
    if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
    } else {
        return ''
    }
}

const confirmStatus = (currentSupplier) => {
    supplier.value = currentSupplier
    confirmStatusDialog.value = true
}

const changeStatus = async () => {
    confirmStatusDialog.value = false

    changeInfo.supplierId = supplier.value.supplierId
    if (supplier.value.status === true) {
        changeInfo.status = false
    } else {
        changeInfo.status = true
    }
    const response = await supplierStore.updateSupplierStatus(changeInfo)
    if (response === true) {
        supplier.value = {}
        handleAddUpdateSupplier()
    }
}
const handleAddUpdateSupplier = async () => {
    const response = await supplierStore.getAllSuppliers(paginator.value)
    suppliers.value = response.items
    paging.value = response.pagination
}
</script>
<template>
    <Toast />
    <Suspense>
        <div class="card">
            <DataTable :value="suppliers" :loading="isFirstLoading" tableStyle="min-width: 50rem" scrollable scrollHeight="500px">
                <template #header>
                    <span class="my-auto">Danh sách nhà cung cấp</span>
                    <div class="d-flex justify-content-between mt-2">
                        <span class="p-input-icon-left">
                            <svg-icon type="mdi" :path="mdiMagnify"></svg-icon>
                            <InputText v-model="paginator.SearchWord" placeholder="Tìm kiếm..." />
                        </span>
                        <div>
                            <AddSupplierView @add-supplier="handleAddUpdateSupplier"></AddSupplierView>
                        </div>
                    </div>
                </template>
                <template #loading>
                    <div class="flex align-items-center justify-content-center">
                        <h3>Đang tải dữ liệu ...</h3>
                    </div>
                </template>

                <template #empty>
                    <div v-if="!isFirstLoading" class="flex align-items-center justify-content-center my-4">
                        <h6 class="text-center">Không có dữ liệu</h6>
                    </div>
                </template>

                <Column :field="'stt'" header="STT">
                    <template #body="slotProps">
                        <p class="mb-1 mt-2 fw-bold">{{ slotProps.index + 1 }}</p>
                    </template>
                </Column>

                <Column header="Ảnh">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                        <img v-else :src="slotProps.data.logo" class="rounded object-fit-cover" width="50" height="50" />
                    </template>
                </Column>

                <Column field="supplierName" header="Tên nhà cung cấp">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                        <router-link
                            v-else
                            class="text-decoration-none"
                            :to="{ name: 'supplier-details', params: { supplierId: slotProps.data.supplierId } }"
                        >
                            <p>{{ slotProps.data.supplierName }}</p>
                        </router-link>
                    </template>
                </Column>

                <Column field="email" header="Email">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                        <p v-else>{{ slotProps.data.email }}</p>
                    </template>
                </Column>

                <Column field="phoneNumber" header="SĐT">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                        <p v-else>{{ slotProps.data.phoneNumber }}</p>
                    </template>
                </Column>

                <Column field="status" header="Trạng thái">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                        <Button v-else class="mt-2 mb-4" @click="confirmStatus(slotProps.data)" link>
                            <Tag
                                :value="slotProps.data.status === true ? 'Đang giao dịch' : 'Ngừng giao dịch'"
                                :severity="slotProps.data.status === true ? 'success' : 'danger'"
                            />
                        </Button>
                    </template>
                </Column>

                <Dialog v-model:visible="confirmStatusDialog" :style="{ width: '450px' }" header="Thay đổi trạng thái" :modal="true">
                    <div class="confirmation-content">
                        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
                        <span v-if="supplier"
                            >Bạn có chắc chắn muốn đổi trạng thái nhà cung cấp <b>{{ supplier.supplierName }}</b
                            >?</span
                        >
                    </div>
                    <template #footer>
                        <Button label="Không" text @click="confirmAccountDialog = false" />
                        <Button label="Có" text @click="changeStatus" />
                    </template>
                </Dialog>

                <Column field="debtAmount" header="Số nợ hiện tại">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                        <p v-else>{{ formatCurrency(slotProps.data.debtAmount) }}</p>
                    </template>
                </Column>

                <Column field="cooperatedTime" header="Ngày tạo">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                        <p v-else>{{ formatDate(slotProps.data.cooperatedTime) }}</p>
                    </template>
                </Column>

                <Column header="Hành động">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                        <UpdateSupplierView
                            v-else
                            :currentSupplier="slotProps.data"
                            @update-supplier="handleAddUpdateSupplier"
                        ></UpdateSupplierView>
                    </template>
                </Column>

                <template #footer>
                    <div class="flex flex-wrap align-items-center justify-content-center gap-2">
                        <Paginator
                            :rows="paging.pageSize"
                            :totalRecords="paging.totalItem"
                            :rowsPerPageOptions="[10, 20, 30]"
                            @page="setCurrent"
                        ></Paginator>
                    </div>
                </template>
            </DataTable>
        </div>
    </Suspense>
</template>
<style lang="scss" scoped></style>
