<script setup>
import { useSupplierStore } from '@/stores/store.supplier'
import { ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import moment from 'moment'

const supplierStore = useSupplierStore()
const router = useRouter()
const debtList = ref({})
const totalDebtList = ref()
const paginator = ref({
    CurrentPage: 1,
    PageSize: 10
})
const getSupplierId = router.currentRoute.value.params.supplierId

const formatDate = (value) => {
    if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
    } else {
        return ''
    }
}

const formatCurrency = (value) => {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
}

onMounted(async () => {
    debtList.value = await supplierStore.getDebts(getSupplierId)
    debtList.value.forEach((debt, index) => {
        debt.index = index + 1
    })
    totalDebtList.value = debtList.value.length
    filterDebt()
})
const filterDebt = async () => {
    // Filter the debtList based on the current page and page size
    const currentPage = paginator.value.CurrentPage
    const pageSize = paginator.value.PageSize
    const startIndex = (currentPage - 1) * pageSize
    const endIndex = startIndex + pageSize
    debtList.value = debtList.value.slice(startIndex, endIndex)
}

const setCurrentDebt = async (pageInfo) => {
    paginator.value.CurrentPage = pageInfo.page + 1
    paginator.value.PageSize = pageInfo.rows
    debtList.value = await supplierStore.getDebts(getSupplierId)
    debtList.value.forEach((debt, index) => {
        debt.index = index + 1
    })
    filterDebt()
}
</script>
<template>
    <div class="text-decoration-none">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã hóa đơn</th>
                    <th scope="col">Người tạo</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Ngày ghi nhận</th>
                    <th scope="col">Ghi chú</th>
                    <th scope="col">Biến động nợ</th>
                    <th scope="col">Giá trị</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="debtList.length != 0" v-for="items in debtList" :key="items.index">
                    <td>{{ items.index }}</td>
                    <td>{{ items.invoiceCode }}</td>
                    <td>{{ items.createUser }}</td>
                    <td>{{ formatDate(items.createDate) }}</td>
                    <td>{{ formatDate(items.updateDate) }}</td>
                    <td>{{ items.description }}</td>
                    <td>{{ formatCurrency(items.balanceChange) }}</td>
                    <td>{{ formatCurrency(items.amount) }}</td>
                </tr>
            </tbody>
        </table>
        <h6 v-if="debtList.length != 0" class="p-2">Hiển thị {{ debtList.length }} kết quả</h6>
        <h6 v-else class="p-2 my-4 text-center">Không có dữ liệu</h6>
        <Paginator :rows="paginator.PageSize" :totalRecords="totalDebtList" :rowsPerPageOptions="[10, 20, 30]" @page="setCurrentDebt">
        </Paginator>
    </div>
</template>
<style lang="scss" scoped></style>
