<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiRename, mdiMapMarker, mdiAccountMultiple, mdiEmailOutline, mdiPhone, mdiIdentifier, mdiCalendarRange } from '@mdi/js'
import { ref } from 'vue'
import { useSupplierStore } from '@/stores/store.supplier'
import yup from '@/utils/yup.methods'
import { useForm } from 'vee-validate'
import { useToast } from 'primevue/usetoast'
import moment from 'moment'
import debounce from 'lodash.debounce'

const supplierStore = useSupplierStore()
const updateDialog = ref(false)
const toast = useToast()
const isSuccess = ref(true)
const datas = defineProps({
    currentSupplier: Object
})

const formatDate = (value) => {
    if (value) {
        return moment(String(value)).format('YYYY-MM-DD')
    }
}

const updateDate = (event) => {
    datas.currentSupplier.cooperatedTime = event.target.value
}

const onDialogShow = async () => {
    resetForm({
        values: datas.currentSupplier
    })
}

let fileImage = ref(null)
const previewUrl = ref(null)
const EventfileInput = ref(null)

const onEventFilePicked = () => {
    const file = EventfileInput.value.files[0]
    if (file) {
        const reader = new FileReader()
        reader.onload = (e) => {
            previewUrl.value = e.target.result
        }
        reader.readAsDataURL(file)
        fileImage.value = file
    }
}

const emits = defineEmits(['updateSupplier'])

const schema = yup.object({
    supplierName: yup.string().required('Tên không được để trống !'),
    email: yup.string().required('Email không được để trống !').email('Email không hợp lệ !'),
    phoneNumber: yup.string().required('Số điện thoại không được để trống! ').isPhoneNumber(),
    address: yup.string().required('Địa chỉ không được để trống! ')
})

const { errors, defineInputBinds, handleSubmit, resetForm } = useForm({
    validationSchema: schema
})

const supplierId = defineInputBinds('supplierId')
const supplierName = defineInputBinds('supplierName')
const email = defineInputBinds('email')
const phoneNumber = defineInputBinds('phoneNumber')
const address = defineInputBinds('address')
const otherInformation = defineInputBinds('otherInformation')

const editSupplier = handleSubmit(debounce(async (values) => {
    let formData = new FormData()
    formData.append('supplierId', values.supplierId)
    formData.append('supplierName', values.supplierName)
    formData.append('email', values.email)
    formData.append('phoneNumber', values.phoneNumber)
    formData.append('address', values.address)
    formData.append('otherInformation', values.otherInformation)
    formData.append('cooperatedTime', formatDate(datas.currentSupplier.cooperatedTime))
    formData.append('supplierLogo', fileImage.value)
    const isEditSuccess = await supplierStore.updateSupplier(formData)
    if (isEditSuccess === true) {
        isSuccess.value = true
        updateDialog.value = false
        emits('updateSupplier')
        toast.add({
            severity: 'success',
            summary: 'Thành công',
            detail: 'Cập nhật nhà cung cấp thành công',
            life: 3000
        })
    }

    if (isEditSuccess === false) {
        isSuccess.value = false
    }
}, 500))
</script>
<template>
    <Button severity="info" class="btn-update p-2 rounded" @click="updateDialog = true">
        <svg-icon type="mdi" :path="mdiRename"></svg-icon>
        <span class="mx-1 text-center">Sửa</span>
    </Button>
    <form @submit.prevent="editSupplier">
        <Dialog v-model:visible="updateDialog" @show="onDialogShow" modal header="Sửa nhà cung cấp" :style="{ width: '50vw' }">
            <div class="d-flex flex-column mb-4">
                <div class="d-flex justify-content-center">
                    <Image v-bind:src="previewUrl ? previewUrl : datas.currentSupplier.logo" alt="Image" width="150" />
                </div>
                <FileUpload
                    mode="basic"
                    accept="image/*"
                    chooseLabel="Chọn ảnh"
                    ref="EventfileInput"
                    :maxFileSize="1000000"
                    @change="onEventFilePicked"
                />
            </div>

            <div class="input-group mt-2 mb-2">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiIdentifier"></svg-icon>
                </span>
                <input
                    type="number"
                    class="input form-control form-control-sm"
                    placeholder="ID"
                    aria-describedby="basic-addon1"
                    v-bind="supplierId"
                    readonly
                />
            </div>
            <label for="alert" class="col-form-label text-danger"> </label>
            <div class="input-group mt-2 mb-2">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiAccountMultiple"></svg-icon>
                </span>
                <input
                    type="text"
                    class="input form-control form-control-sm"
                    placeholder="Tên nhà cung cấp"
                    aria-describedby="basic-addon1"
                    v-bind="supplierName"
                />
            </div>
            <label for="alert" class="col-form-label text-danger">
                {{ errors?.supplierName }}
            </label>

            <div class="input-group mt-2 mb-2">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiEmailOutline"></svg-icon>
                </span>
                <input
                    type="email"
                    class="input form-control form-control-sm"
                    placeholder="Email"
                    aria-describedby="basic-addon1"
                    v-bind="email"
                />
            </div>
            <label for="alert" class="col-form-label text-danger">
                {{ errors?.email }}
            </label>

            <div class="input-group mt-2 mb-2">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiPhone"></svg-icon>
                </span>
                <input
                    type="text"
                    class="input form-control form-control-sm"
                    placeholder="Số điện thoại"
                    aria-describedby="basic-addon1"
                    v-bind="phoneNumber"
                />
            </div>
            <label for="alert" class="col-form-label text-danger">
                {{ errors?.phoneNumber }}
            </label>

            <div class="input-group mt-2 mb-2">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiCalendarRange"></svg-icon>
                </span>
                <input
                    type="date"
                    class="input form-control form-control-sm"
                    placeholder="Thời gian bắt đầu hợp tác"
                    aria-describedby="basic-addon1"
                    :value="formatDate(datas.currentSupplier.cooperatedTime)"
                    @input="updateDate"
                />
            </div>
            <label for="alert" class="col-form-label text-danger"> </label>

            <div class="input-group mt-2 mb-2">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiMapMarker"></svg-icon>
                </span>
                <textarea class="form-control" aria-label="With textarea" rows="2" placeholder="Địa chỉ" v-bind="address"></textarea>
            </div>
            <label for="alert" class="col-form-label text-danger">
                {{ errors?.address }}
            </label>

            <div class="input-group mt-2 mb-2">
                <span class="input-group-text" id="basic-addon1">
                    <svg-icon type="mdi" :path="mdiRename"></svg-icon>
                </span>
                <textarea
                    class="form-control"
                    aria-label="With textarea"
                    rows="2"
                    placeholder="Thông tin khác"
                    v-bind="otherInformation"
                ></textarea>
            </div>
            <label for="alert" class="col-form-label text-danger">
                {{ errors?.otherInformation }}
            </label>

            <label v-if="isSuccess === false" for="alert" class="col-form-label text-danger">Lỗi khi thay đổi!</label>
            <template #footer>
                <Button label="Hủy" class="me-2 rounded" severity="secondary" @click="updateDialog = false" raised />
                <Button label="Lưu" class="me-2 rounded" severity="info" @click="editSupplier" raised />
            </template>
        </Dialog>
    </form>
</template>
<style lang="scss" scoped></style>
