<script setup>
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiMagnify, mdiPlus } from '@mdi/js'
import { ref, onMounted } from 'vue'
import { useProductStore } from '@/stores/store.product'
import StockQuantityListByProductIdView from '@/views/StockQuantityManagementViews/StockQuantityListByProductIdView.vue'
import { useUserStore } from '@/stores/store.user'
import { useWarehouseStore } from '@/stores/store.warehouse'
import { useCategoryStore } from '@/stores/store.category'

const categoryStore = useCategoryStore()
const categorys = ref([{ categoryName: 'Tất cả', categoryId: null, Visible: true }])
const selectedCategoryId = ref(null)

const useWarehouse = useWarehouseStore()
const userStore = useUserStore()
const productStore = useProductStore()
const stockQuantityList = ref([])
const paging = ref({})

const getCurrentRole = ref(0)
const getWarehouse = ref('')

const paginator = ref({ RoleId: 0, SearchWord: '', CurrentPage: 1, PageSize: 10, PageRange: 5, CategoryId: null })
const isLoading = ref(false)
const isFirstLoading = ref(true)

onMounted(async () => {
    isLoading.value = true

    const getRoles = await userStore.getUserRole()
    getCurrentRole.value = getRoles[0].roleId
    paginator.value.RoleId = getCurrentRole.value

    if (getCurrentRole.value == 4 || getCurrentRole.value == 5 || getCurrentRole.value == 6) {
        const warehouse = await useWarehouse.getBranchwarehouseByCurrentUser()
        getWarehouse.value = warehouse.warehouseName
    }

    const categorysInDb = await categoryStore.getCategories()
    categorys.value = categorys.value.concat(categorysInDb)

    const response = await productStore.getStockQuantity(paginator.value)
    stockQuantityList.value = response.items
    paging.value = response.pagination
    isLoading.value = false
    isFirstLoading.value = false
})

watch(paginator.value, async (current, previous) => {
    isLoading.value = true
    const response = await productStore.getStockQuantity(current)

    stockQuantityList.value = response.items
    paging.value = response.pagination
    isLoading.value = false
})

watch(selectedCategoryId, async (current, previous) => {
    paginator.value.CategoryId = current
    const response = await productStore.getStockQuantity(current)

    products.value = response.items
    paging.value = response.pagination
    isLoading.value = false
})

const setCurrent = (pageInfo) => {
    paginator.value.CurrentPage = computed(() => pageInfo.page + 1).value
    paginator.value.PageSize = pageInfo.rows
    paginator.value.PageRange = 5
}

const convertText = () => {
    if (getCurrentRole.value == 2 || getCurrentRole.value == 3) {
        return 'chi nhánh'
    }
    if (getCurrentRole.value == 4 || getCurrentRole.value == 5 || getCurrentRole.value == 6) {
        return getWarehouse.value
    }
    return null
}
</script>
<template>
    <Toast />
    <Suspense>
        <div class="card">
            <DataTable :value="stockQuantityList" :loading="isFirstLoading" tableStyle="min-width: 50rem" scrollable scrollHeight="380px">
                <template #header>
                    <span class="my-auto">Danh sách sản phẩm</span>
                    <div class="d-flex justify-content-between mt-2">
                        <div>
                            <span class="p-input-icon-left">
                                <svg-icon type="mdi" :path="mdiMagnify"></svg-icon>
                                <InputText v-model="paginator.SearchWord" placeholder="Tìm kiếm..." />
                            </span>
                            <span class="p-input-icon-left">
                                <svg-icon type="mdi" :path="mdiMagnify"></svg-icon>
                                <Dropdown
                                    v-model="selectedCategoryId"
                                    :options="categorys"
                                    optionLabel="categoryName"
                                    option-value="categoryId"
                                    placeholder="Loại sản phẩm"
                                    class="w-full md:w-14rem ms-2"
                                />
                            </span>
                        </div>
                        <div>
                            <router-link class="text-decoration-none" :to="{ name: 'create-stock-check-sheet' }">
                                <Button severity="success" class="me-2 rounded fw-bold">
                                    <svg-icon type="mdi" :path="mdiPlus"></svg-icon> Tạo đơn kiểm hàng</Button
                                >
                            </router-link>
                        </div>
                    </div>
                </template>
                <template #loading>
                    <div class="flex align-items-center justify-content-center">
                        <h3>Đang tải dữ liệu ...</h3>
                    </div>
                </template>

                <template #empty>
                    <div v-if="!isFirstLoading" class="flex align-items-center justify-content-center my-4">
                        <h6 class="text-center">Không có dữ liệu</h6>
                    </div>
                </template>

                <Column :field="'stt'" header="STT">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                        <p v-else class="mb-1 mt-2 fw-bold">{{ slotProps.index + 1 }}</p>
                    </template>
                </Column>

                <Column field="sku" header="SKU" style="max-width: 10rem">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                        <p v-else>
                            <StockQuantityListByProductIdView :productPicked="slotProps.data"> </StockQuantityListByProductIdView>
                        </p>
                    </template>
                </Column>

                <Column header="Ảnh">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                        <img v-else :src="slotProps.data.productImage" class="w-6rem shadow-2 border-round" width="45" />
                    </template>
                </Column>

                <Column field="productName" header="Tên sản phẩm" style="max-width: 15rem">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                        <p v-else>{{ slotProps.data.productName }}</p>
                    </template>
                </Column>

                <Column field="categoryName" header="Loại sản phẩm">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                        <p v-else>{{ slotProps.data.categoryName }}</p>
                    </template>
                </Column>

                <Column field="inventoryNumber" header="Số lượng tồn kho">
                    <template #body="slotProps">
                        <Skeleton v-if="isLoading === true" class="mb-2"></Skeleton>
                        <p v-else>{{ slotProps.data.inventoryNumber }}</p>
                    </template>
                </Column>

                <template #footer>
                    <h6 v-if="stockQuantityList.length != 0" class="my-4 mt-0 mb-0">
                        Hiển thị {{ stockQuantityList.length }}
                        kết quả
                    </h6>
                    <div class="flex flex-wrap align-items-center justify-content-center gap-2">
                        <Paginator
                            :rows="paging.pageSize"
                            :totalRecords="paging.totalItem"
                            :rowsPerPageOptions="[10, 20, 30]"
                            @page="setCurrent"
                        ></Paginator>
                    </div>
                </template>
            </DataTable>
        </div>
    </Suspense>
</template>
<style lang="scss" scoped></style>
