<script setup>
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'
import { ref } from 'vue'
import { useProductStore } from '@/stores/store.product'
import { useUserStore } from '@/stores/store.user'
import { useWarehouseStore } from '@/stores/store.warehouse'
import { roles } from '@/constants/role.js'

const useWarehouse = useWarehouseStore()
const userStore = useUserStore()
const productStore = useProductStore()
const stockQuantityList = ref({})
const listDialog = ref(false)

const getCurrentRole = ref(0)
const getWarehouse = ref('')

const currentProduct = defineProps({
    productPicked: Object
})

const conditions = ref({ RoleId: 0, ProductId: currentProduct.productPicked.productId })

const onDialogShow = async () => {
    const getRoles = await userStore.getUserRole()
    getCurrentRole.value = getRoles[0].roleId
    conditions.value.RoleId = getCurrentRole.value

    if (getCurrentRole.value == 4 || getCurrentRole.value == 5 || getCurrentRole.value == 6) {
        const warehouse = await useWarehouse.getBranchwarehouseByCurrentUser()
        getWarehouse.value = warehouse.warehouseName
    }

    conditions.value.ProductId = currentProduct.productPicked.productId

    const response = await productStore.getStockQuantityById(conditions.value)
    stockQuantityList.value = response
    stockQuantityList.value = stockQuantityList.value.filter((product) => product.stockQuantity > 0)
}

const convertText = () => {
    if (getCurrentRole.value == 2 || getCurrentRole.value == 3) {
        return 'chi nhánh'
    }
    if (getCurrentRole.value == 4 || getCurrentRole.value == 5 || getCurrentRole.value == 6) {
        return getWarehouse.value
    }
    return null
}

const dialogHeader = computed(() => {
    return `Chi tiết hàng tồn còn trong ${convertText()} của sản phẩm "${currentProduct.productPicked.productName}"`
})
</script>
<template>
    <a class="text-decoration-none" href="#" @click="listDialog = true">
        {{ currentProduct.productPicked.sku }}
    </a>
    <Dialog v-model:visible="listDialog" @show="onDialogShow" modal :header="dialogHeader" :style="{ width: '70vw' }">
        <DataTable :value="stockQuantityList" tableStyle="min-width: 50rem" scrollable scrollHeight="350px">
            <Column :field="'stt'" header="STT">
                <template #body="slotProps">
                    <p class="mb-1 mt-2 fw-bold">{{ slotProps.index + 1 }}</p>
                </template>
            </Column>

            <Column field="importCode" header="Mã nhập">
                <template #body="slotProps">
                    <div v-if="getCurrentRole === roles.Base_WM.roleId || getCurrentRole === roles.Base_WE.roleId">
                        <router-link
                            :to="{ name: 'base-import-detail', params: { importId: slotProps.data.importId } }"
                            class="text-decoration-none"
                        >
                            {{ slotProps.data.importCode }}
                        </router-link>
                    </div>
                    <div
                        v-if="
                            getCurrentRole === roles.Branch_WD.roleId ||
                            getCurrentRole === roles.Branch_WM.roleId ||
                            getCurrentRole === roles.Branch_WE.roleId
                        "
                    >
                        <router-link
                            :to="{ name: 'branch-import-detail', params: { importId: slotProps.data.importId } }"
                            class="text-decoration-none"
                        >
                            {{ slotProps.data.importCode }}
                        </router-link>
                    </div>
                </template>
            </Column>

            <Column field="importedQuantity" header="Số lượng đã nhập">
                <template #body="slotProps">
                    <p>{{ slotProps.data.importedQuantity }}</p>
                </template>
            </Column>

            <Column field="stockQuantity" header="Số lượng tồn kho">
                <template #body="slotProps">
                    <p>{{ slotProps.data.stockQuantity }}</p>
                </template>
            </Column>
        </DataTable>
        <h6 v-if="stockQuantityList.length != 0" class="p-2 mx-2">Hiển thị {{ stockQuantityList.length }} kết quả</h6>
        <h6 v-else class="p-2 mb-4 text-center">Không có dữ liệu</h6>
    </Dialog>
</template>
<style lang="scss" scoped></style>
