<script setup>
import { PUBLIC_LAYOUT } from '@/constants/index.js'
const route = useRoute()
const layout = computed(() => (route.meta.layout || PUBLIC_LAYOUT) + '-layout')
</script>

<template>
    <component :is="layout">
        <RouterView />
    </component>

    <Toast />
</template>
