.navbar {
    min-height: 97px;
    .nav-item {
        margin-left: 1.25rem;

        &:last-child {
            margin-right: 0;
        }

        .nav-link {
            color: --dark;

            vertical-align: middle;
            vertical-align: middle;
            margin-right: 3rem;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }

        .custom-svg path {
            fill: --dark;
        }

        .user-name {
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            color: --light;
            margin: 1rem;
        }
    }

    .nav-item.dropdown {
        .dropdown-menu {
            border: none;
            -webkit-box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.2);
        }

        .navbar-dropdown {
            position: absolute;
            font-size: 1rem;
            margin-top: 0;
            right: 3rem;
            left: auto;
            top: 70px;
            padding-top: 0;

            .dropdown-item {
                margin-bottom: 0;
                padding: 5px 25px;
                cursor: pointer;
                border-bottom: 1px solid #dee2e6;
                line-height: 1;
            }
        }
    }
}
