aside {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    color: var(--light);
    width: calc(2rem + 32px);
    overflow: hidden;
    min-height: 100vh;
    padding: 1rem;
    transition: 0.2s ease-in-out;
    .flex {
        flex: 1 1 0%;
    }

    .logo {
        margin-bottom: 1rem;

        img {
            width: 2rem;
        }
    }

    .menu-toggle-wrap {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        position: relative;
        top: 0;
        transition: 0.2s ease-in-out;
        button {
            cursor: pointer;
            appearance: none;
            border: none;
            outline: none;
            background: none;
        }
        .menu-toggle {
            transition: 0.2s ease-in-out;

            .menu-bar {
                font-size: 2rem;
                color: var(--light);
                transition: 0.2s ease-out;
            }

            &:hover {
                .menu-bar {
                    color: var(--primary-alt);
                    transform: translateX(0.5rem);
                }
            }
        }
    }

    .menu {
        margin: 0 -1rem;
        font-weight: 500;
        padding: 0;
        z-index: 11;

        -webkit-transition:
            width 0.25s ease,
            background 0.25s ease;
        -moz-transition:
            width 0.25s ease,
            background 0.25s ease;
        -ms-transition:
            width 0.25s ease,
            background 0.25s ease;
        transition:
            width 0.25s ease,
            background 0.25s ease;

        .nav {
            overflow: hidden;
            flex-wrap: nowrap;
            flex-direction: column;
            margin-bottom: 60px;

            .nav-item {
                -webkit-transition-duration: 0.25s;
                -moz-transition-duration: 0.25s;
                -o-transition-duration: 0.25s;
                transition-duration: 0.25s;
                -webkit-transition-property: background;
                transition-property: background;

                .collapse {
                    z-index: 999;

                    // .nav {
                    // 	.nav-item {
                    // 		.nav-link {
                    // 			&.router-link-exact-active {
                    // 				background-color: var(--dark);
                    // 				color: var(--primary-alt);
                    // 			}
                    // 		}
                    // 	}
                    // }
                }

                .nav-link {
                    display: -webkit-flex;
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;
                    white-space: nowrap;
                    padding: 10px 35px 10px 35px;
                    color: var(--light);
                    -webkit-transition-duration: 0.45s;
                    -moz-transition-duration: 0.45s;
                    -o-transition-duration: 0.45s;
                    transition-duration: 0.45s;
                    transition-property: color;
                    -webkit-transition-property: color;
                    font-weight: 400;

                    .menu-icon {
                        font-size: 22px;
                        line-height: 1;
                        margin-right: 1rem;
                        color: var(--light);

                        &:before {
                            vertical-align: middle;
                        }
                    }

                    .menu-arrow {
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        margin-left: auto;
                        margin-right: 0;
                        color: var(--light);
                        -webkit-transition: all 0.2s ease-in;
                        -moz-transition: all 0.2s ease-in;
                        -ms-transition: all 0.2s ease-in;
                        -o-transition: all 0.2s ease-in;
                        transition: all 0.2s ease-in;
                    }

                    .menu-title {
                        color: inherit;
                        display: inline-block;
                        font-size: 12px;
                        line-height: 1;
                        vertical-align: middle;
                    }

                    &.router-link-exact-active {
                        background-color: var(--dark-alt);
                        color: var(--primary-alt);

                        .menu-icon,
                        .menu-title {
                            color: var(--primary-alt);
                        }
                    }
                }

                .nav-link[aria-expanded='true'] {
                    .menu-arrow {
                        -moz-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
                        color: var(--primary-alt);
                    }

                    .menu-title,
                    .menu-icon {
                        color: var(--primary-alt);
                    }
                }

                &:hover {
                    > .nav-link {
                        .menu-arrow {
                            color: var(--primary-alt);
                        }

                        .menu-title {
                            color: var(--primary-alt);
                        }

                        .menu-icon {
                            color: var(--primary-alt);
                        }
                    }
                }
            }

            .nav-item.nav-category {
                color: var(--light);
                border-bottom: 1px solid rgba(255, 255, 255, 0.13);
                margin: 0 30px;
                font-size: 11px;
                font-weight: 700;
                padding: 20px 0 5px 0;
                text-transform: uppercase;
            }

            &:not(.sub-menu) {
                margin-top: 0;
                margin-left: 0;
                margin-right: 0;

                > .nav-item {
                    margin-top: 0.2rem;

                    &:hover {
                        > .nav-link {
                            background: var(--dark-alt);
                            color: var(--dark-alt);
                        }
                    }

                    &:hover[aria-expanded='true'] {
                        background: var(--dark-alt);
                        color: var(--dark-alt);
                    }

                    > .nav-link {
                        margin: 0;
                    }

                    > .nav-link[aria-expanded='true'] {
                        background: var(--dark-alt);
                        color: var(--dark-alt);
                    }
                }
            }
        }

        .nav.sub-menu {
            margin-bottom: 0;
            margin-top: 0;
            list-style: none;
            padding: 0.25rem 0 0 3.07rem;
            background: var(--dark);
            padding-bottom: 12px;

            .nav-item {
                padding: 0;

                .nav-link {
                    padding: 0.7rem 1rem;
                    position: relative;
                    font-size: 12px;
                    line-height: 1;
                    height: auto;
                    border-top: 0;

                    &:hover {
                        color: var(--primary);
                    }
                }

                &:hover {
                    background: 0 0;
                }
            }
        }
    }
}

aside.is-expanded {
    width: var(--sidebar-width);

    .menu-toggle-wrap {
        top: -3rem;

        .menu-toggle {
            transform: rotate(-180deg);
        }
    }
}

aside.no-expanded {
    .menu {
        .nav {
            overflow: visible;
            margin-left: 0;
            margin-right: 0;
            position: fixed;

            .nav-item {
                position: relative;

                .nav-link {
                    display: block;
                    width: calc(2rem + 30px);
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    text-align: center;
                    position: static;

                    .menu-title {
                        display: none;
                        background: var(--light);
                    }

                    .badge {
                        display: none;
                    }

                    .menu-sub-title {
                        display: none;
                    }

                    .menu-icon {
                        margin-right: 0;
                        margin-left: 0;
                        margin-bottom: 0;
                        color: var(--light);
                    }

                    .menu-arrow {
                        display: none;
                    }

                    &.router-link-exact-active {
                        .menu-icon,
                        .menu-title {
                            color: var(--primary-alt);
                        }
                    }
                }

                .nav-link[aria-expanded] {
                    .menu-title {
                    }
                }

                .collapse {
                    display: none;
                }
            }

            .nav-item.hover-open {
                .nav-link {
                    .menu-title {
                        display: -webkit-flex;
                        display: flex;
                        -webkit-align-items: center;
                        align-items: center;
                        background: var(--dark-alt);
                        padding: 0.5rem 2rem;
                        left: 50px;
                        position: absolute;
                        text-align: left;
                        top: 0;
                        bottom: 0;
                        width: 190px;
                        z-index: 1;
                        line-height: 1.8;
                        -webkit-box-shadow: 4px 0px 7px 0px rgba(182, 185, 189, 0.25);
                        box-shadow: 4px 0px 7px 0px rgba(182, 185, 189, 0.25);

                        &:after {
                            display: none;
                        }
                    }

                    &:hover {
                        .menu-title {
                            background: var(--dark-alt);
                        }

                        .menu-icon {
                            color: var(--primary-alt);
                        }
                    }

                    &.router-link-exact-active {
                        background-color: var(--dark);
                        color: var(--primary-alt);
                    }
                }

                .collapse {
                    display: block;
                    background: var(--light);
                    position: absolute;
                    left: 50px;
                    width: 190px;
                    -webkit-box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
                    box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
                }

                .collapsing {
                    display: block;
                    background: var(--light);
                    position: absolute;
                    left: 50px;
                    width: 190px;
                    -webkit-box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
                    box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
                }
            }

            .nav-item.nav-category {
                display: none;
            }

            .nav-item.active {
                .nav-link {
                    .menu-icon {
                        color: var(--dark);
                    }
                }
            }

            &:not(.sub-menu) {
                .nav-item.active {
                    background: transparent;
                }

                .nav-item {
                    &:hover {
                        .nav-link {
                        }

                        .menu-icon {
                            color: var(--primary-alt);
                        }
                    }
                }
            }
        }

        .nav.sub-menu {
            padding: 0 0 0 1.5rem;
            width: 190px;

            .nav-item {
                .nav-link {
                    text-align: left;
                    padding-left: 20px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    aside {
        position: relative;
        z-index: 99;
    }
}

@media (max-width: 991px) {
    aside {
        .menu {
            .nav {
                .nav-item {
                    .nav-link {
                    }
                }
            }
        }
    }
}
