<script setup>
import wmslogo from '@/assets/images/wmslogo.png'
import Navbar from '@/components/common/Navbar.vue'
import AdminLayout from '@/components/layout/AdminLayout.vue'
import BaseEmployeeLayout from '@/components/layout/BaseEmployeeLayout.vue'
import BaseManagerLayout from '@/components/layout/BaseManagerLayout.vue'
import BranchDirectorLayout from '@/components/layout/BranchDirectorLayout.vue'
import BranchEmployeeLayout from '@/components/layout/BranchEmployeeLayout.vue'
import BranchManagerLayout from '@/components/layout/BranchManagerLayout.vue'
import { roles } from '@/constants/role.js'
import { useUserStore } from '@/stores/store.user.js'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiChevronDoubleRight, mdiHomeAnalytics } from '@mdi/js'
import { onBeforeMount, onUnmounted, onUpdated, ref } from 'vue'

const userRole = ref()
const userStore = useUserStore()
const is_expanded = ref(localStorage.getItem('is_expanded') === 'true')

const toggleMenu = () => {
    is_expanded.value = !is_expanded.value
    localStorage.setItem('is_expanded', is_expanded.value)
}
const handleHover = (ev) => {
    const aside = document.querySelector('aside')
    const sidebarIconOnly = aside.classList.contains('no-expanded')
    if (sidebarIconOnly) {
        const menuItem = ev.currentTarget
        if (ev.type === 'mouseenter') {
            menuItem.classList.add('hover-open')
        } else {
            menuItem.classList.remove('hover-open')
        }
    }
}
const handleSideBar = () => {
    const widthSidebarIconOnly = window.innerWidth < 992
    if (widthSidebarIconOnly) {
        is_expanded.value = false
    }
}

onBeforeMount(async () => {
    const response = await userStore.getUserRole()
    if (response.length != 0) {
        userRole.value = response[0].roleId
    }
    handleSideBar()
    window.addEventListener('resize', handleSideBar)
})

provide('userRole', userRole)

onUpdated(async () => {
    const navItems = document.querySelectorAll('.menu .nav .nav-item')
    for (const navItem of navItems) {
        navItem.addEventListener('mouseenter', handleHover)
        navItem.addEventListener('mouseleave', handleHover)
    }
})

onUnmounted(() => {
    const navItems = document.querySelectorAll('.menu .nav .nav-item')

    for (const navItem of navItems) {
        navItem.removeEventListener('mouseenter', handleHover)
        navItem.removeEventListener('mouseleave', handleHover)
    }
    window.removeEventListener('resize', handleHover)
})
</script>
<template>
    <div class="d-flex">
        <div class="position-static">
            <aside :class="`${is_expanded ? 'is-expanded' : 'no-expanded'}`" class="sticky-top">
                <div class="logo">
                    <img :src="wmslogo" alt="logo" />
                </div>

                <div class="menu-toggle-wrap">
                    <button class="menu-toggle mt-1" @click="toggleMenu">
                        <svg-icon class="menu-bar" type="mdi" :path="mdiChevronDoubleRight"></svg-icon>
                    </button>
                </div>

                <div class="menu">
                    <ul class="nav" id="accordion">
                        <li class="nav-item" v-if="userRole === roles.Base_WM.roleId || userRole === roles.Branch_WD.roleId">
                            <router-link class="nav-link" to="/home">
                                <svg-icon class="menu-icon" type="mdi" :path="mdiHomeAnalytics"></svg-icon>
                                <span class="menu-title">Tổng quan</span>
                            </router-link>
                        </li>
                        <template v-if="userRole === roles.Admin.roleId">
                            <AdminLayout />
                        </template>
                        <template v-else-if="userRole === roles.Base_WM.roleId">
                            <BaseManagerLayout />
                        </template>
                        <template v-else-if="userRole === roles.Base_WE.roleId">
                            <BaseEmployeeLayout />
                        </template>
                        <template v-else-if="userRole === roles.Branch_WD.roleId">
                            <BranchDirectorLayout />
                        </template>
                        <template v-else-if="userRole === roles.Branch_WM.roleId">
                            <BranchManagerLayout />
                        </template>
                        <template v-else-if="userRole === roles.Branch_WE.roleId">
                            <BranchEmployeeLayout />
                        </template>
                        <template v-else> </template>
                    </ul>
                </div>
            </aside>
        </div>
        <Navbar />
    </div>
</template>

<style lang="scss" scoped>
@import '@/assets/styles/sidebar.scss';
</style>
