<script setup>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiChevronRight, mdiHomeAnalytics, mdiPackageVariant, mdiChevronDoubleRight } from '@mdi/js'
import { onMounted, onUnmounted, ref } from 'vue'
import Navbar from '@/components/common/Navbar.vue'
import { useUserStore } from '@/stores/store.user'

const is_expanded = ref(localStorage.getItem('is_expanded') === 'true')
const roles = ref([])

const toggleMenu = () => {
    is_expanded.value = !is_expanded.value
    localStorage.setItem('is_expanded', is_expanded.value)
}
const handleHover = (ev) => {
    const aside = document.querySelector('aside')
    const sidebarIconOnly = aside.classList.contains('no-expanded')

    if (sidebarIconOnly) {
        const menuItem = ev.currentTarget
        if (ev.type === 'mouseenter') {
            menuItem.classList.add('hover-open')
        } else {
            menuItem.classList.remove('hover-open')
        }
    }
}

onBeforeMount(async () => {
    const userStore = useUserStore()
    const data = await userStore.getUserRole()
    roles.value = data
})

onMounted(() => {
    const navItems = document.querySelectorAll('.menu .nav .nav-item')

    for (const navItem of navItems) {
        navItem.addEventListener('mouseenter', handleHover)
        navItem.addEventListener('mouseleave', handleHover)
    }
})

onUnmounted(() => {
    const navItems = document.querySelectorAll('.menu .nav .nav-item')

    for (const navItem of navItems) {
        navItem.removeEventListener('mouseenter', handleHover)
        navItem.removeEventListener('mouseleave', handleHover)
    }
})
</script>
<template>
    <div class="d-flex">
        <aside :class="`${is_expanded ? 'is-expanded' : 'no-expanded'}`">
            <div class="logo">
                <img src="https://s3.cloudfly.vn/wms-obj-st/Logo/logo.png" alt="logo" />
            </div>

            <div class="menu-toggle-wrap">
                <button class="menu-toggle" @click="toggleMenu">
                    <svg-icon class="menu-bar" type="mdi" :path="mdiChevronDoubleRight"></svg-icon>
                </button>
            </div>

            <div class="menu">
                <ul class="nav">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/">
                            <svg-icon class="menu-icon" type="mdi" :path="mdiHomeAnalytics"></svg-icon>
                            <span class="menu-title">Tổng quan</span>
                        </router-link>
                    </li>
                    <li class="nav-item nav-category">Quản lý</li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            data-bs-toggle="collapse"
                            href="#manage-batch"
                            aria-expanded="false"
                            aria-controls="manage-batch"
                        >
                            <svg-icon class="menu-icon" type="mdi" :path="mdiPackageVariant"></svg-icon>
                            <span class="menu-title">Quản lý sản phẩm</span>
                            <svg-icon class="menu-arrow" type="mdi" :path="mdiChevronRight"></svg-icon>
                        </a>
                        <div class="collapse" id="manage-batch">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="">Danh sách sản phẩm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="">Quản lý kho</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="">Đơn yêu cầu</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="">Nhập kho</a></li>
                                <li class="nav-item"><a class="nav-link" href="">Xuất kho</a></li>
                                <li class="nav-item"><a class="nav-link" href="">Kiểm hàng</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <Navbar />
    </div>
</template>
<style lang="scss" scoped>
@import '@/assets/styles/sidebar.scss';
</style>
