<script setup>
import { ref } from 'vue'
import { useProductStore } from '@/stores/store.product'
import * as yup from 'yup'
import { useForm } from 'vee-validate'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiPencilOutline } from '@mdi/js'
import debounce from 'lodash.debounce'
import lodash from 'lodash'
import { useToast } from 'primevue/usetoast'
import { useCategoryStore } from '@/stores/store.category'
import { roles } from '@/constants/role.js'

const categoryStore = useCategoryStore()
const categorys = ref(null)
const userRole = inject('userRole')

onMounted(async () => {
    categorys.value = await categoryStore.getCategories()
})

const productStore = useProductStore()
const toast = useToast()
const props = defineProps({
    product: {
        type: String,
        require: true
    }
})

const emits = defineEmits(['modal-close', 'update-success'])

const modalVisible = ref(false)
const productDetail = ref({})
const canEdit = ref(false)
const isDisabled = ref(false)
const isChanged = ref(false)
const imageFile = ref(null)

const schema = yup.object({
    categoryId: yup.number().required(),
    sku: yup.string().min(1).required(),
    productName: yup.string().min(1).required(),
    productImage: yup.string().min(1).required(),
    visible: yup.boolean().required(),
    unitPrice: yup.number().required(),
    salePrice: yup.number().required(),
    exportPrice: yup.number().required(),
    unitType: yup.number().required(),
    status: yup.number().required()
})

const { values, errors, defineComponentBinds, handleSubmit, resetForm } = useForm({
    validationSchema: schema
})

const categoryId = defineComponentBinds('categoryId')
const sku = defineComponentBinds('sku')
const productName = defineComponentBinds('productName')
const productImage = defineComponentBinds('productImage')
const visible = defineComponentBinds('visible')
const unitPrice = defineComponentBinds('unitPrice')
const costPrice = defineComponentBinds('costPrice')
const exportPrice = defineComponentBinds('exportPrice')
const unitType = defineComponentBinds('unitType')
const status = defineComponentBinds('status')
const productDescription = ref()

watch(
    () => props?.product,
    async (current, prev) => {
        if (current) {
            const response = await productStore.getProductDetail(current)
            productDetail.value = response
            productDescription.value = response.productDescription
            resetForm({ values: productDetail.value })
            isDisabled.value = false
            canEdit.value = false
            modalVisible.value = true
        }
    }
)

watch(values, (current, prev) => {
    if (!lodash.isEqual(current, productDetail)) {
        console.log(current)
        console.log(productDetail)
        isChanged.value = true
    }
})

const onHide = () => {
    emits('modal-close', true)
}

const changeEditState = () => {
    canEdit.value = !canEdit.value
}

const onFileSelected = (event) => {
    const file = event?.files[0]

    if (file) {
        imageFile.value = file
    }
}

const updateChange = debounce(async () => {
    isDisabled.value = true
    const productDetailData = new FormData()
    productDetailData.append('ProductId', values.productId)
    productDetailData.append('CategoryId', values.categoryId)
    productDetailData.append('SKU', values.sku)
    productDetailData.append('ProductName', values.productName)
    productDetailData.append('ProductDescription', productDescription.value)
    productDetailData.append('ProductImage', imageFile.value)
    productDetailData.append('Visible', values.visible)
    productDetailData.append('UnitPrice', values.unitPrice)
    productDetailData.append('SalePrice', values.costPrice)
    productDetailData.append('ExportPrice', values.exportPrice)
    productDetailData.append('UnitType', values.unitPrice)
    productDetailData.append('Status', values.status)
    productDetailData.append('Attributes', values.attributes)

    const code = await productStore.updateProducDetail(productDetailData)

    if (code) {
        isDisabled.value = false
        if (code === 200) {
            toast.add({ severity: 'info', summary: 'Thành công!!!', detail: 'Cập nhật thông tin sản phẩm thành công', life: 3000 })
            modalVisible.value = false
            emits('update-success', true)
        } else {
            toast.add({ severity: 'danger', summary: 'Thất bại!!!', detail: 'Cập nhật thông tin sản phẩm thành công', life: 3000 })
        }
    }
}, 500)
</script>

<template>
    <Dialog
        v-model:visible="modalVisible"
        @hide="onHide"
        modal
        header="Chi tiết sản phẩm"
        :style="{ width: '100rem' }"
        :breakpoints="{ '1199px': '75vw', '575px': '90vw' }"
    >
        <template #footer>
            <Button v-if="canEdit" label="Hủy" severity="secondary" class="rounded" @click="modalVisible = false" text />
            <Button v-if="canEdit" label="Lưu" severity="info" class="rounded" @click="updateChange" />
        </template>
        <form @submit.prevent="">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-center">
                        <b class="my-auto me-2">{{ productName?.modelValue }}</b>
                        <Button
                            v-if="userRole === roles.Base_WM.roleId"
                            class="rounded-pill p-0"
                            severity="info"
                            @click="changeEditState"
                            outlined
                        >
                            <template #icon>
                                <svg-icon type="mdi" :path="mdiPencilOutline"></svg-icon>
                            </template>
                        </Button>
                    </div>
                </div>
            </div>
            <div class="form-row d-flex mb-5 mt-2">
                <div class="form-group col-6 d-flex justify-content-center flex-column">
                    <div>
                        <div class="col-md-12 text-center">
                            <Image v-bind:src="productImage.modelValue" alt="Image" width="300" preview />
                        </div>
                    </div>
                    <div>
                        <div :class="!canEdit ? 'hidden' : 'd-block'" class="col-md-12 text-center">
                            <FileUpload
                                mode="basic"
                                name="demo[]"
                                accept="image/*"
                                @select="onFileSelected"
                                customUpload
                                :chooseLabel="'Tải ảnh lên'"
                                :disabled="!canEdit"
                                :pt="{
                                    label: { style: 'text-overflow: ellipsis; width:10rem; white-space: nowrap; overflow: hidden;' }
                                }"
                            />
                        </div>
                    </div>
                </div>

                <div class="form-group col-6">
                    <div class="item">
                        <label for="sku">SKU</label><br />
                        <InputText class="w-100" id="sku" v-bind="sku" aria-describedby="sku-help" :disabled="!canEdit" />
                        <small id="sku-help">{{ errors?.sku }}</small>
                    </div>
                    <div class="item mt-2">
                        <label for="product-name">Tên sản phẩm</label><br />
                        <InputText
                            class="w-100"
                            id="product-name"
                            v-bind="productName"
                            aria-describedby="product-name-help"
                            :disabled="!canEdit"
                        />
                        <small id="product-name-help">{{ errors?.productName }}</small>
                    </div>
                    <div class="item mt-2">
                        <label for="unit-price">Giá / sản phẩm</label><br />
                        <InputNumber
                            class="w-100"
                            id="unit-price"
                            v-bind="unitPrice"
                            :min="0"
                            mode="currency"
                            currency="VND"
                            locale="vi-VN"
                            aria-describedby="unit-price-help"
                            :disabled="!canEdit"
                        />
                        <small id="unit-price-help">{{ errors?.unitPrice }}</small>
                    </div>
                    <div class="item mt-2">
                        <label for="export-price">Giá xuất</label><br />
                        <InputNumber
                            class="w-100"
                            id="export-price"
                            v-bind="exportPrice"
                            :min="values.unitPrice"
                            mode="currency"
                            currency="VND"
                            locale="vi-VN"
                            aria-describedby="export-price-help"
                            :disabled="!canEdit"
                        />
                        <small id="export-price-help">{{ errors?.exportPrice }}</small>
                    </div>
                    <div class="item mt-2 d-flex justify-content-start">
                        <div class="my-auto me-2">
                            <label for="product-visible">Đang bán</label>
                        </div>
                        <InputSwitch id="product-visible" v-bind="visible" aria-describedby="product-visible-help" :disabled="!canEdit" />
                        <small id="product-visible-help">{{ errors?.visible }}</small>
                    </div>
                    <div class="item mt-2">
                        <label for="product-category">Danh mục sản phẩm</label>
                        <Dropdown
                            v-bind="categoryId"
                            editable
                            :options="categorys"
                            optionLabel="categoryName"
                            class="w-100"
                            placeholder="Loại sản phẩm"
                            option-value="categoryId"
                            :disabled="!canEdit"
                        />

                        <small id="product-category-help">{{ errors?.visible }}</small>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="product-description">Chú thích</label><br />
                <Textarea
                    id="product-description"
                    v-model="productDescription"
                    class="w-100"
                    aria-describedby="product-description-help"
                    autoResize
                    rows="5"
                    cols="30"
                    :disabled="!canEdit"
                />
            </div>

            <div class="form-group mt-5" v-if="productDetail?.attributes?.length > 0">
                <h5>Thuộc tính khác</h5>
                <div class="item" v-for="attribute in productDetail?.attributes">
                    <label :for="`attributeId-${attribute.attributeId}`">{{ attribute?.attributeName }}</label>
                    <InputText
                        :id="`attributeId-${attribute.attributeId}`"
                        :value="attribute?.value"
                        class="form-control"
                        :aria-describedby="`attributeId-${attribute.attributeId}-help`"
                        :disabled="!canEdit"
                    />
                    <small :id="`attributeId-${attribute.attributeId}-help`">{{ errors?.exportPrice }}</small>
                </div>
            </div>
        </form>
    </Dialog>
</template>

<style lang="scss" scoped>
.hidden {
    display: none;
}

.d-block {
    display: block;
}
</style>
