<script></script>

<template>
    <main>
        wallet<i class="t2ico t2ico-wallet"></i><br />
        trending-up<i class="t2ico t2ico-trending-up"></i><br />
        trending-down<i class="t2ico t2ico-trending-down"></i><br />
        ticket-star<i class="t2ico t2ico-ticket-star"></i><br />
        t2ico-lock<i class="t2ico t2ico-lock"></i><br />
        setting<i class="t2ico t2ico-setting"></i><br />
        profile<i class="t2ico t2ico-profile"></i><br />
        presentation<i class="t2ico t2ico-presentation"></i><br />
        plus<i class="t2ico t2ico-plus"></i><br />
        notification<i class="t2ico t2ico-notification"></i><br />
        logout<i class="t2ico t2ico-logout"></i><br />
        location<i class="t2ico t2ico-location"></i><br />
        info-square<i class="t2ico t2ico-info-square"></i><br />
        filter<i class="t2ico t2ico-filter"></i><br />
        document<i class="t2ico t2ico-document"></i><br />
        chart<i class="t2ico t2ico-chart"></i><br />
        category<i class="t2ico t2ico-category"></i><br />
        camera<i class="t2ico t2ico-camera"></i><br />
        calendar<i class="t2ico t2ico-calendar"></i><br />
        arrow-right<i class="t2ico t2ico-arrow-right"></i><br />
        users<i class="t2ico t2ico-users"></i><br />
        <button class="btn btn-primary" data-bs-target="#collapseTarget" data-bs-toggle="collapse">Bootstrap collapse</button>

        <div class="collapse py-2" id="collapseTarget">This is the toggle-able content!</div>
    </main>
</template>
